.new-background-color{
  height: 45px;
    --background: white;
  }
  .loginr{
    color:black;
    font-size: 18px;
    margin-left: 15px;
    margin-top: -35px;
    margin-bottom: 11px;
      }
    .backbutton{
        color: black;
        font-size: xx-large;
      }

.new-background-color1{
--background: #ececec !important;
height: 40px;
}
.cprocess{font-size: 14px;color:#222222;margin-top:10px;margin-left:5px;}
.home{margin-left: 22px;
    margin-top: 6px;
    font-size: small;
    color: grey;}
.forward{margin-left: 5px;
    margin-top: 10px;
    color: grey;}

    .Details{
      border-bottom: 1px solid #E4E4E4;
      color: #505050;
      font-size: 20px;
      margin-left: 10px;
      margin-bottom: 22px;
      margin-top: -7px;
        }
      .allDetails{
        font-size: 14px;
        font-weight: 500;
        color: #232f3e;
        line-height: 16px;
        display: block;
        margin-top: 10px;
        margin-bottom: 3px;
        margin-left: 10px;
      }
      .allDetails1{
        font-size: 14px;
        font-weight: 500;
        color: #232f3e;
        line-height: 16px;
        display: block;
        margin-top: 5px;
        margin-bottom: 3px;
        margin-left: 10px;
      }
      .btn{
        --background: red;
        padding: 0px;
        height: 45px;
        width: 96%;
        margin-top: 19px;
        margin-bottom: 21px;
        color: white;
        margin-left: 7px;
      }
      ion-input{
        --padding-start: 3%;
            --box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            --transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            // display: block;
            // position: static;
            width: 95%;
            // height: 32px;
            font-size: 14px;
            line-height: 1.42857143;
            // color: #555;
            // background-color: #fff;
            // background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            --border-color: var(--ion-color-danger, #f1453d);
            --highlight-background: red;
            margin-left: 7px;
        }
      
        .sc-ion-input-md-h.sc-ion-input-md-s.ng-touched.ng-invalid{
          border: 1px solid red;
        }

        .sc-ion-input-md-h.sc-ion-input-md-s.ng-touched.ng-valid{
          border: 1px solid green;
        }

        .add_text_area{
          border-radius: 8px;
          width: 95%;
          margin-left: 7px;
          border: 1px solid #DCDADA;
        }

      //   ion-select::part(text){
      //     margin-top: -7px;
      //  }

       ion-list {
        margin: 0 !important;
      }
    
      #please-connect {
        position: absolute;
        background-color: #000;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    
      #please-connect p {
          color: #fff;
          font-weight: bold;
          text-align: center;
          position: relative;
          font-size: 1.6em;
          top: 30%;
      }
    
      .scroll-content {
          overflow: hidden;
      }
    
      #map {
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
    
      