<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">
  
    
    <ion-buttons slot="start">
     <ion-back-button (click)="gotoForgetPasswor()" defaultHref="/" class="back"></ion-back-button><br>
      <ion-title class="loginr">Forgot / Password</ion-title>
    </ion-buttons>
  
    
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #F7F5F5 !important"><br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <ion-row style="margin-left: 15px;">
    <ion-col size="10">
    <ion-label class="otpenter">Enter your 4 digit OTP, Recieved on your mobile number </ion-label>
    </ion-col>
</ion-row>

<ion-item lines="inset" style="--background: #F7F5F5;margin-top: 24px;width: 82%;">
  <ion-label position="floating"  class="passwordconfirm" style="font-size: 15px;">Enter OTP </ion-label>
    <ion-input  type="text" type="password" name='otp' formControlName="otp" ></ion-input>
</ion-item>

<div  style="margin-bottom: -11px;margin-top: 3px; margin-left: 15px;font-size: 14px;color: red;"  *ngIf="submitted  && f('otp').hasError('required')" [style.color]="'red'">
  <span *ngIf="f('otp').hasError('required')">Can't be empty</span>
</div>

<div  style="margin-bottom: -11px;margin-top: 3px; margin-left: 15px;font-size: 14px;color: red;"  *ngIf="f('otp').hasError('pattern')"  >
                   Input must be a number!
               </div>

  <ion-button expand="block" id="con_btn"  type="submit" >Continue</ion-button>

  <ion-item class="mar_top" lines="none" (click)="resendPassword()" style="--background: #F7F5F5;" line="none">
    <ion-label class="lock1"><a style="color: red;" >Resend OTP</a></ion-label>
  </ion-item>
  
</form>
  <!-- <div class="changemobilenumber" (click)="resendPassword()">Resend OTP</div> -->
  

</ion-content>