.new-background-color{
  height: 47px;
  --background: white;
}
.loginr{
color: black;
font-size: 16px;
margin-left: -22px;
margin-top: 9px;
margin-bottom: 11px;
font-weight: 500;
}
.back{
margin-top: -3px;
color: black;
}

.new-background-color1{
--background: #ececec !important;
height: 40px;
}
.cprocess{font-size: 14px;color:#222222;margin-top:10px;margin-left:5px;}
.home{
  margin-left: 22px;
  margin-top: 6px;
  font-size: small;
  color: grey;
}
.forward{
  margin-left: 15px;
  margin-top: 8px;
  color: grey;}
.loginred{
  color: #EF3926;
  font-size: 18px;
  margin-bottom: 11px;
  font-weight: 400;}
.lock{
color: #EF3B26;
font-weight: 600;
}
.lock1{
  color: #EF3B26;
  margin-top: -24px;
  margin-top: 14px;
}
.btn{
  --background: red;
  width: 100%;
  --border-radius: none;
  color: white;
  margin-top: 24px;
  margin-bottom: 21px;
  font-size: 17px;
  height: 57px;
  margin-left: -1px;
  }

.otpenter{
  color: #555;
  font-size: 14px;
  line-height: 22px;

}
// ion-input{
//   display:inline-block;
//   width:50px;
//   height:50px;
//   margin:10px;
//   border-radius: 50%;
//   --background:#e1e1e1;
//   --padding-start:7px;
  
//   }
.changemobilenumber{
  font-size: 15px;
  margin-left: 21px;
  margin-top: -94px;
}
.otp{
  display: block;
  padding: .6em 0;
  width: 100%;
  font-size: 14px;
  color: #6a7989;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 30px;
}

.new_int{
    --background: #f8f5f500;
}

.lock1{
  color: #EF3B26;
}

// .passwordconfirm{
//   font-size: 15px;
// }

// .mar_top{
//   margin-top: 13px;
//   margin-left: 3px;
// }

#con_btn{
  --background: red;
    height: 40px;
    width: 345px;
    margin-top: 30px;
    color: white;
    margin-left: 8px;
}