<h2 mat-dialog-title>Confirm</h2>
<mat-dialog-content>Your order will be processed via a {{paymentTypeName}}!</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="confirmOrder()">Yes</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">No</button>
</mat-dialog-actions>