.new-background-color{
    // height: 58px;
  }
  .ssearch{
    --border-radius: 6px !important;
    width: 110%;
    margin-left: -46px;
    margin-top: -8px;
  }
  #mipics{
    z-index: 9999;
    left: 35%;
    position: fixed;
    top: 2px;
    // height: 17%;
}

.manu_button{
    font-size: 250%;
    color: red;
    margin-top: 30px;
    margin-left: -4px;
    width: 61px !important;
  }
.new-background-color1{
    --background: #ececec !important;
    height: 40px;
    }
.cprocess{font-size: 14px;color:#222222;margin-top:5px;margin-left:5px;font-weight:500;}
.home{margin-left: 22px;
        margin-top: 6px;
        font-size: small;
        color: grey;}
.forward{margin-left: 5px;
        margin-top: 10px;
        color: grey;}
        .bbutton1{
            border-left: 0;
            --border-right: 0;
            display: inline-block;
            position: fixed;
            left: 0;
            bottom: -1px;
            right: 0;
            font-size: 14px;
            color: #fff;
            --background: black;
            width: 28%;
            height: 48px;
            --border-radius: none;
            text-transform: capitalize;
        }
.bbutton2{
            border-left: 0;
            --border-right: 0;
            display: inline-block;
            position: fixed;
            left: 100px;
            bottom: -1px;
            right: 0;
            font-size: 14px;
            --background: black;
            width: 37%;
            height: 48px;
            --border-radius: none;
            color: #fff;
            text-transform: capitalize;
            border-left: 1px solid#fff;
        }
.bbutton3{
            border-left: 0;
            --border-right: 0;
            display: inline-block;
            position: fixed;
            left: 244;
            bottom: -1px;
            right: 0;
            --border-radius: none;
            font-size: 14px;
            --background: black;
            color: #fff;
            width: 34%;
            height: 48px;
            --border-radius: none;
            text-transform: capitalize;
}
ion-card{
    background-color: #fff;
    padding: 12px 24px 36px;
    --border-radius: none !important;
    // height: 165px;
    width: 92%;
    margin: 3px 0px 0px 14px;
    box-shadow: 0 0 10px #E0E0E0;
}
.changepass{
    border-top: 3px solid red;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 4px #D2D2D2;
    color: #555;
    padding: 5px 15px;
    margin-top: 27px;
    width: 93%;
    height: 45px;
    margin-left: 12px;

}
.changepasst{
    line-height: 34px;
    padding: 0;
    margin: 0;
    font-size: 17px;
    color: red;
    text-transform: uppercase;
    font-weight: 600;
}
.deliveryadd{
    font-size: 18px !important;
    border-bottom: 0px solid #616161;
    color: #474848 !important;
    font-weight: 600 !important;
}
.name{
    margin: -9px 0;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
    color: purple;
    text-transform: capitalize;

}
.addres{
    margin: 14px 0;
    font-size: 13px;
    font-weight: 400;
    color: #7D7D7D;
    text-align: justify;
}
.pin{
    margin: 5px 0;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
    color: #BCBCBC;
}
.mobile{
    font-size: 14px;
    margin: 10px 0;
    color: purple;
    font-weight: 600;
}
.number{
    margin: 0 10px;
    color: #7D7D7D;
    font-weight: 400;
}
.iconadd{
    margin: -18px 5px 0px 256px;
    background: #868686;
    color: #ffffff;
    font-size: 31px;
   }

   .sbtn{
    margin-left: 250px;
    color: black !important;
    --background: white;
    margin-top: 29px;
    font-size: x-large;
    outline: none !important;
    --box-shadow: none !important;
    }

      .s-f{
    font-size: 11px;
  }


  .pos{
    position: fixed;
      bottom: 0;
  }