<!-- <ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">
  <a routerLink="/delivery-address"><ion-icon name="chevron-back" class="backbutton"></ion-icon></a>
     <ion-title class="loginr">Coupon</ion-title>
 </ion-toolbar>
</ion-header> -->
<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color" >
  
  <!-- <button class="btn btn-primary">Login</button> -->

    <ion-buttons slot="start" >
      <ion-menu-button menu="main-menu" style="color: red;    width: 61px;font-size: xxx-large;"></ion-menu-button>
    </ion-buttons>
    
  
      

    
  
    <ion-button slot="end" style="--background: white;--box-shadow: none;" (click)="openmodal()"  ><ion-icon style="color: black;height: 54px;width: 36px;" name="search"></ion-icon></ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="paymentbup">

  <div>
    <img ion-center src="./assets/five-star-images/logo.png" id="mipics" routerLink='/tabs/tab1'>
  </div>
  <!-- <ion-header class="new-background-color1" style="background-color:#ececec;">
    
      <ion-label><ion-icon name="home" class="home"></ion-icon></ion-label>
      <ion-label><ion-icon name="chevron-forward" class="forward"></ion-icon></ion-label>
      <label class="cprocess">Coupon</label>
    </ion-header> -->
<ion-grid>
  <ion-row>
    <ion-col col-12 col-xl-2 col-lg-3 col-md-4>
      <ion-card class="couponheader ion-padding-vertical  ion-margin-vertical">
          <ion-row>
            <ion-col size="11">
              <ion-label class="couponcode">Coupon Code</ion-label>
            </ion-col>
            <ion-col size="1" class="ion-float-right">
              <!-- <img src="assets/five-star-images/catalog/coupon.png" id="img_op"> -->
              <ion-img style="width: 147%;" src="assets/five-star-images/catalog/coupon.png" id="img_op"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row class="codeenter">Enter your coupon code if you have one.</ion-row>
          <ion-input ></ion-input>
          <ion-button class="btn1 ion-margin-vertical"><span style="font-weight: bolder;font-size: 10px;">Apply Coupon</span></ion-button>
      </ion-card>

      <ion-card style="box-shadow: none !important;">
        <ion-card-content class="ion-no-padding">
          <div class="ordertotal">Order Total</div>
      
      
          <ion-list style=" border-bottom: 1px dotted #c7c7c7;">
            <ion-item  lines="none">
              <ion-col  size="6" class="Total-Mrp"> 
                <h2 class="font-s">
                  Total-Mrp :
                </h2>
              
             </ion-col>
          <ion-col size="6" > 
                <div class="gtotal ion-float-right"><i class="fa fa-rupee" >{{ getTotal2() | number:'1.0-2'}}</i></div>
              </ion-col>
            </ion-item>
          </ion-list>
          
          <ion-list style=" border-bottom: 1px dotted #c7c7c7;">
            <ion-item  lines="none">
              <ion-col  size="6" class="Total-Mrp"> 
                <h2 class="font-s">
                  You Save : 
                </h2>
              
             </ion-col>
          <ion-col size="6" > 
                <div class="gtotal ion-float-right"><i class="fa fa-rupee" >{{ priceSave() | number:'1.0-2' }}</i></div>
              </ion-col>
            </ion-item>
          </ion-list>
          
          <ion-list style=" border-bottom: 1px dotted #c7c7c7;">
            <ion-item  lines="none">
              <ion-col  size="6" class="Total-Mrp"> 
                <h2 class="font-s">
                  Sub-Total :
                </h2>
          
             </ion-col>
          <ion-col size="6" > 
                <div class="gtotal ion-float-right"><i class="fa fa-rupee" >{{  subTotal() | number:'1.0-2'}}</i></div>
              </ion-col>
            </ion-item>
          </ion-list>
          
          <ion-list style=" border-bottom: 1px dotted #c7c7c7;"  *ngIf="taxes.CGST != 0">
            <ion-item  lines="none">
              <ion-col  size="6" class="Total-Mrp"> 
                <h2 class="font-s">
                  CGST :
                </h2>
          
             </ion-col>
          <ion-col size="6" > 
                <div class="gtotal ion-float-right"><i class="fa fa-rupee" >{{  taxes.CGST | number:'1.0-2' }}</i></div>
              </ion-col>
            </ion-item>
          </ion-list>
          
          <ion-list style=" border-bottom: 1px dotted #c7c7c7;"  *ngIf="taxes.SGST != 0">
            <ion-item  lines="none">
              <ion-col  size="6" class="Total-Mrp"> 
                <h2 class="font-s">
                  SGST :
                </h2>
          
             </ion-col>
          <ion-col size="6" > 
                <div class="gtotal ion-float-right"><i class="fa fa-rupee" >{{  taxes.SGST | number:'1.0-2'}}</i></div>
              </ion-col>
            </ion-item>
          </ion-list>
          
          <ion-list style=" border-bottom: 1px dotted #c7c7c7;"  *ngIf="taxes.VAT != 0">
            <ion-item  lines="none">
              <ion-col  size="6" class="Total-Mrp"> 
                <h2 class="font-s">
                  VAT :
                </h2>
          
             </ion-col>
          <ion-col size="6" > 
                <div class="gtotal ion-float-right"><i class="fa fa-rupee" >{{  taxes.VAT | number:'1.0-2' }}</i></div>
              </ion-col>
            </ion-item>
          </ion-list>
          
          
          <ion-list style=" border-bottom: 1px dotted #c7c7c7;">
            <ion-item  lines="none">
              <ion-col  size="6" class="Total-Mrp"> 
                <h2 class="font-s">
                  Total Taxes :
                </h2>
          
             </ion-col>
          <ion-col size="6" > 
                <div class="gtotal ion-float-right"><i class="fa fa-rupee" >{{  totalTaxes() | number:'1.0-2'}}</i></div>
              </ion-col>
            </ion-item>
          </ion-list>

          <ion-list style=" border-bottom: 1px dotted #c7c7c7;">
            <ion-item  lines="none">
              <ion-col  size="6" class="Total-Mrp"> 
                <h2 class="font-s">
                  Delivery Charges :
                </h2>
          
             </ion-col>
          <ion-col size="6" > 
                <div class="gtotal ion-float-right"><i class="fa fa-rupee" >{{deliveryCharges}}</i></div>
              </ion-col>
            </ion-item>
          </ion-list>
          
          
          <!-- <ion-list style=" border-bottom: 1px dotted #c7c7c7;">
            <ion-item  lines="none" style="height: 31px;">
              <ion-col  size="6" class="deliverychages"> 
                <h2 class="font-s">
                  Delivery Charges :
                </h2>
             </ion-col>
          <ion-col size="6" > 
                <div class="deliverychage ion-float-right">Free</div>
              </ion-col>
            </ion-item>
          </ion-list> -->
          
          <ion-list>
            <ion-item  lines="none">
              <ion-col  size="11" class="grndtotl"> 
              Grand Total :
             </ion-col>
          <ion-col size="1" > 
            <!-- <div class="grandtotal"><i class="fa fa-rupee" >{{ getTotal() }}</i></div> -->
            <div class="qty_last ion-float-right"><i class="fa fa-rupee" >{{ grandTotal() }}</i></div>
              </ion-col>
            </ion-item>
          </ion-list>
          
        </ion-card-content>
      </ion-card>
      
     
      <ion-button class="btn2" routerLink='/makepayment'><span id="btn_con">Confirm my order</span></ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>