.new-background-color{
  
    // --background: linear-gradient(222deg, #689f39 83%, #689f39 83.11%);
  }
  .loginr{
    color: #fff;
    font-size: 18px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    // justify-content: start;
    width: 100%;
    min-height: 44px;
    margin-top: -41px;
    margin-left: 27px;
    }
    .backbutton{
        color: white;
        font-size: xx-large;
      }

.new-background-color1{
--background: #ececec !important;
height: 40px;
}
.cprocess{font-size: 14px;color:#222222;margin-top:10px;margin-left:5px;}
.home{margin-left: 22px;
    margin-top: 6px;
    font-size: small;
    color: grey;}
.forward{margin-left: 5px;
    margin-top: 10px;
    color: grey;}
.loginred{
    color: #EF3926;
    font-size: 22px;
    margin: 10px 0 0;
    font-weight: 400;
    margin-top: 30px;
}
.couponheader{
    background: #e2fbbf;
    // position: relative;
    padding: 10px;
    border-radius: 4px;
    // margin: 13px 0px 0px 7px;
    // width: 96%;
    // height: 169px;
}
.couponcode{
    color: #5e942b;
    font: 500 16px/1.55 Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0px;
}
.codeenter{
    font-size: 14px;
    margin-top: 4px;
    font-weight: 500;
    color: #232f3e;
    line-height: 16px;
    display: block;
}
// .couponimg{
//     margin-left: 175px;
// }

.img_op{
    width: 55px;
}
.btn1 {
    // font-family: inherit;
    --color: #fff!important;
    --background: red;
    // margin-top: 8px;
    // display: inline-block;
    // text-transform: uppercase;
    letter-spacing: 1px;
    // font-weight: 700;
    // position: relative;
    // transition: all .3s;
    font-size: 12px;
    --border-radius: 0;
    // border: 3px solid #fff;
    // height: 45px;
    // width: 41%;
    }
    ion-input{
        --box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        --transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        display: block;
        width: 100%;
          height: 34px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          --border-color: var(--ion-color-danger, #f1453d);
          --highlight-background: red;
          margin-top: 10px;
      }
.ordertotal{
    color: #5e942b;
    font: 500 16px/1.55 Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}
.Total-Mrp{
    color: #565656;
    margin: 5px 0;
    font-weight: 600;
    padding: 0;
    font-size: 16px;
}
.deliverychages{
    // margin-top: -26px;
    // padding: 0 !important;
    font-size: 12px !important;
    color: #525252 !important;
}
.deliverychage{
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: -21px;
    margin-left: 53px;
    color: #689f39;
}
.gtotal{
    // margin-left: 55px;
    color: #565656;
    font-size: 15px;
}
.grndtotl{
    font-size: 20px;
    margin: 10px 0;
    padding: 5px 0;
    color: #434343;
    font-weight: 600;
  
}
.grandtotal{
    font-size: 22px;
    margin-left: 49px;
    padding: 5px 0;
    color: #434343;
    font-weight: 800;
}
.btn2 {
    font-family: inherit;
    --color: #fff!important;
    --background: red;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    transition: all .3s;
    font-size: 14px;
    --border-radius: 0;
    border: 3px solid #fff;
    height: 50px;
    width: 55%;
    margin: 0px 0px 52px 13px;
    }

    .font-s{
        font-size: 14px;
        margin: 0;
        font-weight: bold;
    }
    .qty_last{
        // display: flex;
        // position: absolute;
        // left: 57px;
        font-size: 19px;
        font-weight: 600;
        // width: 100%;
        // margin-top: -13px;
        color: #0f6fb6;
      }

    #btn_con{
        font-size: 11px;
    font-weight: bolder;
    }

    #mipics{
        z-index: 9999;
        left: 37%;
        position: fixed;
        top: 2px;
        
      }