.new-background-color{
  // height:58px;
}
#mipics{
  z-index: 9999;
  left: 35%;
  position: fixed;
  top: 2px;
  // height: 17%;
}
.new-background-color1{
  background-color:#ececec;margin-top: -16px;height: 40px;
}
.cprocess{font-size: 14px;color:#222222;margin-top:10px;margin-left:5px;}
.home{
    margin-left: 22px;
    margin-top: 6px;
    font-size: small;
    color: grey;
}
.forward{
    margin-left: 15px;
    margin-top: 8px;
    color: grey;}
.loginred{
    color: #EF3926;
    font-size: 22px;
    margin: 10px 0 0;
    font-weight: 400;}

ion-input{
  --padding-start: 3%;
        --box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        --transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        // display: block;
        // position: static;
        // width: 95%;
        // height: 32px;
        font-size: 14px;
        line-height: 1.42857143;
        // color: #555;
        // background-color: #fff;
        // background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        --border-color: var(--ion-color-danger, #f1453d);
        --highlight-background: red;
        // margin-left: 7px;
}

  
.Details{
  border-bottom: 1px solid #E4E4E4;
  color: #505050;
  font-size: 18px;
  }
.allDetails{
  font-size: 13px;
  font-weight: 600;
  color: #232f3e;
  line-height: 16px;
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
}
.allDetails1{
  font-size: 13px;
  font-weight: 600;
  color: #232f3e;
  line-height: 16px;
  display: block;
  margin-top: 7px;
  margin-bottom: 3px;
}
.btn{
  font-family: inherit;
  color: white;
  --background: red;
  --background-activated: red;
  width: 100%;
  
  --border-radius: none;
  padding: 8px 10px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  transition: all .3s;
  font-size: 12px;
  height: 53px;
  text-align: center;
  position: relative;
  top: 9px;
  
  --border: 3px solid #fff;
  color: #fff;
}
.changepass{
  border-top: 3px solid red;
  position: relative;
  background: #fff;
  box-shadow: 0 2px 4px #D2D2D2;
  color: #555;
  padding: 5px 15px;
  margin-top: 27px;
  width: 93%;
  height: 45px;
  margin-left: 12px;

}
.changepasst{
  line-height: 34px;
  padding: 0;
  margin: 0;
  font-size: 17px;
  color: red;
  text-transform: uppercase;
  font-weight: 600;
}
ion-card{
  background-color: #fff;
  padding: 12px 24px 36px;
  --border-radius: none !important;
  width: 92%;
  margin: 3px 0px 27px 14px;
  box-shadow: 0 0 10px #E0E0E0;
}
.bbutton1{
  border-left: 0;
  --border-right: 0;
  display: inline-block;
  position: fixed;
  left: 0;
  bottom: -1px;
  right: 0;
  font-size: 14px;
  color: #fff;
  --background: black;
  width: 28%;
  height: 48px;
  --border-radius: none;
  text-transform: capitalize;
}
.bbutton2{
  border-left: 0;
  --border-right: 0;
  display: inline-block;
  position: fixed;
  left: 100px;
  bottom: -1px;
  right: 0;
  font-size: 14px;
  --background: black;
  width: 37%;
  height: 48px;
  --border-radius: none;
  color: #fff;
  text-transform: capitalize;
  border-left: 1px solid#fff;
}
.bbutton3{
  border-left: 0;
  --border-right: 0;
  display: inline-block;
  position: fixed;
  left: 244;
  bottom: -1px;
  right: 0;
  --border-radius: none;
  font-size: 14px;
  --background: black;
  color: #fff;
  width: 34%;
  height: 48px;
  --border-radius: none;
  text-transform: capitalize;
}

// .add_text_area{
//     border-radius: 8px;
//     width: 269px;
//     margin-left: -2px;
//     border: 1px solid #DCDADA;
// }

.add_text_area{
  border-radius: 8px;
  --padding-start: 3%;
    // width: 269px;
    margin-left: -2px;
    border: 1px solid #DCDADA;
}

.manu_button{
  font-size: 250%;
  color: red;
  margin-top: 30px;
  margin-left: -4px;
  width: 61px !important;
}

.sbtn{
  margin-left: 250px;
  color: black !important;
  --background: white;
  margin-top: 29px;
  font-size: x-large;
  outline: none !important;
  --box-shadow: none !important;
  }

  .s-f{
    font-size: 11px;
  }

  .pos{
    position: fixed;
      bottom: 0;
  }

  ion-select::part(text){
    margin-top: -7px;
 }

 ion-list {
  margin: 0 !important;
}

#please-connect {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#please-connect p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 1.6em;
    top: 30%;
}

.scroll-content {
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectdiv {
  // position: relative;
  // /*Don't really need this just for demo styling*/
  
  // float: left;
  // min-width: 200px;
  // margin: 50px 33%;
  position: relative;
  float: left;
  min-width: 103%;
  margin-left: -3%;
}

/*To remove button from IE11, thank you Matt */
select::-ms-expand {
     display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  // max-width: 320px;
  height: 50px;
  // float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}