<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color" >
  
  <!-- <button class="btn btn-primary">Login</button> -->

    <ion-buttons slot="start" >
      <ion-menu-button menu="main-menu" style="color: red;    width: 61px;font-size: xxx-large;"></ion-menu-button>
    </ion-buttons>
    
  
      

    
  
    <ion-button slot="end" style="--background: white;--box-shadow: none;"   ><ion-icon style="color: black;height: 54px;width: 36px;" name="search"></ion-icon></ion-button>

  </ion-toolbar>
</ion-header>

<div style="margin-bottom: 45px;">
  <img ion-center src="./assets/five-star-images/logo.png" id="mipics" routerLink='/tabs/tab1'>
</div>
<ion-content><br>
      <!-- <ion-header class="new-background-color1">
      <ion-label><ion-icon name="home" class="home"></ion-icon></ion-label>
      <ion-label><ion-icon name="chevron-forward" class="forward"></ion-icon></ion-label>
      <label class="cprocess">Save Address</label>
      </ion-header> -->

    

      <ion-row class="changepass"><div class="changepasst">ADDRESS LIST</div></ion-row>
      <ion-card>
      <ion-row class="Details">Personal Details</ion-row>

      <form [formGroup]="form"  (ngSubmit)="onSubmit()" >
              <!-- <ion-label  class="allDetails1">Pincode</ion-label>
              <ion-input  name="pincode" [(ngModel)]="saveUser.pincode" formControlName='pincode'></ion-input> -->

              
            <div>
              <ion-label class="allDetails1">Pincode</ion-label>
              <ion-input (ionInput)="checkValue()" (ionBlur)="applyValidation()"  name="pincode" placeholder="Search Pincode" formControlName='pincode'  [(ngModel)]="saveUser.pincode" ></ion-input>
              <div  style="margin-bottom: 16px;"  *ngIf="submitted  && f('pincode').hasError('required')" [style.color]="'red'">
                <span *ngIf="f('pincode').hasError('required')">Can't be empty</span>
              </div>
              <div [style.color]="'red'" style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="f('pincode').hasError('pattern')"  >
                Input must be a number!
            </div>

              <div  style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="form.get('pincode').touched && pincodeCheck" [style.color]="'red'">
                <span>Delivery not available in this area!</span>
              </div>
        
              <div  style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="pincodeCheckONSubmit" [style.color]="'red'">
                <span>Delivery not available in this area!</span>
              </div>
              
            </div>
      
              <!-- <ion-label  class="allDetails">First Name</ion-label>
              <ion-input  formControlName='fristName' name='fristName' [(ngModel)]="saveUser.fristName"  ></ion-input>
       -->

       <div>
        <ion-label class="allDetails">First Name</ion-label>
         <ion-input type="text" placeholder="Your First Name" name="fristName" formControlName='fristName'  [(ngModel)]="saveUser.fristName"></ion-input>
         <div  style="margin-bottom: 16px;"  *ngIf="submitted  && f('fristName').hasError('required')" [style.color]="'red'">
          <span *ngIf="f('fristName').hasError('required')">Can't be empty</span>
        </div>

        <div  [style.color]="'red'" style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="f('fristName').hasError('pattern')"  >
          Input must be a character!
      </div>
      </div>

        <div>
              <ion-label class="allDetails">Last Name</ion-label>
              <ion-input type="text" placeholder="Your Last Name" formControlName='lastName'  [(ngModel)]="saveUser.lastName"></ion-input>

                  <div  style="margin-bottom: 16px;"  *ngIf="submitted  && f('lastName').hasError('required')" [style.color]="'red'">
                    <span *ngIf="f('lastName').hasError('required')">Can't be empty</span>
                  </div>

                  <div  [style.color]="'red'" style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="f('lastName').hasError('pattern')"  >
                    Input must be a character!
                </div>
               
            </div>
              <!-- <ion-label class="allDetails">Address</ion-label>
              <div *ngFor="let add of saveUser.addressUser">
                <ion-row class="addres">{{}}</ion-row>
                <ion-input name='street1' [(ngModel)]="add.street1" formControlName="street1"  style="height:100px;"></ion-input>
              </div> -->
      
              <div>
                <ion-label class="allDetails">Address</ion-label>
                <div *ngFor="let add of saveUser.addressUser">
                  <!-- <ion-row class="addres">{{}}</ion-row> -->
                  <!-- <ion-input name='street1' [(ngModel)]="add.street1" formControlName="street1" style="height:100px;"></ion-input> -->
                  <ion-textarea name='street1'  class="add_text_area"  [(ngModel)]="add.street1" formControlName="street1" ></ion-textarea>
                </div>
             
                <!-- <ion-input type="text" style="height:100px;"  name="address1" [(ngModel)]="address1" formControlName="street1"></ion-input> -->
                  <div  style="margin-bottom: 16px;"  *ngIf="submitted  && f('street1').hasError('required')" [style.color]="'red'">
                    <span *ngIf="f('street1').hasError('required')">Can't be empty</span>
                  </div>

                  
              <div>
                <ion-list *ngFor="let place of places" >
                    <ion-item (click)="selectPlace(place)">{{place.description}}</ion-item>
                </ion-list>
            </div>
              </div>
             
      
<!--               
                <ion-label class="allDetails">Mobile</ion-label>
                <ion-input  name="mobileNo" formControlName='mobileNo'  [(ngModel)]="saveUser.mobileNo"></ion-input> -->
    
      
                <div>
                  <ion-label class="allDetails ion-margin-top">Mobile</ion-label>
                  <!-- <ion-input disabled="true" formControlName='mobileNo'  [(ngModel)]="saveUser.mobileNo" ></ion-input>
                  <div  style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="submitted  && f('mobileNo').hasError('required')" [style.color]="'red'">
                    <span *ngIf="f('mobileNo').hasError('required')">Can't be empty</span>
                  </div>
                  <div class="alert alert-danger" style="color: red;" *ngIf="form.get('mobileNo').touched && form.get('mobileNo').invalid">
                         <div *ngIf="form.get('mobileNo').errors.minlength">
                            Must be 10 characters long!
                        </div>
                  </div>  -->
                  <ion-label class="ion-margin-vertical">{{moNumber}}</ion-label>
            </div>

            
            <div class="ion-margin-vertical"> 
              <div class="form_row">
                <div formGroupName="state">
                  <ion-label class="allDetails">State</ion-label>
                  <!-- <div class="selector_overlay selectdiv" >
                    <select style="width: 95%;margin-left: 2%;" (change)="filterState()"  [(ngModel)]="saveUser.state.stateName" formControlName="stateName" name="state" class="required">
                      <option value="{{saveUser.state.stateName}}"  disabled selected>{{saveUser.state.stateName}}</option>
                      <option *ngFor='let state of states'  [ngValue]="state">{{state.stateName}}</option>
                    </select>
            
                    <div  style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="submitted  && s('stateName').hasError('required')" [style.color]="'red'">
                      <span *ngIf="s('stateName').hasError('required')">Can't be empty</span>
                    </div>
                  </div> -->
                  <div>
                    <select style="width: 99%;height: 40px;" (change)="filterState()"  [ngModel]="saveUser.state.stateName" formControlName="stateName" name="state" class="required">
                      <option value="{{saveUser.state.stateName}}"  disabled selected>{{saveUser.state.stateName}}</option>
                      <option *ngFor='let state of states'  [ngValue]="state">{{state.stateName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          
        
            <div class="ion-margin-vertical">
              <div class="form_row" >
                <div formGroupName="city">
                  <ion-label class="allDetails ion-margin-top">City</ion-label>
                  <!-- <div class="selector_overlay selectdiv">
                    <select style="width: 95%;margin-left: 2%;" (change)="filterCity()"  [(ngModel)]="saveUser.city.cityName" formControlName="cityName" name="city" class="required">
                      <option value="{{saveUser.city.cityName}}" disabled selected>{{saveUser.city.cityName}}</option>
                      <option *ngFor="let city of cities.citys" [ngValue]="city">{{city.cityName}}</option>
                    </select>
            
            
                    <div  style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="submitted  && c('cityName').hasError('required')" [style.color]="'red'">
                      <span *ngIf="c('cityName').hasError('required')">Can't be empty</span>
                    </div>
                </div>  -->
                <div>
                  <select style="width: 99%;height: 40px;" (change)="filterCity()"  [ngModel]="saveUser.city.cityName" formControlName="cityName" name="city" class="required">
                    <option value="{{saveUser.city.cityName}}" disabled selected>{{saveUser.city.cityName}}</option>
                    <option *ngFor="let city of cities.citys" [ngValue]="city">{{city.cityName}}</option>
                  </select>
                </div>
                </div>
              </div>
            </div>
            
               
           <ion-button expand="block" type="submit" class="btn">Save And Continue</ion-button>
              <!-- <ion-button expand="block" type="submit" [disabled]="!form.valid"  (click)="saveUserData()" class="btn">Save And Continue</ion-button> -->
            
            </form>
            
                
   </ion-card>

                <!-- <ion-item>
                  <ion-button class="bbutton1" routerLink='/my-order'><span class="s-f">My Orders</span></ion-button>
                  <ion-button class="bbutton2" routerLink='/change-password'><span class="s-f">Change Password</span></ion-button>
                  <ion-button class="bbutton3" routerLink="/delivery-address"><span class="s-f">Delivery address</span></ion-button>
                </ion-item> -->
    </ion-content>

    <ion-footer class="pos">
      <ion-toolbar style="--background: black;">
        <ion-grid>
          <ion-row style="text-align: center;">
            <ion-col size="3"  (click)="gotoMyOrder()">
              <ion-label ><span style="font-size: 12px;color: white;">My Orders</span></ion-label>
              
              
            </ion-col>
            
            <ion-col size="5"  (click)="gotoChangePassword()">
              <ion-label><span style="font-size: 12px;color: white">Change Password</span></ion-label>
               
             
            </ion-col>
      
            <ion-col size="4"  (click)="gotoAddress()">
           
              <ion-label><span style="font-size: 12px;color: white">Delivery address</span></ion-label>
             
            </ion-col>
          </ion-row>
        </ion-grid>
       
        
        <!-- <ion-title>Footer - No Border</ion-title> -->
      </ion-toolbar>
    </ion-footer>