<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">
    <div style="display: flex;
    margin-top: 5px;">
      <a (click)="gotoSignUp()"><ion-icon (click)="gotoSignUp()" name="chevron-back" class="backbutton"></ion-icon></a>
      <ion-label >Back</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #F7F5F5 !important"><br>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" style="--background: #F7F5F5;">
          <ion-label style="color: red;font-size: 18px;">Login / Register</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" style="--background: #F7F5F5;">
          <ion-label class="otpenter">Enter your 4 digit OTP, Recieved on your mobile number</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item lines="inset" style="--background: #F7F5F5;width: 86%;">
            <ion-label style="    font-size: 14px;" position="floating" class="passwordconfirm">Enter OTP </ion-label>

            <ion-input (ionFocus)='makeValueFalse()' class="new_int" type="password" formControlName="otp"></ion-input>
          </ion-item>
          <div style="margin-bottom: 16px; margin-left: 15px;" *ngIf="submitted  && f('otp').hasError('required')"
            [style.color]="'red'">
            <span *ngIf="f('otp').hasError('required')">Can't be empty</span>
          </div>

          <div *ngIf="showNotVerified" style="margin-bottom: 16px; margin-left: 15px;"
          [style.color]="'red'">
          <span>otp is not verified</span>
        </div>

        <div *ngIf="otpExpired" style="margin-bottom: 16px; margin-left: 15px;"
        [style.color]="'red'">
        <span>your otp is expired please re-generate the otp</span>
      </div>
          
          <div  style="margin-bottom: -11px;margin-top: 3px; margin-left: 15px;font-size: 14px;color: red;"  *ngIf="f('otp').hasError('pattern')"  >
            Input must be a number!
        </div>

          <div class="changemobilenumber" (click)="resendPassword()">Resend OTP</div>
          <ion-button type="submit" class="ion-margin-top" style="--background: red;" expand="block" strong="true" >Continue</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>