.new-background-color{
  
    --background: white;
  }
.loginr{
  color: black;
  font-size: 16px;
  margin-left: -22px;
  margin-top: 9px;
  margin-bottom: 11px;
  }
.back{
  margin-top: -4px;
  color: black;
  }

.new-background-color1{
--background: #ececec !important;
height: 40px;
}
.cprocess{font-size: 14px;color:#222222;margin-top:10px;margin-left:5px;}
.home{
    margin-left: 22px;
    margin-top: 6px;
    font-size: small;
    color: grey;
}
.forward{
    margin-left: 15px;
    margin-top: 8px;
    color: grey;}
.loginred{
  color: #EF3926;
  font-size: 16px;
  margin-top: -7px;
  margin-bottom: 0px;
  font-weight: 600;
  margin-left: -7px;}
.lock{
  color: #EF3B26;
  font-weight: 600;
}
.lock1{
  color: #EF3B26;
}
.btn{
  --background: red;
padding: 0px;
height: 41px;
width: 348px;
margin-top: 5px;
color: white;
margin-left: 6px;
}
.backbutton{
  color: black;
  margin-left: 13px;

  font-size: x-large;
}

.otpenter{
    color: #555;
    font-size: 13px;
    line-height: 22px;

}
// ion-input{
//     display:inline-block;
//     width:50px;
//     height:50px;
//     margin:10px;
//     border-radius: 50%;
//     --background:#e1e1e1;
//     --padding-start:7px;
    
//     }
.changemobilenumber{
  font-size: 15px;
    margin-left: 11px;
    font-weight: 100;
    color: red;
    margin-top: 35px;
}
.otp{
    display: block;
    padding: .6em 0;
    width: 100%;
    font-size: 14px;
    color: #6a7989;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 30px;
}

.new_int{
  width: 100%;
    height: 100%;
    // margin-top: 10px;
    border-radius: 0;
    --background: #f8f5f500;
}

// .passwordconfirm{
//   font-size: 15px;
// }