.new-background-color{
    // height: 63px;
  }
  .headers{
    z-index: 0 !important;
  }
  #mipics{
    z-index: 9999;
    left: 37%;
    position: fixed;
    top: 2px;
    
  }

agm-map{
    height: 400px;
}
.sbtn{
  margin-left: 250px;
  color: black !important;
  --background: white;
  margin-top: 29px;
  font-size: x-large;
  outline: none !important;
  --box-shadow: none !important;
  }

.contact-btn{
  --background: #F7F5F5;
    color: red;
    margin-left: 25px;
    width: 86%;
    margin-top: 8px;
    /* border-radius: 146px; */
    font-weight: 600;
    font-size: 15px;
    --ripple-color: transparent;
}

.manu_button{
  font-size: 250%;
  color: red;
  margin-top: 30px;
  margin-left: -4px;
  width: 61px !important;
}