<ion-header class="headers">
  <ion-toolbar class="headers new-background-color" >
  
  <!-- <button class="btn btn-primary">Login</button> -->

    <ion-buttons slot="start" >
      <ion-menu-button menu="main-menu" style="color: red;    width: 61px;font-size: xxx-large;"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" style="--background: white;--box-shadow: none;" (click)="openmodal()"  ><ion-icon style="color: black;height: 54px;width: 36px;" name="search"></ion-icon></ion-button>

  </ion-toolbar>
</ion-header>

<div>
  <div (click)="commonService.gotoHome()">
    <img ion-center src="./assets/five-star-images/logo.png" id="mipics">
  </div>

</div>

<ion-content>

  <!-- <div>
    <img ion-center src="./assets/five-star-images/logo.png" id="mipics" routerLink='/tabs/tab1'>
  </div> -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3880.6614107449227!2d79.55269581482696!3d13.433272990554185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTPCsDI1JzU5LjgiTiA3OcKwMzMnMTcuNiJF!5e0!3m2!1sen!2sin!4v1596535639538!5m2!1sen!2sin" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  
  <ion-button (click)="removeProduct()" class="contact-btn" routerLink="/location-select">Contact Us</ion-button>

  <ion-text>
    <div style="margin-left: 20px;">
      <p style="font-size: 14px;
      margin-left: 5px;
      margin-top: 22px;">Our Shop Address: </p> <p style="font-size: 14px;
    margin-left: 130px;
    margin-top: -35px;font-weight: 100;"> 8-79b, Tirupati Road, puttur,A.P 517583</p>
    </div>
     
  </ion-text>


  <ion-text>
    <div style="margin-left: 20px;" >
      <p style="font-size: 14px;
      margin-left: 2px;
      margin-top: px;     margin-bottom: 14px;">Contact Number: </p> <p style="font-size: 14px;
    margin-left: 130px;
    margin-top: -34px;font-weight: 100;"> 9384675377</p>
    
    </div>
  </ion-text>

  <ion-text>
    <div style="margin-left: 20px;">
      <p style="font-size: 14px;
      margin-left: 2px;
      margin-top: px;">Shop Timing: </p>
      <p style="font-size: 14px;
      margin-left: 130px;
      margin-top: -36px;font-weight: 100;"> 910AM to 8PM </p>
    
    </div>
  </ion-text>

</ion-content>
