<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">
  <ion-buttons slot="start" >
      <ion-menu-button size="large" menu="main-menu"></ion-menu-button>
    </ion-buttons>
      <a ><ion-button  (click)="openmodal()" class="sbtn" ><ion-icon style="height: 35px; width: 41px;color: black;" name="search"></ion-icon></ion-button></a>
  
  </ion-toolbar>

  
 
</ion-header>

<ion-content scrollY="true">

  <div>
    <img ion-center src="./assets/five-star-images/logo.png" id="mipics" routerLink='/tabs/tab1'>
  </div>

  <div>
    <div class="heading1"><h4>ITEM CART</h4></div>

    <div>
      <ion-card *ngFor="let p of cart">
        <ion-card-content class="ion-no-padding">
    
         
            <ion-grid>     
            
    
            <ion-row>
              <ion-col size="4">
                <ion-img style="height: 85px;"  [src]="p.base64Image" ></ion-img>
              </ion-col> 
              <ion-col  size="8">
                <div style="margin-left: 6px;">
                  <ion-button  class="pull-right" class="close_btn" style="  position: absolute;
                  top: -16px;
                  left: 187px;" color="medium" fill="clear"  (click)="removeCartItem(p)">
                    <ion-icon (click)="removeCartItem(p)" name="close-circle" class="close_icon" slot="icon-only"></ion-icon>
                  </ion-button>
                  <ion-label>
                    <ion-card-title style="font-size: 17px;" class="font-18" style="font-size: 16px;">{{ p.name }}</ion-card-title>
                   
                     
                      <h2   class="pad-both-7 dis-in" style="color: rgb(28, 28, 28);"> <i class="fa fa-rupee"></i> {{ p.price - p.discountPrice }}  &nbsp;&nbsp; <span style='color:red;text-decoration:line-through'><span *ngIf="p.discountPrice != 0" style="font-weight: 100;color: #8A8989;;">&#8377; {{p.price}}</span></span> </h2>
                      <h2 id="qty_t" class="pull-right"> <i class="fa fa-rupee"></i> {{(p.price - p.discountPrice) * p.quantity}}</h2>
                      <span *ngIf="p.discountPrice != 0" style="color: green;" class="save_price pull-right">Save &#8377; {{p.discountPrice}}</span>  
                      
                    </ion-label>
                    <div class="col-7">
                          <div class="row">
                            <ion-col  class="col-4 ion-align-self-center ion-no-padding">
                      
                              <ion-button class="ion_minus_button ion-no-margin"  color="danger" fill="solid" size='small'  [attr.disabled]="p.discountPrice<1 ? 'disabled ' : null" (click)="decreaseCartItem(p)" >
                                <div>-</div>
                                </ion-button>  
                            </ion-col>
                    
                            <ion-col class="col-4 ion-text-center ion-no-padding" >
                              <ion-label id="qty_num" style="" class="amt-wid font-18">{{ p.quantity }}</ion-label>
                            </ion-col>
            
                            <ion-col  class="col-4 on-text-right ion-no-padding" >
                              <ion-button class="ion_plus_button ion-no-margin"  color="danger" fill="solid" size='small' (click)="increaseCartItem(p)">
                                <div  >+</div>
                              </ion-button>
                                                
                            </ion-col>
                          </div>
                        
                    </div>
                      
    
                  </div>
    
              </ion-col>      
            
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>


      <div>
        <ion-card style="height: 247px;">
          <ion-card-content class="ion-no-padding">
          <ion-list lines="inset">
            <div>
              <ion-item>
                <ion-label style="font-size: 15px;">BILL DETAILS</ion-label>
              </ion-item>
       
          
              
               <ion-item>
                 <ion-label class="list_label">Toal Qty</ion-label>
                 <i class="fa fa-rupee" style="margin-left:110px;color: #4f4f4f;;font-size:15px;margin-right: -6px;"></i>
                 <ion-label class="qty1">{{ cartItemCount | async }}</ion-label>
               </ion-item>
              
           
       
             
               <ion-item>
                 <ion-label class="list_label">Sub Total</ion-label>
                 <i class="fa fa-rupee" style="margin-left:110px;color: #4f4f4f;;font-size:15px;margin-right: -6px;"></i>
                 <ion-label class="qty1">{{ getTotal() }}</ion-label>
               </ion-item>
               
           
              
       
             
               <ion-item>
                 <ion-label class="list_label">Delivery Charges</ion-label>
                 <i class="fa fa-rupee" style="margin-left:110px;color: #4f4f4f;;font-size:15px;margin-right: -6px;"></i>
                 <ion-label class="qty1">0</ion-label>
               </ion-item>
           
               <ion-item>
                 <ion-label class="list_label2">To Pay</ion-label>
                 <i class="fa fa-rupee" style="margin-left:110px;color:black;font-size:15px;margin-right: -6px;"></i>
                 <ion-label class="qty_last">{{ getTotal() }}</ion-label>
               </ion-item>
               
            </div>
          </ion-list>
        </ion-card-content >
        </ion-card>
      </div>
    </div>


    
 
  </div>

    
  



</ion-content>

<div>
  <div class="bottomfixbutton">
    <ion-row class="gtotl">Rs {{ getTotal() }}/-</ion-row>

    <ion-row class="gtsave">You save Rs 51/-</ion-row>
  <ion-button expand="full" (click)="checkout()" class="checkb">
    Checkout
  </ion-button>
  </div>
</div>  
