
 ion-tab-button {
   //  --color-selected: #DB3022;
    --color-selected: red;
   }

   .active-item {
      color: red;
    }
    
   .myimg{
      width:70px;
      height: 28px;
      --background-color: white;
   }
   ion-img{
      --background-color: white;
  }

  .items_carts{
   width: 22px;
   height: 22px;
   line-height: 184%;
   text-align: center;
   border-radius: 100%;
   -moz-border-radius: 100%;
   -webkit-border-radius: 100%;
   position: absolute;
   top: 5%;
   left: 70%;
   font-size: 12px;
   color: #fff;
   // background-color: #3b3d94
   background-color: red;
  }

  .active-item {
   color: red;
 }