<!-- <ion-grid >
  <ion-row>
    <ion-col col-12 col-xl-2 col-lg-3 col-md-4> -->
      <ion-tabs>

        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="tab1">
            <ion-icon style="font-size: 20px" name="home-sharp"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab2">
            <ion-icon style="font-size: 20px" name="restaurant"></ion-icon>
            <ion-label>Category</ion-label>
          </ion-tab-button>
          
            <ion-tab-button routerLink="/check-out" >
              <ion-icon style="font-size: 20px" name="cart"></ion-icon>
              <span class="items_carts">{{ cartItemCount | async }}</span>
              <ion-label>Cart</ion-label>
            </ion-tab-button>
          
          <ion-tab-button (click)="getOrder()"  [class.active-item]="selectedPath.includes('tab3')" >
            <ion-icon style="font-size: 20px" name="reader"></ion-icon>
            <ion-label >Order</ion-label>
          </ion-tab-button>
      
         
            <ion-tab-button tab="tab5">
              <ion-icon style="font-size: 20px" name="location-sharp"></ion-icon>
              <ion-label>Locate Us</ion-label>
            </ion-tab-button>
        
        
         
        </ion-tab-bar>
      
      </ion-tabs>
    <!-- </ion-col>
  </ion-row>
</ion-grid> -->

