<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color" >

    <ion-buttons slot="start" >
      <ion-menu-button menu="main-menu" style="color: red;    width: 61px;font-size: xxx-large;"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" style="--background: white;--box-shadow: none;" (click)="openmodal()"  ><ion-icon style="color: black;height: 54px;width: 36px;" name="search"></ion-icon></ion-button>

  </ion-toolbar>
</ion-header>
<ion-content>
<ion-header class="new-background-color1" style="background-color:#ececec;">
  <!-- <ion-label><ion-icon name="home" class="home"></ion-icon></ion-label>
  <ion-label><ion-icon name="chevron-forward" class="forward"></ion-icon></ion-label>
  <label class="cprocess">Order Details</label> -->
</ion-header>

<ion-content>

  <div style="margin-bottom: 65px;">
    <img ion-center src="./assets/five-star-images/logo.png" id="mipics" routerLink='/tabs/tab1'>
  </div>

<ion-row class="changepass"><div class="changepasst">change Password</div></ion-row>


<ion-card>
  <form  [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-row class="allDetails">Old Password</ion-row>
    <ion-input type="Password"  formControlName='oldPassword'></ion-input>
    
    <div  style="margin-bottom: 16px;"  *ngIf="submitted  && f('oldPassword').hasError('required')" [style.color]="'red'">
      <span *ngIf="f('oldPassword').hasError('required')">Can't be empty</span>
    </div>

    <ion-row class="allDetails">New Password</ion-row>
    <ion-input type="Password" name="newPassword" formControlName="password"></ion-input>
    
    <div  style="margin-bottom: 16px;"  *ngIf="submitted  && f('password').hasError('required')" [style.color]="'red'">
      <span *ngIf="f('password').hasError('required')">Can't be empty</span>
    </div>

    <ion-row class="allDetails">Retype Password</ion-row>
    <ion-input type="Password" name="new_Password" formControlName="confirmPassword"></ion-input>
    <ng-container >
      <div  [style.color]="'red'" *ngIf="!form.get('confirmPassword').errors && form.hasError('passwordNotMatch') && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
        Password and Confirm Password fields should match
      </div>
      <div  style="margin-bottom: 16px; "  *ngIf="submitted  && f('confirmPassword').hasError('required')" [style.color]="'red'">
        <span *ngIf="f('confirmPassword').hasError('required')">Can't be empty</span>
      </div>
      <!-- <div *ngIf="!form.get('confirmPassword').hasError(error.type) && (form.get('confirmPassword').dirty || form.get('confirmPassword').touch1ed)">
        {{ confirm password should be matched }}
      </div> -->
    </ng-container>

    <ion-button class="submitbutton"type="submit">Submit</ion-button>
    <!-- <ion-button class="submitbutton" (click)="changPassword(f)">Submit</ion-button> -->
  </form>
</ion-card>
<!-- 
<ion-card>
  <form #f="ngForm">
    <ion-row class="allDetails">Old Password</ion-row>
    <ion-input type="Password" name="password" [(ngModel)]="oldPassword"></ion-input>

    <ion-row class="allDetails">New Password</ion-row>
    <ion-input type="Password" name="newPassword" [(ngModel)]="newPassword"></ion-input>

    <ion-row class="allDetails">Retype Password</ion-row>
    <ion-input type="Password" name="new_Password" [(ngModel)]="new_Password"></ion-input>

    <ion-button class="submitbutton" (click)="changPassword(f)">Submit</ion-button>
  </form>
</ion-card> -->
<!-- <div>
  <ion-row>
    <ion-button class="bbutton1" routerLink='/my-order'><span class="s-f">My Orders</span></ion-button>
    <ion-button class="bbutton2" routerLink='/change-password'><span class="s-f">Change Password</span></ion-button>
    <ion-button class="bbutton3" routerLink="/save-address"><span class="s-f">Delivery address</span></ion-button>
  </ion-row>
</div> -->

</ion-content>

<ion-footer class="pos">
  <ion-toolbar style="--background: black;">
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3"  (click)="gotoMyOrder()">
          <ion-label ><span style="font-size: 12px;color: white;">My Orders</span></ion-label>
          
          
        </ion-col>
        
        <ion-col size="5"  (click)="gotoChangePassword()">
          <ion-label><span style="font-size: 12px;color: white">Change Password</span></ion-label>
           
         
        </ion-col>
  
        <ion-col size="4"  (click)="gotoAddress()">
       
          <ion-label><span style="font-size: 12px;color: white">Delivery address</span></ion-label>
         
        </ion-col>
      </ion-row>
    </ion-grid>
   
    
    <!-- <ion-title>Footer - No Border</ion-title> -->
  </ion-toolbar>
</ion-footer>