
<ion-content >
  <div  *ngFor="let p of filteredProduct">
    <div *ngIf="p.itemsImages != undefined">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let i of p.itemsImages">
          <img class="fullscreen-image" src="{{i.src}}"/>
        </ion-slide>
      </ion-slides>
    </div>
    
  </div>
</ion-content>
