<ion-header>
  <ion-toolbar >
    <ion-back-button defaultHref="" class="back" ></ion-back-button>

    <ion-title class="store">Jain Kirana Store</ion-title>
    <ion-icon name="search-outline" class="serch"></ion-icon>
    <ion-row style="margin-top: 10px;margin-bottom: 10px;">
    <ion-icon name="star" class="star"></ion-icon> 
    <ion-label class="rat">4.2</ion-label>
    <ion-title class="Mins">Delivery in 40 Mins</ion-title></ion-row>



  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item><ion-title class="From">From your Search</ion-title></ion-item>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row></ion-item>
</ion-grid>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row></ion-item>
</ion-grid>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row></ion-item>
</ion-grid>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row></ion-item>
</ion-grid>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row>
</ion-item>
</ion-grid>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row></ion-item>
</ion-grid>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row></ion-item>
</ion-grid>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row></ion-item>
</ion-grid>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row></ion-item>
</ion-grid>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row></ion-item>
</ion-grid>

<ion-grid>
  <ion-item>
  <ion-row>
    <ion-col size="3"> <ion-img src="assets/icon/product.png" class="myfbbimges"></ion-img>
    </ion-col>
    <ion-col size="8"><ion-label class="ion-text-wrap">American Garden U.S. Peanut Butter 
      Chunky</ion-label>
      <ion-title class="gram">60 g</ion-title>
      <ion-title class="rss">Rs 35</ion-title>
      <ion-button  shape="square" class="stylebtt"  routerLink='../checkout'>Add to Basket</ion-button><br>

    </ion-col>
  </ion-row></ion-item>
</ion-grid>

<ion-row class="myrows">
  <ion-grid>
  <ion-row >
    <ion-col>
      <div class="Rs234 ">Rs 234 </div>
    </ion-col>
    <ion-col>
      <div class="Checkouts" Rout>Checkout</div>
    </ion-col>
    <ion-col>
      <div class="Item">3 Item</div>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-row>

</ion-content>
