.back{
    float: left;
    margin-top: 9px;
}
.store{
    margin-left: 20px;
    margin-top: 22px;
}
.serch{
    float:right;
    margin-right: 10px;
    font-size: 25px;
    margin-top: -20px;
}
.star{
    color: #FFBA49;
    font-size: 15px;
   margin-left: 18px;
    
  }
  .rat{
    font-family: 'Muli';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
     color: #7F7F7F;
      margin-left: 10px;
  }
  .Mins{
   
    margin-left: 6px;
      font-family: 'Muli';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
display: flex;
align-items: center;
color: #7F7F7F;
  }
  .From{
    font-family: 'Muli';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
    
  }
  .myfbbimges{
      width: 70px;
      height: 50px;
      margin-top: 15px;
  }
  .rss{
    margin-left: -20px;
    font-family:'Muli' ;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
  }
  .gram{
margin-left: -19px;
font-family: 'Muli';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
display: flex;
align-items: center;
color: #7F7F7F;  
  }
  .stylebtt{
    font-family: 'Muli';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FF0909;
    margin-left: 111px;
    margin-top: -44px;
    --background:white;
    width: 106px;
height: 26px;
text-transform: initial;

border: 1px solid #FF0909;
box-sizing: border-box;
border-radius: 2px;
     }
     .myrows{
        width: 360px;
        height: 48px;
        background: #FF0909;
        
    }
    .Rs234{
        font-family:'Muli' ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    margin-left: 20px;
    color: #FFFFFF;
    
    }
    .Checkouts{
    font-family: 'Muli';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-top: 5px;
    
    color: #FFFFFF;
    
    }
    .Item{
    margin-top: 5px;
    font-family: 'Muli';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-left: 50px;
    color: #FFFFFF;
    }