<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">



    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" style="color: red;font-size: xxx-large;width: 61px;"></ion-menu-button>
    </ion-buttons>

    <ion-button slot="end" style="--background: white;--box-shadow: none;" (click)="openmodal()">
      <ion-icon style="color: black;height: 54px;width: 36px;" name="search"></ion-icon>
    </ion-button>


  </ion-toolbar>
</ion-header>

<div class="upper_div">
  <!-- first-segment -->

  <div>
    <img ion-center src="./assets/five-star-images/logo.png" id="mipics" (click)="commonService.gotoHome()">
  </div>

  <div style="margin-left: 9px;">
    <ion-segment mode="ios md" scrollable style="color: black;
    left: -8px;
    padding-top: 40px;" [(ngModel)]="cat">
      <div *ngFor="let c of parentCategory" (click)="filterChildCategory(c)">
        <div>
          <ion-segment-button no-lines (click)="getName(c.name)" value="{{c.name}}">
            {{c.name}}
          </ion-segment-button>
        </div>
      </div>
    </ion-segment>

  </div>


  <div style="background-color: red;">
    <ion-segment scrollable [(ngModel)]="item">
      <div>
        <ion-segment-button no-lines class="give_position" id="ion_button" (click)="showItems('ALL')" value="ALL">
          <ion-label> ALL </ion-label>
        </ion-segment-button>
      </div>

      <ion-segment-button no-lines id="ion_button" *ngFor="let c of childCategory" (click)="showItems(c)"
        value='{{c.name}}'>
        <ion-label> {{c.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

</div>


<ion-content scrollY="true">

  <ion-list id="skeleton" *ngIf="spinner">
    <ion-list-header>
      <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>

  </ion-list>

  
  <div *ngIf="commonService.get_itemList().length === 0 && !spinner">
    <ion-grid style="text-align: -webkit-center;">
      <ion-row style="width: 70%;">
        <ion-col col-12 col-xl-2 col-lg-3 col-md-4>
          <ion-img class="data" src="assets/five-star-images/svg/icon.svg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: 32%;">
        <div>
          <ion-label>No items found!</ion-label>
        </div>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>

   



    <!-- when spinner is false -->
    <ion-list lines="none" *ngIf="!spinner">

      <cdk-virtual-scroll-viewport style="height: 634px;" minBufferPx="500" maxBufferPx="1000" itemSize="120">
        <ng-container *cdkVirtualFor="let p of filteredProduct | searchCategory: searchText; let i = index">

          <ion-grid class="margin-bottom: 12px;">

            <ion-row style="margin-bottom: 15px;">
              <ion-col size="4">
                <!-- <div style="height: 111%;">
                  <img class="item_img" src="{{p.base64Image}}" onError="this.src='assets/default-grey.jpg'">
                </div> -->

                <div style="height: 111%;" *ngIf="p.itemImages.length != 0" >
                  <img class="item_img" *ngFor="let img of p.itemImages | slice:0:1" [src]="'https://www.ere4u.in/thirdparty/uploads/'+img.img_name" onError="this.src='assets/default-grey.jpg'">
                </div>

                <div style="height: 111%;" *ngIf="p.itemImages.length == 0" >
                  <img class="item_img" src="./assets/default-grey.jpg">
                </div>


                <div *ngIf="p.itemImages.length != 0">
                  <img class="veg_img" *ngIf="p.foodType === '1'" src="assets/five-star-images/veg-item.jpg" alt="">
                  <img class="veg_img" *ngIf="p.foodType === '4'" src="assets/five-star-images/non-veg.png" alt="">
                </div>
              </ion-col>
              <ion-col size="8">
                <div>
                  <div *ngIf="p.discountPrice > 0">
                    <label class="dis_pri">
                      {{p.discountPercentage}}% </label>
                  </div>
                  <ion-card-title (click)='itemDetailsPageRoute(p.id)' style="font-size: 15px;color: rgb(28, 28, 28);">
                    {{ p.name }}</ion-card-title>
                  <ion-label>

                    <h2 *ngIf="p.optionGroup.length === 0" class="pad-both-7 dis-in"
                      style="font-size: 15px;color: #8A8989;"> <i class="fa fa-rupee"></i>
                      {{ p.price - p.discountPrice }}</h2>
                    <h2 *ngIf="p.discountPrice != 0 && p.optionGroup.length === 0"
                      style="display: inline;margin-left: 15px;font-size: 15px;"> <span
                        style='color:red;text-decoration:line-through'><span
                          style="color: #8A8989;font-weight:100;">&#8377; {{p.price}}</span></span></h2>

                    <span *ngIf="p.discountPrice != 0 && p.optionGroup.length === 0" class="save_price pull-right">Save
                      &#8377;
                      {{p.discountPrice}}</span>

                    <ng-container *ngIf="p.optionGroup.length != 0">
                      <div *ngFor="let og of p.optionGroup ">
                        <div *ngFor="let varPrice of og.options | slice:0:1">
                          <h2 *ngIf='varPrice.ref_id.includes("VO")' class="pad-both-7 dis-in"
                            style="font-size: 15px;color: #8A8989;"> <i class="fa fa-rupee"></i>
                            {{ varPrice.price - p.discountPrice }}</h2>

                          <h2
                            *ngIf="p.discountPrice != 0 && p.optionGroup.length != 0 && varPrice.ref_id.includes('VO')"
                            style="display: inline;margin-left: 15px;font-size: 15px;"> <span
                              style='color:red;text-decoration:line-through'><span
                                style="color: #8A8989;font-weight:100;">&#8377; {{varPrice.price}}</span></span></h2>

                          <span *ngIf="p.discountPrice != 0 && p.optionGroup.length != 0"
                            class="save_price pull-right">Save &#8377;
                            {{p.discountPrice}}</span>

                            <!-- addOns shoeing -->
                            <h2 *ngIf='!varPrice.ref_id.includes("VO") && p.price != 0' class="pad-both-7 dis-in"
                            style="font-size: 15px;color: #8A8989;"> <i class="fa fa-rupee"></i>
                            {{  p.price - p.discountPrice }}</h2>

                          <h2
                            *ngIf="p.discountPrice != 0 && p.optionGroup.length != 0 &&  p.price != 0 && varPrice.ref_id.includes('OG')"
                            style="display: inline;margin-left: 15px;font-size: 15px;"> <span
                              style='color:red;text-decoration:line-through'><span
                                style="color: #8A8989;font-weight:100;">&#8377; {{p.price}}</span></span></h2>

                          <span *ngIf="p.discountPrice != 0 && p.optionGroup.length != 0"
                            class="save_price pull-right">Save &#8377;
                            {{p.discountPrice}}</span>
                        </div>


                      </div>
                    </ng-container>

                    <ng-container *ngIf="p.price === 0 && p.optionGroup.length === 0">
                      <h2 class="pad-both-7 dis-in" style="font-size: 15px;color: #8A8989;"> <i class="fa fa-rupee"></i>
                        0</h2>
                    </ng-container>
                    
                  <ion-label *ngIf="p.optionGroup.length > 0"
                      class="ad_ons_cus ion-margin-top ion-margin-start ion-padding-top">Customizable</ion-label>
                  </ion-label>

                  <div class="col-5">
                    <div class="row">
                      <ion-col class="col-4 ion-align-self-center ion-no-padding">

                        <ion-button class="ion_minus_button ion-no-margin" color="danger" fill="solid" size='small'
                          [attr.disabled]="p.quantity<1 ? 'disabled' : null" (click)="decrementQty(p)">
                          <div class="minus">-</div>
                        </ion-button>
                      </ion-col>

                      <ion-col class="col-4 ion-text-center ion-no-padding">
                        <ion-label class="amt-wid font-18">{{ p.quantity }}</ion-label>
                      </ion-col>

                      <ion-col class="col-4 ion-text-right ion-no-padding" id="adds">
                        <ion-button class="ion_plus_button ion-no-margin" color="danger" fill="solid" size='small'
                          (click)="incementQty(p)">
                          <div class="plus">+</div>
                        </ion-button>

                      </ion-col>
                    </div>

                  </div>



                </div>

              </ion-col>


            </ion-row>
          </ion-grid>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </ion-list>


  </ion-grid>

</ion-content>