.segbuton{
  color: #555 !important;
  display: inline-block;
    padding: 5px 10px;
    margin: 0;
    position: sticky !important;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 15px;
    letter-spacing: .08em;
    min-height: 45px;
    }

    
    .veg_img{
      display: inline;
      height: 12px;
      width: 12px;
      position: absolute;
      top: 10px;
      right: 20px;
    }

    .button-native {
      min-width: 45PX;
    }

    .ad_ons_cus{
      // position: absolute;
      // top: 58px;
      font-size: 13px;
      float: right;
      color: red;
      // left: 125px;
    }
    .indicator{
      display: initial;
      position: absolute;
      top: 0px;
      left: 81px;
    }
    .btm{
      border: 1px solid #555;
      font-size: 10px;
      --background:lightgrey;
      width:70px;
      height: 30px;
      color: #000;
      
    }
    .sort{
      text-transform: uppercase;
      font-size: 15px;
      color: #10739A;
      font-family: 'Be Vietnam', sans-serif;
      margin-top: 0;
      text-align: center;
    }
.labelc{
  color: #555 !important;
}
.allitem{
  text-transform: uppercase;
    color: #222;
    border-bottom: 2px solid rgb(228, 10, 10);
    display: inline-block;
    position: relative;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom-width: thin;
}

.new-background-color{
  // height: 63px;
  --background:white;
}

.addtocarts{
  font-size: 11px;
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 25px;
    margin-top: -34px;
}

.slabel{
  color: #c8ffca;
}
.addname{
  color:white;
  margin-top: -24px;
}

.serchb{
  margin-top: -27px;
  float: right;
  margin-right: 10px;
}
.menus{
  color: white;
  margin-top: -4px;
  font-size: 36px;
}
.sbtn{
  margin-left: 236px;
  color: black !important;
  margin-top: 5px;
  --background: white;
  font-size: larger;
  outline: none !important;
  --box-shadow: none !important;
  }

  .manu_button{
    font-size: 250%;
    color: red;
    margin-top: 2px;
    margin-left: -7px;
    width: 61px !important;
  }
.loc{
  margin-top: -3px;
  color: white;
}
.aadds{
  color: white;
  font-size: 16px;
  margin-top: -2px;
  color: white;
  margin-left: -18px;

}


.ios ion-segment{
  color: black;
  left: -8px;
  padding-top: 40px;
}

.md ion-segment{
  color: black;
  left: -8px;
  padding-top: 36px;
}

.ios ion-segment-button{
  border-style: none;
    font-size: 14px !important;
    // text-transform: capitalize;
    // margin-left: -15px;
    // color: #000;
    --color: black;
    padding: 5px;
    --color-checked: red;
    // left: 15px;
    /* margin: -9px; */
    max-width: fit-content;
    /* --indicator-weight: 5px; */
    --indicator-height: 3px;
    --indicator-color: black;
}

.md ion-segment-button{
  border-style: none;
    font-size: 14px !important;
    max-width: fit-content;
    // text-transform: capitalize;
    // margin-left: -15px;
    // color: #000;
    --color: black;
    padding: 5px;
    --color-checked: red;
    // left: 15px;
    /* margin: -9px; */
    /* --indicator-weight: 5px; */
    --indicator-height: 3px;
    --indicator-color: black;
}



#ion_button{
  // color: white;
  --color: white;
  --color-checked: #fff300;
}

.cards{
  box-shadow: none !important;
    border-color: none !important;
    // margin-left: -40px !important;
    // width: 366px !important;
}
.twosegdiv{
  position: sticky !important;

top: 0;

left: 0;

right: 0;

z-index: 9999;
background-color: #55555545 !important;color:#555 !important;
}
.segf{
  position: sticky !important;

top: 0;

left: 0;

right: 0;

z-index: 9999;
}
ion-thumbnail{
  width: 80px;
  height: 60px;
}
.alllbs{
  font-size: 26px;
  text-transform: uppercase;
    color: #222;
    border-bottom: 2px solid #eee;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 0;
    padding-bottom: 10px;
}
.iiconss{
  color: white;
  background-color: #f7676e;
}
.box{
  width: 33px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    margin-top: 53px;
}
.showme{
  font-size: 20px;
    margin-left: 8px;
    margin-top: 41px;
}



#bor{
  border-bottom: 1px dotted rgb(204, 196, 196);
}
h5{
padding: 0px;
}
h6{
  padding: 0px;
}
p{
  padding: 0px;
  margin:0px;
}
#abc{
  display: inline-block;
}
#ab{
  font-size: 10px;
  color:rgb(126, 121, 121);
}
#abd{
  height: 10px;
}
#tool{
  height: 20px;
}
#bor2{
  border-bottom: 10px solid  rgb(245, 236, 236);
}
#off{
  font-size: 12px;
  color: rgb(126, 121, 121);
}
#add{
  color: rgb(126, 121, 121); 
}
#bor3{
  border-bottom: 2px dotted rgb(204, 196, 196);

}
ion-card-header{
  padding: 0px;
}
#img{
  height:90px;
}
#iobutton{
  --background: #FF0909;
  box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);


  width:50px;
  height:20px;
  font-size: 10px;
     
}
#iobuttonc{
  background: #FF0909;
  box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);
  color: white;


  width:50px;
  height:20px;
  font-size: 11px;
  border-radius: 4px;
     
}


#clr{
  color: black;
}
#back{
margin-bottom:11px;
}
.myrows{
  width: 360px;
  height: 48px;
  background: #FF0909;
  position: fixed;
  left: 0;
  bottom: 0px;
  right: 0;
 margin-top:10px;
}
.Rs234{
  font-family:'Muli' ;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
margin-top: 5px;
margin-left: 20px;
color: #FFFFFF;

}
.Checkouts{
font-family: 'Muli';
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-align: center;
margin-top: 5px;

color: #FFFFFF;

}
.Item{
margin-top: 5px;
font-family: 'Muli';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
margin-left: 50px;
color: #FFFFFF;
}
ion-toolbar{
  --background: #FF0909;
  --color:white;
}
.input{
  width: 36%;
  margin-left: 5px;
  height: 20px;
  color:black !important;
  text-align: center;
 
  border: 1px dotted #FF0909;
}

ion-fab-button {
  height: 70px;
  width: 70px;
  margin-top: 92px;
}
 
.cart-icon {
  font-size: 50px;
}
 
.cart-length {
  color: var(--ion-color-primary);
  position: absolute;
  top: 22px;
  left: 25px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}




.kiranashop{
    width: 100px;
    height: 102px;
    object-fit: cover;
}
#head{
  margin-left: 125px;
    margin-top: -101px;
    font-size: 16px;
}
.myrow1{
  margin-left:110px;color:black;font-size:15px;margin-top:5px;
}

.allcard{
  width: 100%;
    margin-left: 0px;
    border-top: black;
    box-shadow: none;
    // border-bottom: 2px solid #d0cdcd;
    // border-radius: inherit;

}
.add{
 margin-top: -69px;
margin-left: 30px;
}

// ion-segment{
//   // --background: red;
  
// }


// ion-segment-button {
//   // --indicator-color: transparent !important;
//   // --indicator-color-checked: transparent !important;
//   --indicator: white;
// }

// .ionButton{
//   background-color: #F73100;
//   border-radius: 100%;
//   // color: white;
//   width: 32px;
// }

.minus{
  color: white;
  margin-top: -1px;
  font-size: 18px;
}
.adds1{
  font-size: 12px;
  margin-top: 5px;
  font-weight: bolder;
  // --ripple-color: transparent;
  width: 30px;
  height: 30px;
}

.price{
  line-height: 24px;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-left: 296px;
    /* margin-top: -24px; */
    display: flex;
    margin-top: -40px;
}

.prices{
  color: black;
  font-size: 15px;
  margin-left: 128px;
}
.newrow{
  // margin-left: 94px;
  // margin-top: 22px;
  margin-left: 101px;
  margin-top: 4px;
}
#quant{
  margin-left: 19px;
  text-align: center;
  height: 31px;
  margin-top: 1px;
  font-weight: 600;
  margin-bottom: -6px;
  font-size: 19px;
}
#adds{
  // margin-left: 52px;
  //   margin-top: -35px
  #adds{
    font-size: 12px;
    font-weight: bolder;
    --ripple-color: transparent;
  } 
}
.plus{
  color: white;
  font-size: 18px;

}
.amount{
  border: 1px solid black;
  text-align: center;
}
.rion{
margin-left: 110px !important;
}
.price{
  line-height: 24px;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  margin-left: 122px;
  margin-top: -24px;
}
.price1{
  line-height: 24px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin-left: 117px;
  margin-top: -47px;
}

.my-modal{
  height: 25px;
}

// @media only screen and (orientation: landscape)  {
//   .my-modal {
//    .modal-wrapper {
//      position: absolute;
//      top: 0 !important;
//      left: 0 !important;
//      display: block;
//      width: 100% !important;
//      height: 50% !important;
//    } 
//  }
// }
.dis-in{display: inline-block;}



.addonsbt{
  height: 23px;
  width: 62px;
  position: absolute;
  left: 154px;
  /* margin-left: -2px; */
  font-size: 9px;
}
.selected{
  background-color:red;
  margin-top: 20px;

}
#mipics{
  z-index: 9999;
  left: 36%;
  position: fixed;
  top: 2px;
  // height: 16%;
}

.no-ripple{
  --ripple-color: transparent;
}

.list-md{
    margin-top: 1px;

}
 
.ion_minus_button{
  width: 30px;
    height: 30px;
    margin-bottom: -1px;
}

.dis_pri{
  text-align: center;
  background-color: #ff3c20;
  border-radius: 53%;
  color: #fff;
  display: block;
  font-size: 10px;
  // font-size: 12px;
  height: 32px;
  width: 32px;
  line-height: 33px;
  position: absolute;
  // left: -47px;
  // left: -106px;
  right: 134%;
  top: 4px;
  text-transform: uppercase;
  z-index: 2;
  padding: 0;
  margin-bottom: 8px;
}


.pad-both-7{padding:7px 0;}


.ion_minus_button{ 
  font-weight: bolder;
  --ripple-color: transparent;
  width: 26px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}.ion_plus_button, .amt-wid{ 
  font-weight: bolder;
  --ripple-color: transparent;
  width: 27px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}.font-18{font-size:18px;
  font-weight: 500;
  color: #363636;}

 

.pt5{padding-top:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}.pr5{padding-right:5px}
.mt5{margin-top:5px}.mb5{margin-bottom:5px}.ml5{margin-left:5px}.mr5{margin-right:5px}
.pad-both-7{padding:7px 0;}

.save_price{
  font-size: 13px;
  color: green;
  position: absolute;
  top: 33px;
  left: 150px;
}

ion-img{
  height: 111%;
}
.pi{
  // height: 111%; 
  margin-left: 5px;
  display: block;
  width: 85%;
  border-radius: 8px;
  height: 85%;
  object-fit: fill;
  object-position: inherit;
}

#skeleton{
  position: relative;
    top: 524px;
    z-index: 1;
    margin-top: -548px;
}


ion-img::part(image){
   margin-left: 5px;
    display: block;
    width: 85%;
    border-radius: 8px;
    height: 85%;
    object-fit: fill;
    object-position: inherit;
}

.food_veg{
  position: absolute;
  top: 5px;
  // left: 10px;
  left: 84px;
}

.bg_color{
  background-color: #efefef  
}

#qty_button_row{
  display: flex;
  position: inherit;
  left: -16px;
  flex-wrap: wrap;
}

.item_img{
  margin-left: 5px;
  display: block;
  width: 85%;
  border-radius: 8px;
  height: 85%;
  object-fit: fill;
  object-position: inherit;
  // margin-left: 5px;
  //   display: block;
  //   width: 85%;
  //   border-radius: 8px;
  //   height: 100%;
  //   -o-object-fit: fill;
  //   object-fit: fill;
  //   -o-object-position: inherit;
  //   object-position: inherit;
}