<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">
    <div style="display: flex;">
      <a (click)="gotoCoupon()"><ion-icon (click)="gotoCoupon()" name="chevron-back" class="backbutton"></ion-icon></a>
      <ion-label class="loginr">Make Payment</ion-label>
    </div>
  
 </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-header class="new-background-color1"><br>
    <div class="dslot">Choose Delivery slot for this address</div>
    
      <ion-button class="selectday" (click)="getCurrentDate()">
       <div class="weeks">{{curDay}}<span class="date">{{curDate}}</span></div>
      </ion-button>

      <ion-button class="selectday" (click)="getTomorrowDate()">
        <div class="weeks">{{tomDay}}<span class="date">{{tomDate}}</span></div>
      </ion-button>

      <ion-button class="selectday" (click)="getDayAfterTommowDate()">
        <div class="weeks">{{dayAfterTomDay}}<span class="date">{{dayAfterTomDate}}</span></div>
      </ion-button>
    
  </ion-header> -->

  
  
  <ion-list>
    <ion-radio-group [(ngModel)]="value_selected">
  
      <ion-item *ngFor="let type of this.calculationService.getPaymentList();let i = index">
        <label class="font-14">{{type.paymentType}}</label>
        <ion-radio color="primary" slot="start" (click)="getIonRadioValue(type.paymentType)"  value="{{i}}"></ion-radio>
      </ion-item>
  
      <!-- <div>
        <ion-item>
        
          <label class='font-14' style="padding-top: 9px;line-height:22px;">  Online payment via Credit Card, Debit Card, Paytm, UPI etc</label>
          <ion-radio color="secondary" slot="start" value="online"></ion-radio>
        </ion-item>
      </div> -->
      
    </ion-radio-group>
  </ion-list>
      
      <!-- <ion-list class="time"> 
        <ion-radio-group> 
          <ion-item lines="none">
            <ion-label class="timing"> Cash on Delivery</ion-label>
              <ion-radio style="margin-bottom: 25px;" slot="start" checked="true"></ion-radio>
          </ion-item> 
        </ion-radio-group> 
       </ion-list>   -->
      
       <!-- <ion-list class="cod">
        <ion-radio-group> 
          <ion-item lines="none">
            <ion-label class="codel">Online payment via Upi, Debit Card</ion-label>
              <ion-radio  slot="start"></ion-radio>
          </ion-item> 
        </ion-radio-group> 
       </ion-list>
      -->
     
    


       <!-- <div style="margin-top:25px;">
        <div class="bottomfixbutton">
          <ion-label class="damout">Total Due Amount</ion-label>
          <ion-row class="gtotl">Rs {{ getTotal() }} / -</ion-row>
          <ion-button expand="full" (click)="orderPlaced()" class="checkb">
          pay now
        </ion-button>
        </div>
    </div> -->

    </ion-content>

    <ion-footer >
      <ion-toolbar>
        <ion-row style="background-color: #37474f;">
          <ion-col size="5">
            
              <ion-label style="display: flex;
              color: white;margin-left: 8px;font-weight: 600;font-size: 12px;margin-top: 6px" >Total Due Amount</ion-label>
        
              <ion-label style="display: flex;
              color: white;margin-left: 8px;font-weight: 600;" >Rs {{ grandTotalAmount }} / -</ion-label>
            
          </ion-col>
          
          <ion-col size="7">
            <!-- <ion-item style="--background: #37474f;"> -->
              <div>
                <ion-button  slot="end" (click)="orderPlaced()" class="checkb">
                  <span style="    font-size: 14px;
                  font-weight: 600;">PAY NOW</span>
                </ion-button>
              </div>
              
            <!-- </ion-item> -->
             
           
          </ion-col>
        </ion-row>
        
        <!-- <ion-title>Footer - No Border</ion-title> -->
      </ion-toolbar>
    </ion-footer>