.new-background-color{
    --background: white;
    height: 50px;
    }
    .loginr{
      color: black;
      font-size: 17px;
      width: 100%;
      margin-top: 2px;
      }
  .backbutton{
    color: black;
    width: 42px;
    margin-left: 7px;
    height: 26px;
    margin-top: 2px
   }
  
  .new-background-color1{
   height: 130px;
  --background: #fff;
  box-shadow: 0 0 10px #ddd;
  }
  .time{
   height: 50px;
  //  border-bottom: 2px solid #f3eded;
  //  --background: #fff;
  //  box-shadow: 0 0 10px #ddd;
  }
  .cod{
      height: 57px;
      // border-bottom: 1px solid #f3eded;
      // --background: #fff;
      box-shadow: 0 0 3px #ddd;
     }
  .dslot{
      color: #333;
      font-size: 16px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
  }
  .selectday{
      width: 25%;
      --background: #FFFFFF;
      --border-radius: 0px;
      border: 2px solid #BFC0C6;
      margin-left: 21px;
      height: 68px;
      margin-top: 14px;
      --background-activated: red;
  }
  
  ion-button-balanced:active,
  ion-button-balanced:focus
  {
   border:1.5em solid #00c; 
   }
  .weeks{
      font-family: 'Montserrat', sans-serif;
      color: #282C3F;
      font-size: 16px;
      font-weight: bold;
      line-height: 25px;
      text-align: left;
  }
  .date{
      color: #949292;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      display: block;
     
  }

  .font-14{
    font-size: 14px;
  }
  
  .bottomfixbutton{
      background-color: #37474f;
      padding: 10px 20px;
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      margin-left: 1px;
    }
    .gtotl{
      font-size: 17px;
      font-weight: 500;
      color: #fff;
      margin-left: -2px;
      margin-top: -3px;
    }
    .gtsave{
      font-size: 14px;
        font-weight: 600;
        color: #fff;
    }
    .checkb{
      width: 95%;
      height: 40px;
      --border-radius: 3px;
      --background: #e95f62;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
    
    }
    .secondradio{
      color: red;
      font-size: xx-large;
    }
  .damout{
      font-size: 14px;
      line-height: 1.4285em;
      color: #fff;
      margin-left: -3px;
      
  }
  .timing{
      font-size: 16px !important;
      color: #232f3e;
      line-height: 16px;
      display: block;
      margin-bottom: 25px;
  }
  .codel{
      color: #232f3e;
      font-size: 16px !important;
      vertical-align: middle;
      position: relative;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
  }