ion-header::after {
  content: initial !important;
}

.back{
  float: left;
}
.home{
  margin-left:10px;
  font-family: 'Muli';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #222222;
margin-top: 20px;
}
.cate{
  font-family: 'Muli';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #222222;
float: right;
margin-right: 10px;

}
.arrow{
  font-weight: bold;
  margin-left: 13px;

}
.myimges{
  
 
width: 342px;
height: 250px;
margin-left: 10px;

background: linear-gradient(90deg, #000000 2.88%, rgba(0, 0, 0, 0) 59.24%);
border-radius: 4px;
  
  
}
.store{
  font-family: 'Muli';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
margin-top:0px;
margin-left: 10px;

color: #9B9B9B;
}
.kiranashop{
  
width: 114px;
height: 94px;
border-radius: 4px;
}
.name{
  font-family: 'Muli';
font-style: normal;
font-weight: bold;
font-size: 18px;



color: #000000;

white-space: nowrap;


}
.Delivery{
  white-space: nowrap;
  font-family: 'Muli';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
color: #7F7F7F;
text-align: left;

}
.star{
  color: #FFBA49;
  font-size: 10px;
 
  
}
.rat{
  
  
  font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
color: #7F7F7F;
}


//new css
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#mipics{
  z-index: 9999;
  left: 37%;
  position: fixed;
  top: 2px;
}

.ssearch{
  border-radius: 56px !important;

  width:100% !important;
  margin-left: -50px;
  margin-bottom: 6px;
}
#mipicm{
  margin-top: 5px;
}
.searchbar-input {
  background: #FFF !important;
 --border-radius: 30px !important;
  height: 40px !important;
  max-width: 400px;
  font-size: 1.25em !important;
  border: 1px solid transparent;
}
#mipicm1{
margin-top: -4px;
}
#mipicm2{
  margin-top: 5px;
}
.view{
  color: #309A58;
  
   
    text-align: center;
}
.vacll{
  margin-top: -3px;
}
.shopbrand{
  --background: linear-gradient(222deg, #689f39 83%, #689f39 83.11%);
    width: 100%;
}
#mipicslider{
  width:30%;
  margin-left: 8px;

}

// ion-card{

//   background-color: #eee;
//   width: 119px;
//   margin-left: -4px;
//   height: 128px;
//   border-radius: 19px;
  
// }

ion-card-subtitle{
  margin-top: 13px;
  font-size: 14px;
  color: #000;
  text-transform: none;
  background-color: white;
  text-align: center;
  height: 20px;
  font-weight: bold;
}


      

// ion-card-subtitle{
//   margin-top: 13px;
//   font-size: 14px;
//   color: #000;
//   text-transform: none;
//   background-color: white;
//   text-align: center;
//   height: 20px;
//   font-weight: bold;
// }


ion-menu-button {
  font-size: 50px !important;
}
ion-searchbar{
  --border-radius: 6px;
  width: 110% !important;
  margin-left: -42px !important;
  margin-top: -8px;
  margin-bottom: 6px;
}
.card-title{
  text-align: center;
    font-weight: bold;
    margin-bottom: 9px;
    color: black;
}
.cardpic{
  background-color: lightgray;
}
.bachat{
  margin-top: 27px;
}
.minus{
  color: white;
    margin-top: -1px;
    font-size: 18px;
}

.plus{
  color: white;
  font-size: 18px;
}
.amount{
  border: 1px solid black;
  text-align: center;
}

.modtitle1{
  display: inline-block;
    width: 100%;
    margin-top: -1px;
    font-size: 19px;
    text-align: center;
    background: brown;
    font-weight: 400;
    color: white;
    padding: 5px;
}
div[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
}
.ion_slide_container{
  margin-left: 14px;
    margin-bottom: -50px;
    margin-top: -76px;
}


.slide-slide{
  // background: yellow;
    margin-top: 48px;
    transform: translate3d(-360px, 0px, 0px);
    transition-duration: 0ms;
    margin-right: -26px;
}

#mipic{
  width:  100%;
  // margin-left: 42px;
}

.sbtn{

  margin-top: -13px;
  margin-left: 239px;
  // background-color: rgb(70, 29, 29);
  color: black !important;
 --background: white;
    font-size: larger;
    outline: none !important;
    --box-shadow: none !important;
  // --border-color: linear-gradient(222deg, #689f39 83%, #689f39 83.11%) !important;
  }

  #cart{
    border-radius: 19px;
    width: 334px;
    height: 134px;
    margin-left: 12px;
    background-color: white;
    margin-top: 14px;
    box-shadow: 0px 0px 15px 5px rgb(234, 231, 234);
  }

  .kiranashop{
    width: 100px;
    height: 102px;
    object-fit: cover;
}

#head{
  margin-left: 130px;
  margin-top: -132px;
  width: 161px;
  font-size: 15px;
  margin-bottom: 7px;
}

.newrow{
  // margin-left: 94px;
  // margin-top: 22px;
  margin-left: 101px;
  margin-top: 4px;
}
.wid-50{width: 55%;display: flex;}
.quant{ 
    text-align: center;
    height: 28px;
    margin-top: 0;
    font-weight: 600;
    font-size: 18px;
    vertical-align: middle;
    line-height: 28px;
}

#adds{
  font-size: 12px;
  font-weight: bolder;
  --ripple-color: transparent;
} 
.price{
  margin-left: 145px;
    margin-top: -26px;
}

#ic_on{
  margin-left: 110px;
  color: black;
  font-size: 18px;
  margin-top: 2px;
}

.myrow{
  margin-left: 19px;
    /* margin-top: -17px; */
    font-size: 16px;
}

.ion_minus_button{ 
  font-weight: bolder;
  --ripple-color: transparent;
  width: 26px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}.ion_plus_button, .amt-wid{ 
  font-weight: bolder;
  --ripple-color: transparent;
  width: 27px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}.font-18{font-size:18px;}

// ion-button::part(native){
//   color: red; 
 
//   border-radius: 35px;

// }

.font-18{font-size:18px;
  font-weight: 500;
  color: #363636;}

 
.font-17{font-size:16px;
  font-weight: 500;

  // font-family: 'Montserrat-Bold';
  // font-family: 'Montserrat', sans-serif !important;
}

.set_mar{
  margin-left: 15px;
   margin-right: 15px;
}
.pt5{padding-top:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}.pr5{padding-right:5px}
.mt5{margin-top:5px}.mb5{margin-bottom:5px}.ml5{margin-left:5px}.mr5{margin-right:5px}
.pad-both-7{padding:7px 0;}

.save_price{
  font-size: 13px;
  color: green;
  margin-top: 8px;
}


.veg_img{
  display: inline;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 10px;
  right: 20px;
}

// ion-img{
//   height: 111%;
// }

// ion-img::part(image){
//   margin-left: 5px;
//   display: block;
//   width: 100%;
//   border-radius: 12px;
//   height: 80%;
//   object-fit: fill;
//   object-position: inherit;
// }

.food_veg{
  position: absolute;
  top: 5px;
  // left: 10px;
  left: 88px;
}

.bg_color{
  background-color: #efefef  
}

.dis-in{display: inline-block;}

.dis_pri{
  background-color: red;
    width: 30px;
    height: 30px;
    font-size: 12px;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    // margin-left: -22%;
    margin-left: -53%;
  // z-index: 99999;
}

.my-custom-slider{
  --bullet-background: YELLOW;
    --bullet-background-active: red;
}