<ion-header  class="headers">
  <ion-toolbar class="new-background-color" >
  
  <!-- <button class="btn btn-primary">Login</button> -->

    <ion-buttons slot="start" >
      <ion-menu-button menu="main-menu" style="color: red;width: 61px;"></ion-menu-button>
    </ion-buttons>
    
  
    <!-- <img ion-center src="./assets/five-star-images/logo.png" id="mipics"> -->

    
  
    <ion-button slot="end" style="--background: white;--box-shadow: none;" (click)="openmodal()"  ><ion-icon style="color: black;height: 54px;width: 35px;" name="search"></ion-icon></ion-button>

  </ion-toolbar>
  
</ion-header>

<div>
  <div>
    <img ion-center src="./assets/five-star-images/logo.png" id="mipics">
  </div>

</div>

<ion-content [fullscreen]="true">
  
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-slides class="my-custom-slider"  [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
            <ion-slide >
              <img src="assets/five-star-images/1m-slide-1.jpg" id="mipic" >
            </ion-slide>
            
            <ion-slide >
              <img  src="assets/five-star-images/m-slide-4.jpg" id="mipic">
            </ion-slide>
  
          </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
 
<ion-grid>
  <ion-row>
    <ion-col col-12 col-xl-2 col-lg-3 col-md-4>
      <div>
        
      
      <a ><img style="width: 50%; margin-left: 91px;"  src="assets/five-star-images/order.png" (click)="getNotification()" alt="" routerLink="/tabs/tab2"> </a>
      
      <!-- <div> <img src="assets/monthly.jpg" id="mipicm"></div> -->
      
      <div> <img src="assets/five-star-images/1.jpg" id="mipicm1"></div>
      <div> <img src="assets/five-star-images/2.jpg" id="mipicm1"></div>
      <div> <img src="assets/five-star-images/3.jpg" id="mipicm1"></div>
      <div> <img src="assets/five-star-images/4.jpg" id="mipicm1"></div>
      <!-- <div> <img src="assets/five-star-images/5.jpg" id="mipicm1"></div> -->
      
      <!-- <ion-img src="assets/five-star-images/most.jpg"></ion-img> -->
      <div> <img src="assets/five-star-images/most.jpg" id="mipicm2"></div>
      
       
      <div>
        <ion-card *ngFor="let p of popularItems">
          <ion-card-content class="ion-no-padding">
      
           
              <ion-grid>     
              
      
              <ion-row>
                <ion-col size="4">
                  <div style="height: 111%;">
                    <img class="item_img" src="{{p.base64Image}}"  onError="this.src='assets/default-grey.jpg'">
                  </div>
                 
  
                    <div  *ngIf="p.base64Image">
                    <img class="veg_img" *ngIf="p.foodType === '1'" src="assets/five-star-images/veg-item.jpg" alt="">
                    <img class="veg_img" *ngIf="p.foodType === '4'" src="assets/five-star-images/non-veg.png" alt="">
            
                  </div>
                  <!-- <ion-img  src="{{p.base64Image}}" ></ion-img>
                  <ion-badge *ngIf="p.foodType === '1'" class="food_veg"  color="success" ><span>o</span></ion-badge>
                  <ion-badge *ngIf="p.foodType === '4'"  class="food_veg" color="danger"><span>o</span></ion-badge> -->
                  <!-- <img-loader ></img-loader> -->
                </ion-col> 
                <ion-col  size="8">
                  <div style="margin-left: 9px;">
                    <div class="dis_pri" *ngIf="p.discountPrice > 0">
                      <label  class="" style="width: 100%;
                      margin-top: 9px;
                      position: absolute;
                      margin-left: 6px;
                      color: white;
                      font-size: 10px;">
                        {{p.discountPercentage}}% </label>
                    </div>
                      <ion-card-title  class="font-17 ">{{ p.name }}</ion-card-title>
      
                      <h2 class="pad-both-7 dis-in" style="color: #8A8989;font-size: 15px;"> <i class="fa fa-rupee"></i> {{ p.price - p.discountPrice }}</h2>
                      <h2 *ngIf="p.discountPrice != 0" style="display: inline;margin-left: 15px;"> <span style='color:red;text-decoration:line-through'><span style="color: #8A8989;;font-weight: 100;font-size: 15px;">&#8377; {{p.price}}</span></span></h2>
                      <ion-button  *ngIf="p.optionGroup.length > 0"  class="addonsbt pull-right" > add-ons</ion-button>
                      <span *ngIf="p.discountPrice != 0" class="save_price pull-right">Save &#8377; {{p.discountPrice}}</span>
                      <ion-label>
                       
                        <!-- <h2 class="pad-both-7"> <i class="fa fa-rupee"></i> {{ p.price }}</h2> -->
                      </ion-label>
                      <div class="col-6">
                            <div class="row">
                              <ion-col  class="col-4 ion-align-self-center ion-no-padding">
                        
                                <ion-button class="ion_minus_button ion-no-margin"  color="danger" fill="solid" size='small'  [attr.disabled]="p.quantity<1 ? 'disabled ' : null" (click)="decrementQty(p)" >
                                  <div class="minus">-</div>
                                  </ion-button>  
                              </ion-col>
                      
                              <ion-col class="col-4 ion-text-center ion-no-padding" >
                                <ion-label  class="amt-wid font-18">{{ p.quantity }}</ion-label>
                              </ion-col>
              
                              <ion-col  class="col-4 on-text-right ion-no-padding" id="adds">
                                <ion-button class="ion_plus_button ion-no-margin"  color="danger" fill="solid" size='small' (click)="incementQty(p)">
                                  <div class="plus" >+</div>
                                </ion-button>
                                                  
                              </ion-col>
                            </div>
                          
                      </div>
                        

                    </div>
                </ion-col>      
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
      <div> <img src="assets/five-star-images/offer.jpg" id="mipicm2"></div>
    </div>
  </ion-col>


</ion-row>

</ion-grid>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-margin-bottom">
          <ion-col > 
            <ion-img src="assets/five-star-images/a.png"></ion-img>
         </ion-col>
      
          <ion-col>
              <ion-img src="assets/five-star-images/b.png"></ion-img> 
          </ion-col>  
        </ion-row>

        <ion-row>
          <ion-col style="background-color: brown;color: white" class="ion-text-center">
            <ion-label>Delicious Treats</ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="background-color: bisque;">
          <ion-col class="ion-padding-vertical ion-margin-vertical">
            <ion-slides >
              <ion-slide >
                <ion-img src="assets/five-star-images/1.png"  ></ion-img>
                <div class="set_mar">
                  <ion-img src="assets/five-star-images/2.png"></ion-img>
                </div>
           
                <ion-img src="assets/five-star-images/3.png" ></ion-img>
              </ion-slide>

              <ion-slide >
                <ion-img src="assets/five-star-images/1.png" ></ion-img>

                <div class="set_mar">
                  <ion-img src="assets/five-star-images/2.png"></ion-img>
                </div>

                <ion-img src="assets/five-star-images/3.png" ></ion-img>
              </ion-slide>
            
              <ion-slide>
                <ion-img src="assets/five-star-images/1.png" ></ion-img>

                 <div class="set_mar">
                  <ion-img src="assets/five-star-images/2.png"></ion-img>
                </div>
                
                <ion-img src="assets/five-star-images/3.png" ></ion-img>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin-vertical">
            <ion-slides>
              <ion-slide>
                <ion-img src="assets/five-star-images/sliderb/1.jpg"></ion-img>
              </ion-slide>

              <ion-slide>
                <ion-img  src="assets/five-star-images/sliderb/2.jpg"></ion-img>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>

