<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">
   <div>
      <a style="display: flex" routerLink="/check-out"><ion-icon name="chevron-back" class="backbutton"></ion-icon><ion-label style=" margin-top: 1%;
        color: black;">Add New Address</ion-label></a>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content><br>

  <ion-row class="Details">Personal Details</ion-row>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div>
      <ion-label class="allDetails1">Pincode</ion-label>
      <ion-input  name="pincode" (ionInput)="checkValue()" (ionBlur)="applyValidation()" placeholder="Search Pincode" formControlName='pincode'
        [(ngModel)]="saveUser.pincode"></ion-input>
      <div style="margin-bottom: 16px; margin-left: 15px;" *ngIf="submitted  && f('pincode').hasError('required')"
        [style.color]="'red'">
        <span *ngIf="f('pincode').hasError('required')">Can't be empty</span>
      </div>
      <div [style.color]="'red'" style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="f('pincode').hasError('pattern')"  >
        Input must be a number!
    </div>
      <div  style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="form.get('pincode').touched && pincodeCheck" [style.color]="'red'">
        <span>Delivery not available in this area!</span>
      </div>

      <div  style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="pincodeCheckONSubmit" [style.color]="'red'">
        <span>Delivery not available in this area!</span>
      </div>
    </div>


    <div>
      <ion-label class="allDetails">First Name</ion-label>
      <ion-input type="text" placeholder="Your First Name" name="fristName" formControlName='fristName'
        [(ngModel)]="saveUser.fristName"></ion-input>

      <div style="margin-bottom: 16px; margin-left: 15px;" *ngIf="submitted  && f('fristName').hasError('required')"
        [style.color]="'red'">
        <span *ngIf="f('fristName').hasError('required')">Can't be empty</span>
      </div>
      <div  [style.color]="'red'" style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="f('fristName').hasError('pattern')"  >
        Input must be a character!
    </div>
    </div>


    <div>
      <ion-label class="allDetails">Last Name</ion-label>
      <ion-input type="text" placeholder="Your Last Name" formControlName='lastName' [(ngModel)]="saveUser.lastName">
      </ion-input>

      <div style="margin-bottom: 16px; margin-left: 15px;" *ngIf="submitted  && f('lastName').hasError('required')"
        [style.color]="'red'">
        <span *ngIf="f('lastName').hasError('required')">Can't be empty</span>
      </div>

      <div  [style.color]="'red'" style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="f('lastName').hasError('pattern')"  >
        Input must be a character!
    </div>
    </div>
            <div class="ion-margin-vertical"> 
              <div class="form_row">
                <div formGroupName="state">
                  <ion-label class="allDetails">State</ion-label>
                 
                  <div>
                    <select style="width: 94%;margin-left: 2%;height: 39px;" (change)="filterState()"  [ngModel]="saveUser.state.stateName" formControlName="stateName" name="state" class="required">
                      <option value="{{saveUser.state.stateName}}"  disabled selected>{{saveUser.state.stateName}}</option>
                      <option *ngFor='let state of states'  [ngValue]="state">{{state.stateName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="ion-margin-vertical ion-margin-bottom">
              <div class="form_row" >
                <div formGroupName="city">
                  <ion-label class="allDetails">City</ion-label>
                <div>
                  <select style="width: 94%;margin-left: 2%;height: 39px;" (change)="filterCity()"  [ngModel]="saveUser.city.cityName" formControlName="cityName" name="city" class="required">
                    <option value="{{saveUser.city.cityName}}" disabled selected>{{saveUser.city.cityName}}</option>
                    <option *ngFor="let city of cities.citys" [ngValue]="city">{{city.cityName}}</option>
                  </select>
                </div>
              
                </div>
              </div>
            </div>
           
    <div>
      <ion-label class="allDetails ion-margin-top">Address</ion-label>
      <div *ngFor="let add of saveUser.addressUser">
        <ion-textarea name='street1' placeholder="address" class="add_text_area" value="{{selectArea}}"
          (ionInput)="searchPlace()" [(ngModel)]="add.street1" formControlName="street1" style="height:100px;">
        </ion-textarea>
      </div>


      <div style="margin-bottom: 16px; margin-left: 15px;" *ngIf="submitted  && f('street1').hasError('required')"
        [style.color]="'red'">
        <span *ngIf="f('street1').hasError('required')">Can't be empty</span>
      </div>

      <div>
        <ion-list *ngFor="let place of places">
          <ion-item (click)="selectPlace(place)">{{place.description}}</ion-item>
        </ion-list>
      </div>
    </div>

    <div>
      <ion-label class="allDetails">Mobile</ion-label>
      <ion-label style="margin-left: 3%;" class="ion-margin-vertical">{{moNumber}}</ion-label>
    </div>
  
    <ion-button expand="block" type="submit" class="btn"><span style="font-size: 14px;">Save And Continue</span>
    </ion-button>

  </form>

  <!-- //uncoomnet this to show map -->
  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>

  <div #map id="map">
    <ion-spinner></ion-spinner>
  </div>

</ion-content>