
.new-background-color{
  --background: white !important;
}

.loginr{
  color: black;
  font-size: 17px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  // justify-content: start;
  width: 100%;
  min-height: 44px;
  margin-top: -37px;
  margin-left: 21px;
  }
.back{
margin-top: -3px;
color: black;
}

.new-background-color1{
--background: #ececec !important;
height: 40px;
}
.cprocess{font-size: 14px;color: black;margin-top:10px;margin-left:5px;}
.home{margin-left:12px;margin-top:12px;}
.forward{margin-left: 15px;margin-top:12px;}
.loginred{

  color: #EF3926;
  font-size: 16px;
  margin: 10px 0px 2px;
  font-weight: 600;
}
.lock{
  color: #EF3B26;
  width: 14px;
  margin-top: -16px;
  margin-left: -1px;
  font-weight: 600;
}
.lock1{
  color: #EF3B26;
  margin-left: 4px;
  font-size: 13px;
  margin-top: -1px;
}
.btn{
--background: red;
    height: 60px;
    width: -webkit-fill-available;
    color: white;
    border: none
}

ion-content{
  --background: #F7F5F5;
}
a{
  color: red;
  text-decoration: none;
}

.make_red{
  --background: red;
}

.login_number{
  margin-top: 32px;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: ui-serif;
}

.backbutton{
  color: black;
  margin-left: 13px;
  font-size: x-large;
}

#val_req{
  margin-bottom: 16px;
    margin-left: 20px;
    font-size: 12px;
    margin-top: -19px;
}

#btn_con{
  --background: red;
    height: 43px;
    width: 92%;
    color: white;
    margin-top: 16px;
    margin-left: 14px;
}
