<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color" style="height: 47px">
  <!-- <ion-back-button type="button" style="color: black;" slot="start" defaultHref="/check-out" text="Login / Register"></ion-back-button> -->
  <div style="display: flex;
  margin-top: 5px;">
    <a (click)="gotoCheckOut()"><ion-icon (click)="gotoCheckOut()" name="chevron-back" class="backbutton"></ion-icon></a>
    <ion-label >Login / Register</ion-label>
  </div>
  
 </ion-toolbar>
</ion-header>

<ion-content><br>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none" style="--background: #F7F5F5;">
              <ion-label style="color: red;    font-size: 18px;">Login / Register</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="inset"  style="--background: #F7F5F5;width: 318px;">
                <ion-label position="floating">Please Enter Your Mobile Number </ion-label>
                <ion-input required formControlName="moNumber" maxlength="10"  minlength="10" type="tel"  style="font-size: 14px;"></ion-input>
            </ion-item><br>

              <div id="val_req" *ngIf="submitted && f('moNumber').hasError('required')">
                <span *ngIf="f('moNumber').hasError('required')"  [style.color]="'red'">Can't be empty!</span>
              </div>
              
              <div *ngIf="form.get('moNumber').touched && form.get('moNumber').invalid">
                <div  style="color: red;
                margin-top: -17px;
                font-size: 12px;
                margin-bottom: 20px;
                margin-left: 18px;"  *ngIf="form.get('moNumber').errors.maxlength">
                      Must be 10 characters long!
               </div>
          </div> 
          
                <div  style="color: red;
                margin-top: -17px;
                margin-bottom: 20px;
                margin-left: 18px;font-size: 12px;"  *ngIf="f('moNumber').hasError('pattern')"  >
                   Input must be a number!
               </div>

              <div *ngIf="form.get('moNumber').touched && form.get('moNumber').invalid">
                <div  style="color: red;
                margin-top: -17px;
                font-size: 12px;
                margin-bottom: 20px;
                margin-left: 18px;"  *ngIf="form.get('moNumber').errors.minlength">
                   Must be 10 characters long!
               </div>
         </div> 
          </ion-col>
        </ion-row>

      
        
            <ion-button  style="--background: red;" expand="block" strong="true" type="submit" >Continue</ion-button>
       
       
      </ion-grid>
    </form>
  
   
  <ion-item style="--background: #F7F5F5" lines="none" routerLink="/forget-password" >
    <ion-icon name="lock-closed"  size="small" class="lock"></ion-icon>
    <ion-label class="lock1"  ><a >Forget Password?</a></ion-label>
  </ion-item>

 </ion-content>