<ion-content fullscreen>
 
  <div class="ion-text-end">
    <ion-button (click)="close()" fill="clear" color="dark">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>
 
  <div class="ion-padding">
 
    <ion-list>
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2" class="ion-align-self-center">
              <ion-button color="red" fill="clear" (click)="decreaseCartItem(p)" >
                <div class="minus">-</div>
              </ion-button>
            </ion-col>
          
            <ion-col size="1" class="ion-align-self-center">
              {{ p.amount }}
            </ion-col>
 
            <ion-col size="2" class="ion-align-self-center">
              <ion-button color="transparent" fill="clear" (click)="increaseCartItem(p)" style="margin-left: -10px;">
                <div class="plus">+</div>
              </ion-button>
            </ion-col>
 
            <ion-col size="2" offset="5">
              <ion-button color="medium" fill="clear" (click)="removeCartItem(p)">
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9">
              <b>{{ p.name }}</b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              <i class="fa fa-rupee"> {{ p.amount * p.price }}</i>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              Total:
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              <i class="fa fa-rupee"> {{ getTotal() }}</i>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
 
    <ion-button expand="full" (click)="checkout()">
      Checkout
    </ion-button>
  </div>
 
</ion-content>