
.ion-color-medium[_ngcontent-igy-c4] {
    --ion-color-base: #f4f5f80d !important;
    --ion-color-base-rgb: var(--ion-color-medium-rgb, 146, 148, 156) !important;
    --ion-color-contrast: var(--ion-color-medium-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-medium-shade, #808289) !important;
    --ion-color-tint: var(--ion-color-medium-tint, #9d9fa6) !important;
}
.minus{
    color: white;
    font-size: 20px;
    
    width: 27px;
    font-weight: bolder;
    margin-left: -10px;
    background-color: #5a5a5a;;
}

.plus{
    font-weight: bolder;
    color: white;
    font-size: 20px;
    
    width: 27px;
    background-color: #5a5a5a;;
}
.amount{
    border: 1px solid black;
    text-align: center;
}
