<ion-header class="headers">
  <ion-toolbar class="headers new-background-color" >
  
  <!-- <button class="btn btn-primary">Login</button> -->

    <ion-buttons slot="start" >
      <ion-menu-button menu="main-menu" style="color: red;    width: 61px;font-size: xxx-large;"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" style="--background: white;--box-shadow: none;" (click)="openmodal()"  ><ion-icon style="color: black;height: 54px;width: 36px;" name="search"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<div>
  <div (click)="commonService.gotoHome()">
    <img ion-center src="./assets/five-star-images/logo.png" id="mipics">
  </div>

</div>
<ion-content scrollY="true">

 

  <div *ngIf="cart.length === 0">
    <ion-grid>
      <ion-row>
        <ion-col style="height: 510px" col-12 col-xl-2 col-lg-3 col-md-4>
          <ion-img src="assets/five-star-images/svg/icon.svg"></ion-img>


          <ion-row class="tex">
            <div>
              <ion-label class="some_data2">You are cart is empty!</ion-label>
            </div>

          </ion-row>
          <ion-row style="margin-top: 15px;">
            <ion-label class="some_data">
              Cart Section is empty. After Selecting item you can track items here!
            </ion-label>
          </ion-row>

          <ion-row class="ion-text-center" (click)="gotoTab2()">
            <ion-col>
              <ion-button class="btn_check" fill="outline" strong="true">Start Shopping</ion-button>
            </ion-col>
          </ion-row>


        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="cart.length > 0">
    <div class="heading1">
      <h4>ITEM CART</h4>
    </div>

    <div>
      <ion-card *ngFor="let p of cart">
        <ion-card-content class="ion-no-padding">


          <ion-grid>


            <ion-row>
              <ion-col size="4">
                <!-- <ion-img style="height: 85px;"  [src]="p.base64Image" ></ion-img> -->
                <div style="height: 85px;">
                  <img class="item_img" [src]="p.base64Image" onError="this.src='assets/default-grey.jpg'">
                  <div *ngIf="p.base64Image">
                    <img class="veg_img" *ngIf="p.foodType === '1'" src="assets/five-star-images/veg-item.jpg" alt="">
                    <img class="veg_img" *ngIf="p.foodType === '4'" src="assets/five-star-images/non-veg.png" alt="">
                    <!-- <ion-badge *ngIf="p.foodType === '1'" class="food_veg"  color="success" ><span>o</span></ion-badge>
                    <ion-badge *ngIf="p.foodType === '4'"  class="food_veg" color="danger"><span>o</span></ion-badge> -->
                  </div>

                </div>
              </ion-col>
              <ion-col size="8">
                <div style="margin-left: 6px;">




                  <ion-label>
                    <ion-label style="margin-top: -12px;
                    margin-right: -12px;" (click)="removeCartItem(p)" class="ion-float-right" color="medium"
                      fill="clear">
                      <ion-icon name="close-circle" class="close_icon" slot="icon-only"></ion-icon>
                    </ion-label>
                    <!-- <img class="veg_img" style="height: 10px; display: inline;" *ngIf="p.foodType === '1'" src="assets/five-star-images/veg.png" alt=""> -->
                    <ion-card-title style="font-size: 17px;" class="font-18" style="font-size: 16px;width: 180px;">{{
                      p.name }}</ion-card-title>


                    <h2 class="pad-both-7 dis-in" style="color: #8A8989;"> <i class="fa fa-rupee"></i> {{ p.price -
                      p.discountPrice }} &nbsp;&nbsp; <span style='color:red;text-decoration:line-through'><span
                          *ngIf="p.discountPrice != 0" style="font-weight: 100;color: #8A8989;;">&#8377;
                          {{p.price}}</span></span> </h2>
                    <h2 id="qty_t" class="pull-right"> <i class="fa fa-rupee"
                        style="font-size: 16px;margin-top: 2px;"></i> {{(p.price - p.discountPrice) * p.quantity}}</h2>
                    <span *ngIf="p.discountPrice != 0" style="color: green;font-size: 12px;"
                      class="save_price pull-right">Save &#8377; {{p.discountPrice}}</span>

                    <div *ngFor="let o of p.optionGroup; last as islast">
                      <div *ngIf="islast">
                        <div style="margin-top: -7px;" *ngFor="let b of o">
                          <ion-label style="font-size: 12px;"> <span *ngIf="b.ref_id.includes('VO')">Size: </span> <span
                              *ngIf="b.ref_id.includes('OGI')">Extras: </span>{{b.name}}</ion-label>
                        </div>

                      </div>

                    </div>

                  </ion-label>
                  <div class="col-6">
                    <div class="row">
                      <ion-col class="col-4 ion-align-self-center ion-no-padding">

                        <ion-button class="ion_minus_button ion-no-margin" color="danger" fill="solid" size='small'
                          [attr.disabled]="p.quantity<1 ? 'disabled ' : null" (click)="decreaseCartItem(p)">
                          <div class="minus">-</div>
                        </ion-button>
                      </ion-col>

                      <ion-col class="col-4 ion-text-center ion-no-padding width-32">
                        <ion-label id="qty_num" class="amt-wid font-18">{{ p.quantity }}</ion-label>
                      </ion-col>

                      <ion-col class="col-4 on-text-right ion-no-padding">
                        <ion-button class="ion_plus_button ion-no-margin" color="danger" fill="solid" size='small'
                          (click)="increaseCartItem(p)">
                          <div class='plus'>+</div>
                        </ion-button>

                      </ion-col>
                    </div>

                  </div>


                </div>

              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>


      <div>
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <ion-list lines="full">
              <div>
                <ion-item>
                  <ion-label style="font-size: 15px;color: #4f4f4f;text-align: center;margin-top: 0px;">BILL DETAILS
                  </ion-label>
                </ion-item>



                <ion-item>
                  <ion-label slot="start" class="list_label">Total Qty</ion-label>
                  <div style="display: flex;color:rgb(156, 156, 156);    font-size: 16px;" slot="end">
                    <ion-label>{{ cartItemCount | async }}</ion-label>

                  </div>
                </ion-item>




                <ion-item>
                  <ion-label class="list_label">Sub Total</ion-label>
                  <i style="display: flex;color: rgb(156, 156, 156);    font-size: 16px;" slot="end"
                    class="fa fa-rupee">
                    <ion-label>{{ subTotalPrice() | number:'1.0-2' }}</ion-label>
                  </i>

                </ion-item>
                
                <!-- <ion-item>
                  <ion-label class="list_label">Delivery Charges</ion-label>
                  <i class="fa fa-rupee" style="display: flex;color: rgb(156, 156, 156);    font-size: 16px;"
                    slot="end">
                    <ion-label>0</ion-label>
                  </i>
                </ion-item> -->

                    <ion-item *ngIf="taxes.CGST != 0">
                      <ion-label class="list_label">CGST :</ion-label>
                      <i class="fa fa-rupee" style="display: flex;color: rgb(156, 156, 156);    font-size: 16px;"
                        slot="end">
                        <ion-label>{{taxes.CGST | number:'1.0-2'}}</ion-label>
                      </i>
                    </ion-item>

                    <ion-item *ngIf="taxes.SGST != 0">
                      <ion-label class="list_label">SGST :</ion-label>
                      <i class="fa fa-rupee" style="display: flex;color: rgb(156, 156, 156);    font-size: 16px;"
                        slot="end">
                        <ion-label>{{taxes.SGST | number:'1.0-2'}}</ion-label>
                      </i>
                    </ion-item>
    
                    <ion-item *ngIf="taxes.VAT != 0">
                      <ion-label class="list_label">VAT :</ion-label>
                      <i class="fa fa-rupee" style="display: flex;color: rgb(156, 156, 156);    font-size: 16px;"
                        slot="end">
                        <ion-label>{{taxes.VAT | number:'1.0-2'}}</ion-label>
                      </i>
                    </ion-item>

                <ion-item>
                  <ion-label class="list_label">Total Taxes :</ion-label>
                  <i class="fa fa-rupee" style="display: flex;color: rgb(156, 156, 156);    font-size: 16px;"
                    slot="end">
                    <ion-label>{{totalTaxes() | number:'1.0-2'}}</ion-label>
                  </i>
                </ion-item>

                <ion-item>
                  <ion-label class="list_label2">To Pay</ion-label>
                  <h2 class="qty_last">
                    <i class="fa fa-rupee" style="display: flex;    font-size: 20px;" slot="end">
                      <ion-label>{{ grandTotal() | number:'1.0-2' }}</ion-label>
                    </i>
                  </h2>

                </ion-item>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </div>




  </div>






</ion-content>
<!-- 
<div>
  <div class="bottomfixbutton">
  
 
  </div>
</div>   -->

<ion-footer *ngIf="cart.length > 0">
  <ion-toolbar>
    <ion-row style="background-color: #37474f;">
      <ion-col size="5">

        <ion-label style="display: flex;
          color: white;margin-left: 15px;font-weight: 600;">Rs {{ grandTotal() }}/-</ion-label>

        <ion-label style="display: flex;
          color: white;margin-left: 15px;font-weight: 600;">save Rs {{priceSave()}}/-</ion-label>

      </ion-col>

      <ion-col size="7">
        <!-- <ion-item style="--background: #37474f;"> -->
        <div>
          <ion-button slot="end" (click)="checkout()" class="checkb">
            <span style="    font-size: 14px;
              font-weight: 600;">CHECKOUT</span>
          </ion-button>
        </div>

        <!-- </ion-item> -->


      </ion-col>
    </ion-row>

    <!-- <ion-title>Footer - No Border</ion-title> -->
  </ion-toolbar>
</ion-footer>