<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar class="ion-margin-vertical">
          <!-- <div class="miline"><img src="./assets/five-star-images/catalog/logo0.png" id="mipics"></div> -->
          <div class="miline ion-margin-vertical ion-margin-horizontal"><img src="./assets/five-star-images/catalog/logo0.png"></div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      
    <div class="manu_options">
      <ion-list lines="none">
        
        <ion-item  class="ionitomc" routerLink="/tabs/tab1" (click)="openEnd()" >
          <ion-icon name="home" slot="start" id="iicons"></ion-icon>
          <ion-label  class="alllabel">HOME</ion-label>
        </ion-item>
      
        
        <!-- <ion-menu-toggle auto-hide="false">
           <ion-list lines="none">

            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
             All</ion-item>

            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
            [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
            Breakfast & Dairy</ion-item>

              <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
              Beverages </ion-item>

             <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
              Noodles , Sauces </ion-item>

             <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
              Houseold Needs </ion-item>

             <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
              Grocery & Staples </ion-item>

             <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
              Biscuits ,Snacks & Choclates </ion-item>

             <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
              Baby & Kids </ion-item>

             <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
              Personal Care </ion-item>

              <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
              Most Popular </ion-item>

              <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
              Discounted item </ion-item>
              
              <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
              [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" id="subm">
              <img src="./assets/grocery.jpg">
            </ion-item>


        </ion-list>
        
      </ion-menu-toggle> -->
        

        <ion-item routerLink="/check-out" class="ionitomc" (click)="openEnd()" >
          <ion-icon name="cart" slot="start" id="iicons"></ion-icon>
          <ion-label class="alllabel" >CART & CHECKOUT</ion-label>
        </ion-item>

        <ion-item class="ionitomc" button (click)="gotoOrderPage()" >
          <ion-icon name="document-text" slot="start" id="iicons"></ion-icon>
          <ion-label class="alllabel">ORDERS</ion-label>
        </ion-item>

        <ion-item class="ionitomc"  *ngIf="!userIsAuthenticated"  button (click)="gotoLogin()" >
          <ion-icon name="log-in-sharp" slot="start" id="iicons"></ion-icon>
          <ion-label class="alllabel">LOGIN</ion-label>
        </ion-item>

        <ion-item class="ionitomc" button (click)="share()" >
          <ion-icon name="share-social-sharp"  slot="start" id="iicons"></ion-icon>
          <ion-label class="alllabel">SHARE APP</ion-label>
        </ion-item>


        <ion-item routerLink="/tab2" (click)="openEnd()"  class="ionitomc" lines="none" >
          <ion-icon name="notifications" slot="start" id="iicons"></ion-icon>
          <ion-label class="alllabel">OUR POLICY</ion-label>
          
          <!-- <ion-icon slot="end" [name]="isRemainder? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon> -->
        </ion-item>  

        <!-- <ion-item class="ionitomc">
          <ion-icon name="share-social" slot="start" id="iicons"></ion-icon>
          <ion-label class="alllabel">SHARE APP</ion-label>
        </ion-item> -->

        <ion-item  class="ionitomc" *ngIf="userIsAuthenticated" button  (click)="apiService.logout()" (click)="logout()">
          <ion-icon  name="power" slot="start" id="iicons"></ion-icon>
          <ion-label  class="alllabel">LOGOUT</ion-label>
        </ion-item>
 



        
 

      </ion-list>

    </div>
     
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main" animated="false"></ion-router-outlet>
</ion-app>


