// #iicons{
//     color:black;
//     margin-left: -16px;
//     font-size: 16px;
//   }
#mipics{
  height: 60px;
  width: 89% !important;
  margin-left: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  }
// .miline{
   
//     width: 75%;
//     margin-left: 33px;
// }
.ionitomc{
    // border-bottom:1px solid grey;
    // width: 85%;
    // margin-left:17px;

    font-size: 14px;
    font-weight: 500;
}

ion-icon{
width: 20px;
}

.manu_options{
  margin-left: 25px;
}
// #subm{
//   margin-left: 40px;
// }
// .alllabel{
  
//   color: black;
  
//   padding: 5px 0 !important;
//     font-size: 10px;
//     line-height:17px !important;
// }