<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color" >

    <ion-buttons slot="start" >
      <ion-menu-button menu="main-menu" style="color: red;    width: 61px;font-size: xxx-large;"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" style="--background: white;--box-shadow: none;" (click)="openmodal()"  ><ion-icon style="color: black;height: 54px;width: 36px;" name="search"></ion-icon></ion-button>

  </ion-toolbar>
</ion-header>
<ion-content>
<ion-header class="new-background-color1" style="background-color:#ececec;">
  <!-- <ion-label><ion-icon name="home" class="home"></ion-icon></ion-label>
  <ion-label><ion-icon name="chevron-forward" class="forward"></ion-icon></ion-label>
  <label class="cprocess">Order Details</label> -->
</ion-header>

<ion-content>

  <div style="margin-bottom: 54px;">
    <img ion-center src="./assets/five-star-images/logo.png" id="mipics" (click)="commonService.gotoHome()">
  </div>

<ion-row class="changepass"><div class="changepasst">change Password</div></ion-row>

<ion-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div>
      <ion-row class="allDetails">New Password</ion-row>
      <ion-input type="password"  name="password" formControlName='password'></ion-input>
    </div>

    <div  style="margin-bottom: 16px;"  *ngIf="submitted  && f('password').hasError('required')" [style.color]="'red'">
      <span *ngIf="f('password').hasError('required')">password is required</span>
    </div>

    <ion-row class="allDetails">Retype Password</ion-row>
    <ion-input type="Password" formControlName="confirmPassword"></ion-input>
    <ng-container >
      <div  [style.color]="'red'" *ngIf="!form.get('confirmPassword').errors && form.hasError('passwordNotMatch') && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
        Password and Confirm Password fields should match
      </div>
    </ng-container>
    <div  style="margin-bottom: 16px;"  *ngIf="submitted && f('confirmPassword').hasError('required')" [style.color]="'red'">
      <span *ngIf="f('confirmPassword').hasError('required')">password is required</span>
    </div>

    <ion-button style="color: #fff;
    --background: red;
    border-color: #232f3e;
    font-size: 12px;
    line-height: 1.5;
    --border-radius: none !important;
    margin-left: 1px;
    height: 42px;
    text-transform: capitalize;
    margin-top: 8px;" type="submit">Submit</ion-button>


  </form>
</ion-card>
</ion-content>