.new-background-color{
    // height: 68px;
  }
  .ssearch{
    --border-radius: 6px !important;
    width: 110%;
    margin-left: -46px;
    margin-top: -8px;
  }
  #mipics{
     z-index: 9999;
    left: 36%;
    position: fixed;
    top: 2px;
    // height: 16%;
}
.new-background-color1{
    --background: #ececec !important;
    height: 40px;
    }
.cprocess{font-size: 14px;color:#222222;margin-top:5px;margin-left:5px;font-weight: 600;}
.home{margin-left: 22px;
        margin-top: 6px;
        font-size: small;
        color: grey;}
.forward{margin-left: 5px;
        margin-top: 10px;
        color: grey;}
.bbutton1{
            border-left: 0;
            --border-right: 0;
            display: inline-block;
            position: fixed;
            left: 0;
            bottom: -1px;
            right: 0;
            font-size: 14px;
            color: #fff;
            --background: #689f39;
            width: 28%;
            height: 48px;
            --border-radius: none;
            text-transform: capitalize;
        }
.bbutton2{
            border-left: 0;
            --border-right: 0;
            display: inline-block;
            position: fixed;
            left: 100px;
            bottom: -1px;
            right: 0;
            font-size: 14px;
            --background: #689f39;
            width: 37%;
            height: 48px;
            --border-radius: none;
            color: #fff;
            text-transform: capitalize;
            border-left: 1px solid#fff;
        }
.bbutton3{
            border-left: 0;
            --border-right: 0;
            display: inline-block;
            position: fixed;
            left: 244;
            bottom: -1px;
            right: 0;
            --border-radius: none;
            font-size: 14px;
            --background: #689f39;
            color: #fff;
            width: 34%;
            height: 48px;
            --border-radius: none;
            text-transform: capitalize;
        }
.changepass{
    border-top: 3px solid red;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 4px #D2D2D2;
    color: #555;
    padding: 5px 15px;
    margin-top: 27px;
    width: 93%;
    height: 45px;
    margin-left: 12px;

}
.changepasst{
    line-height: 34px;
    padding: 0;
    margin: 0;
    font-size: 17px;
    color: red;
    text-transform: uppercase;
    font-weight: 600;
}
ion-card{
    background-color: #fbfbfb;
    padding: 12px 24px 36px;
    --border-radius: none !important;
    height: 289px;
    width: 92%;
    margin: 3px 0px 0px 14px;
}
ion-input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
  }
  .allDetails{
   font-size: 13px;
    font-weight: 600;
    color: #232f3e;
    line-height: 16px;
    display: block;
    margin-top: 10px;
}
.submitbutton{
    color: #fff;
    --background: #232f3e;
    border-color: #232f3e;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    --border-radius: none !important;
    margin-left: -9px;
    height: 42px;
    text-transform: capitalize;
    margin-top: 8px;
}



  .sc-ion-input-md-h.sc-ion-input-md-s.ng-touched.ng-invalid{
    border: 2px solid red;
  }

  .sbtn{
    margin-left: 250px;
    color: black !important;
    --background: white;
    margin-top: 29px;
    font-size: x-large;
    outline: none !important;
    --box-shadow: none !important;
    }
  

  #submitbtn{
    color: #fff;
    --background: #232f3e;
    border-color: #232f3e;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    --border-radius: none !important;
    margin-left: -9px;
    height: 42px;
    text-transform: capitalize;
    margin-top: 8px;
  }