
.new-background-color{
    --background: white;
  }
  .backbutton{
    color: black;
    margin-left: 13px;
  
    font-size: x-large;
  }
  .loginr{
    color: black;
    font-size: 17px;
    margin-left: -23px;
    margin-top: 2px;
    margin-bottom: 11px;
    }
  .back{
    color: black;
    }

.new-background-color1{
--background: #ececec !important;
height: 40px;
}
.cprocess{font-size: 14px;color:#222222;margin-top:10px;margin-left:5px;}
.home{margin-left: 22px;
    margin-top: 6px;
    font-size: small;
    color: grey;}
.forward{margin-left: 5px;
    margin-top: 10px;
    color: grey;}
.loginred{
    color: red;
    font-size: 16px;
    margin-left: -5px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 3px;
}
.lock{
  color: #EF3B26;
  font-weight: 600;
}
.lock1{
  color: #EF3B26;
}
.btn{
    --background: red;
    padding: 0px;
    height: 41px;
    width: 348px;
    margin-top: 27px;
    color: white;
    margin-left: 6px;
}
#numberinfo{
    margin-top: 7px;
    margin-left: 14px;
    color: black;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
}
#numberinfo1{
    font-weight: 500;
    margin-left: 14px;
    color: black;
    font-size: 13px;
    line-height: 22px;
}
.changemobilenumber{
    color: #000099;
    font-size: 14px;
    margin-left: 122px;
}
a {
    text-decoration: none;
    background-color: transparent;
    color: var(--ion-color-primary, #3880ff);
}
.passwordconfirm{
    font-size: 15px;
}

.back-color{
    --background: #F7F5F5;
}