<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">


    <div style="display: flex;
    margin-top: 5px;">
      <a (click)="gotoLoginPage()"><ion-icon (click)="gotoLoginPage()" name="chevron-back" class="backbutton"></ion-icon></a>
      <ion-label >Back</ion-label>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="back-color"><br>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" style="--background: #F7F5F5;">
          <ion-label style="color: red;font-size: 18px;">Enter Password</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-label id="numberinfo">This number is not registered with us. To </ion-label><br>
        <ion-label id="numberinfo1">register enter your new Password </ion-label><br>
        <ion-label class="changemobilenumber"><a routerLink="/tabs/tab3">change</a></ion-label>
        <ion-label style="position: relative;right: 162px;top: 2px;color: brown;font-size: 15px;">{{moNumber}}</ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item lines="inset" style="--background: #F7F5F5;width: 86%;">
            <ion-label position="floating" style="font-size: 13px" class="passwordconfirm">New Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
  
          <div style="margin-left: 15px;font-size: 14px;"
            *ngIf="submitted  && f('password').hasError('required')" [style.color]="'red'">
            <span *ngIf="f('password').hasError('required')">password is required</span>
          </div>
  
          <br>
          <ion-item lines="inset" style="--background: #F7F5F5;width: 86%;">
            <ion-label position="floating" style="font-size: 13px" class="passwordconfirm">Confirm New Password
            </ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
  
          <ng-container>
            <div style="margin-left: 12px;font-size: 14px;" [style.color]="'red'"
              *ngIf="!form.get('confirmPassword').errors && form.hasError('passwordNotMatch') && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
              Password and Confirm Password fields should match
            </div>
          </ng-container>
          <div style="margin-left: 15px;font-size: 14px;"
            *ngIf="submitted && f('confirmPassword').hasError('required')" [style.color]="'red'">
            <span *ngIf="f('confirmPassword').hasError('required')">password is required</span>
          </div>
  
          <ion-button type="submit" class="ion-margin-top" style="--background: red;margin-top: 15%;" expand="block" strong="true" >Register</ion-button>
        </form>
      </ion-col>
    </ion-row>

  </ion-grid>
  <!-- <ion-title class="loginred">Login / Register</ion-title> -->


</ion-content>