ion-icon{
    font-size: large;
    // margin-top: -20px;
}
.pizzaname{
    color: black;
    font-weight: 700;
    // margin-top: 9px;
    font-size: 14px;
}

#skeleton{
    position: relative;
      top: 524px;
      z-index: 1;
      margin-top: -548px;
  }
  
ion-header{
    // height: 111px;
}

div.contained {
    height: 50vh;
    /* DEMO STUFF BELOW */
    background: orange;
  }
.itemdiscription{
    color: grey;
    font-size: 12px;
    // margin-left: 19px;
    // margin-bottom: 11px;
    // margin-top: 10px;
}
.itemdiscription1{
    color: grey;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 20px;
}

.pizzasize{
    color: black;
    margin-top: 30px;
}
.option{
    color: grey;
    margin-left: 20px;
}
.size{
    margin-left: 20px;
    
}
.price{
    margin-left:191px;
}
.price2{
    margin-left:184px;
}
.fistradio{
    margin-top: -2px;
    margin-left: 18px;
}
.secondradio{
    margin-left: 8px;
}
.fa fa-rupee{
    font-size: medium;
}
.addbutton{

    font-size: 15px;
    // margin-left: 33px;
    height: 42px;
    margin-bottom: 17px;
    width: 97%;
    margin-top: 6px;
    --background: border-box rgb(237, 90, 107);
    --border-color: rgb(237, 90, 107);
    text-transform: capitalize;
    // font-size: 15px;
    // // margin-left: 143px;
    // margin-left: 33px;
    // height: 48px;
    // width: 81%;
    // margin-top: 8px;
    // --background: border-box rgb(237, 90, 107);
    // --border-color: rgb(237, 90, 107);
    // text-transform: capitalize;
    }
.increment{
    border: 1px solid black;
    // width: 90%;
    // height: 61%;
    // margin-top: 8px;
    // margin-left: 10px;
    border-radius: 6px;
}

.labe-font{
    font-size: 14px;
}

.minus{
    color: red;
    margin-top: 34%;
    margin-left: 18%
}
.plus{
    color: red;
    margin-top: 33%;
    margin-left: 22%
}
#quant{
   
    color: black;
    text-align: center;
    width: 26%;
    font-size: 14px;
    background: #F7E0E0;
    line-height: 37px;
    font-weight: 600;
  }

  .btn-close{
    --ripple-color: transparent;
  }

  .close-tab{
    font-size: x-large;
    margin-top: -6px;
  }

  .addOns{

  }

  .add_ons{
      
  }

  .addOns_label{
    margin-left: 19px;
    margin-bottom: 12px;
    margin-top: 11px;
    font-size: 21px;
  }

  .my-custom-class1{
    --spinner-color: red;
  }