<ng-container >
  <!-- <ion-spinner name="bubbles" *ngIf="spinner"></ion-spinner> -->
<ion-header *ngIf="!spinner">
  <ion-toolbar style="box-shadow: 3px 1px 5px 3px #e6e3e3;" >
    <ion-row >
    <ion-buttons slot="end" class="btn-close" style="margin-top: -64px !important;">
      <ion-button class="btn-close"  (click)="dismissModal()"> <div><ion-icon class="close-tab" name="close-circle"></ion-icon></div> </ion-button>
    </ion-buttons>
    <h5 class="ion-margin-start">{{addOnsItems.name}}</h5>
    <!-- <ion-title class="pizzaname ion-margin-top">{{addOnsItems.name}} </ion-title> -->
  
    <div class="itemdiscription ion-margin-vertical ion-margin-horizontal">On Top Of Pizza Sauce Chicken Tikka,Onion Capsicum,Tomato And
    Our Spl Blend Of Cheese</div>
  </ion-row>
</ion-toolbar>
</ion-header>


<ion-content >


  
<ion-list id="skeleton" *ngIf="spinner" >
  <ion-list-header>
    <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
  </ion-list-header>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>

</ion-list>

<!-- <ion-title class="pizzasize">Size</ion-title>
<ion-label class="option">Please select any one option</ion-label> -->
<div *ngIf="!spinner">
  <div class="ion-margin-top">
    <!-- <ng-container  *ngFor="let o of addOnsItems.optionGroup" > -->
    <ng-container  >
      <div>
  
      
        <div *ngFor="let p of variations">
  
          <ion-row style="display: block;">
            <ion-label style="margin-left: 17px;">{{p.name}}</ion-label>
            <ion-label  style="margin-left: 17px;display: block;font-size: 12px;" >Please select any one option</ion-label>
        </ion-row>
  
        <div style="margin-bottom: 15px;"> 
          <ng-container  *ngFor="let o of p.options;let i = index">
          
            <ion-radio-group [(ngModel)]="value_selected" (ionChange)="radioValue()">
            <div >
              <ion-item lines="none">
                <ion-label class="labe-font">{{o.name}}</ion-label>
                <ion-label style="text-align: end;"><i style="margin-right: 10px;" class="fa fa-rupee">{{o.price}}</i></ion-label>
                <ion-radio color="danger"  (ionFocus)="getIonRadioValue(o, p)"  value="{{i}}"></ion-radio>
                <!-- <h6>{{o.price}}</h6> -->
                <!-- <ion-label slot="end">{{o.price}}</ion-label> -->
              </ion-item>
            </div>
              
        
            </ion-radio-group>
         
        </ng-container >
        </div>
       
        
         
          </div>
          
          <div *ngFor="let p of addOns" >
        
            <ion-row style="display: block">
              <ion-label class="size">{{p.name}}</ion-label>
              <ion-label style="margin-left: 20px;font-size: 12px;display: block;    margin-bottom: 8px;">You can choose up to any options</ion-label>
            </ion-row>
           
            <div *ngFor="let o of p.options">
              <ion-row>
                <ion-col size="9">
                  <ion-item lines="none" >
                  
                    <h4  class="labe-font">{{o.name}}</h4>
                    <ion-label style="text-align: end;"><i style="margin-right: 10px;" class="fa fa-rupee">{{o.price}}</i></ion-label>
                    <ion-checkbox color="danger" [value]="o"  (ionChange)="onTermsChecked($event, p)" [checked]="isChecked"> </ion-checkbox>
                    
                  </ion-item>
                </ion-col>

                <ion-col size="3">
                  <ion-row >

                    
                     <ion-col size="12">
                      <div style="display: flex;margin-top: 7%;" class="increment">
                          <div style="width: 36%;" (click)="decreaseAddOns(o)">
                            <ion-icon name="remove" class="minus"></ion-icon>
                          </div>              
                        <div   id="quant">
                          {{o.qty}}
                        </div>
                          <div style="width: 34%;" (click)="increaseAddOns(o)">
                            <ion-icon name="add" class="plus"></ion-icon>
                          </div>
                        </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
                 

               
              
            </div>    

       
          </div>
     
     
       
         
       <!-- <div *ngFor="let o of p.options">
              <ion-label slot="start">{{o.name}}</ion-label>
                  <ion-label slot="end"><i class="fa fa-rupee">{{o.price}}</i></ion-label>
                  <ion-checkbox slot="end" style="margin-left: 7px;
                  margin-top: 5px;" [value]="o"  (ionChange)="onTermsChecked($event)"   color="primary"></ion-checkbox>
              </div> --> 
  
  
      <!-- <ion-checkbox style="margin-left: 7px;
      margin-top: 5px;" [value]="p.name"  (ionChange)="onTermsChecked($event)"   color="primary"></ion-checkbox> -->
    </div>
       <!-- <mat-radio-button value="2">Option 2</mat-radio-button> -->
      <!-- <ion-list *ngFor="let o of addOnsItems.optionGroup">
        <ion-radio-group [value]="o.name">
         
      
        </ion-radio-group>
      </ion-list> -->
    
    
    
    <ion-list>
      
   
    
        <!-- <ion-row style="margin-top: 15px;">
          <ion-label class="size">10' inches</ion-label>
          
          <div class="price2"><ion-label><i class="fa fa-rupee">{{p2}}</i></ion-label></div>
          <div class="secondradio"><ion-checkbox  [(ngModel)]="checked2"  (ionChange)="checkButton2(checked2)" color="secondary"></ion-checkbox></div>
        </ion-row>
         -->
      
    </ion-list>
    
    <!-- increament and decrement buttons -->
    
   
    </ng-container>
    
  </div>
  
  <div class="addOns_label">
    <ion-label *ngIf="toShowAddOns">Add Ons</ion-label>
  </div>
  
  <div *ngFor="let i of optionsList">
  
        
          <ion-label class="size">{{i.name}}</ion-label>
          
          <div style="margin-left: 278px;
          margin-top: -18px;">
              <ion-label ><i class="fa fa-rupee">{{i.price}}</i></ion-label>
              <!-- <ion-checkbox style="margin-left: 7px;
              margin-top: 5px;" [value]="i.price"  (ionChange)="onTermsChecked($event)"   color="primary"></ion-checkbox> -->
          </div>
  </div>
  
</div>


  <!-- <ion-button class="addbutton" routerLink="/check-out" (click)="addItem(addOnsItems)" >Add <i class="fa fa-rupee" style="margin-left: 5px;" >{{total}}</i></ion-button> -->



<!-- <ion-button class="addbutton" >Add <i class="fa fa-rupee" style="margin-left: 5px;">{{total}}</i></ion-button> -->

</ion-content>

<ion-footer *ngIf="!spinner" >
  <ion-toolbar>
    <ion-row>

      <!-- quantity of add Ons -->
       <ion-col size="3">
        <div style="display: flex;margin-top: 7%;" class="increment">
          <!-- <ion-row> -->
            <!-- <ion-button style="height: auto;" size="small" color="red" fill="clear" (click)="decreaseItem()" > -->
            <div style="width: 36%;" (click)="decreaseItem()">
              <ion-icon name="remove" class="minus"></ion-icon>
            </div>              
              
          <!-- </ion-button> -->
          
          <div   id="quant">
            {{qty}}
          </div>
          
          <!-- <ion-button style="height: auto;" size="small" color="red" fill="clear" (click)="increaseItem()" > -->
            <div style="width: 34%;" (click)="increaseItem()">
              <ion-icon name="add" class="plus"></ion-icon>
            </div>
             
          <!-- </ion-button> -->
          <!-- </ion-row> -->
          </div>
      </ion-col>

      <!-- /if quantity button is showing then button col size is 7 -->
      <ion-col size="9" >
        <ion-button class="addbutton"  (click)="addItem(addOnsItems)" >Add <i class="fa fa-rupee" style="margin-left: 5px;" >{{total * qty}}</i></ion-button>
      </ion-col>
    </ion-row>
    
    <!-- <ion-title>Footer - No Border</ion-title> -->
  </ion-toolbar>
</ion-footer>
</ng-container>
 <!-- <mat-radio-group style="margin-left: -41px;" [(ngModel)]="myModel" >
          <ion-label style="margin-right: 153px;margin-left: 61px;">{{p.price}}</ion-label>
          <mat-radio-button [value]="p.id" [(ngModel)]="radioValue" (click)="changeModel(p)">{{p.name}}</mat-radio-button>
         
        </mat-radio-group> -->