
// ion-content ion-toolbar {
//   --background: translucent;
// }
// .back{
//   float: left;
// }
// .serach{
//   margin-left: 10px;
//   font-family: 'Muli';
// font-style: normal;
// font-weight: bold;
// font-size: 18px;
// line-height: 22px;
// color: #222222;
// margin-bottom: 10px;
// margin-top: 13px;
// }
// .isrch{
//   margin-top: 5px;
// }
// .mycard{
//   box-shadow:none !important;
//   border-bottom: 1px solid #9B9B9B;

    
//     width: 350px;
    
// }
// .super{
//   font-family: 'Muli';
// font-style: normal;
// font-weight: 600;
// font-size: 14px;
// line-height: 22px;
// color: #222222;
// }
// .date{
//   font-family: 'Muli';
// font-style: normal;
// font-weight: 300;
// font-size: 12px;
// line-height: 16px;
// color: #7F7F7F;
// }
// .button1{
//   font-size: 9px;
//     width: 95px;
//     height: 28px;
// }
// .button2{
//   font-size: 9px;
//   margin-left: 104px;
//   margin-top: -60px;
//   height: 28px;
//   width: 95px;
// }









// ion-content ion-toolbar {
//   --background: translucent;
// }
// .myorder{
//   font-family: 'Muli';
// font-style: normal;
// font-weight: 900;
// font-size: 34px;
// line-height: 43px;
// color: #222222;
// margin-left: 25px;
// margin-top: 10px;
// }
// .icon{
//   width: 50px;
//   margin-left: 10px;
//   margin-top: 10px;
//   font-size: larger;
// }
// ion-segment-button{
//   --background-checked:black;
//   --border-radius:29px;
//   --color-checked:white;
//   font-weight: 600;
// font-size: 14px;
// line-height: 20px;
// text-transform:initial;
  
// }
// ion-card-title{
//   font-family: 'Muli';
// font-style: normal;
// font-weight: 600;
// font-size: 16px;
// line-height: 20px;
// display: flex;
// align-items: center;
// text-align: left;
// color: #222222;
// }

// .super{
//   color: black;
// }
// .cards{
//   color: black;
//   width: 343px;
// height: 164px;

// box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.12);
// border-radius: 8px;
// }
// .date{
//   float: right;
//   margin-top: -15px;
// }
// .amout{
//   float: right;
//   margin-top: -18px;
// }
// .deliver{
//   margin-top: 30px;
//   font-family: 'Muli';
// font-style: normal;
// font-weight: 600;
// font-size: 14px;
// text-align: right;
// color: #2AA952;
// margin-left: 20px;

// }
// .spnn{
//   font-family: 'Muli';
// font-style: normal;
// font-weight: 600;
// font-size: 16px;
// color: #222222;

// }
// .iobutton{
//   --background:white;
//   border: 1px solid #F20505;
// box-sizing: border-box;
// border-radius: 24px;
// --border-color:#F20505;
// --color:#F20505;
// margin-top: -30px;
// width: 100px;
// height: 30px;
// text-transform: initial;
// }
// .back{
//   float: left;
// }

.new-background-color{
  
    --background: red;
  }
  .slabel{
    color: #c8ffca;
  }

  
  .canbt{
  
    color: white;
      float: right;
      margin-top: -21px;
      margin-right: 10px;
      font-size: 17px;
      text-decoration: none;
  }

  ion-modal {
    .modal-wrapper {
        height: 70%;
        width: 60%;
    }
}
  div.contained {
    height: 50vh;
    /* DEMO STUFF BELOW */
    background: orange;
  }

  .search_can{
    margin-top: 12px;
    margin-left: 5px;
    color: white;
  }

  .for_searchBar{
    --icon-color: black;
    --placeholder-color: black;
    --cancel-button-color: black;
  }

  .sbtn{
    margin-left: 300px;
    margin-top: -80px;
   --background: linear-gradient(222deg, #689f39 83%, #689f39 83.11%);
      font-size: smaller;
      outline: none !important;
      --box-shadow: none !important;
    --border-color: linear-gradient(222deg, #689f39 83%, #689f39 83.11%) !important;
    height: 45px;
    }
  // .srchbox{
  //   width:250px;
  // }
  // .srchbox1{
  //   width: 22px !important;
  //     margin-top: -56px;
  //     margin-left: 176px;
  //     color:white;
      
  // }  
  
  .kiranashop{
    width: 100px;
    height: 102px;
  }

  .image {
    height: 5vw; 
    width: 5vw; 
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}

.circle-pic{
  width: 61px;
  height: 56px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.gotIt{
  margin-left: 6px;
  margin-top: 3px;
  margin-bottom: -3px;
  font-size: 18px
}
