<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color" >
    
    <!-- <div style="display: flex;">
      <ion-searchbar class="my-page-name-searchbar"  placeholder='Search For Food' name="searchText" [(ngModel)]="searchText" ></ion-searchbar>  
      <ion-label class="search_can" (click)="dismissModal()">Cancel</ion-label>
    </div> -->

    <div>
      <ion-searchbar class="ion-margin-top for_searchBar" (ionCancel)="dismissModal()" showCancelButton="always"  placeholder='Search For Items' name="searchText" [(ngModel)]="searchText" ></ion-searchbar>  
    </div>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<!-- searchButton -->
<!-- <a ><ion-button routerLink="/tabs/tab2" class="sbtn" ><ion-icon name="search"></ion-icon></ion-button></a> -->
<!-- <div>
  <img *ngIf="spinner" class="center" src="assets/five-star-images/gif/spinner.gif" />
</div> -->

<ng-container *ngIf="( filteredProduct | searchCategory: searchText) as result">
  <ion-list lines="none">
    <ion-item  (click)="getData()" *ngFor="let c of filteredProduct | searchCategory: searchText;">
      <ion-avatar slot="start">
        <img  src="{{c.base64Image}}" onError="this.src='assets/default-grey.jpg'" />
      </ion-avatar>
     
      <ion-label  (click)="value(c.name)">
        <h3> {{c.name}}</h3>
      </ion-label>
    </ion-item>
   
  </ion-list>

  <ion-item  style="--background: #F7F5F5"  *ngIf="searchText != '' && result.length === 0">No Search Found For <span  style="margin-left: 5px;color: cornflowerblue;">{{searchText}} </span></ion-item >
    <ion-item  style="--background: #F7F5F5" *ngIf="searchText != '' && result.length === 0">TIP: Check your spelling or modify your search.</ion-item>  

</ng-container>
</ion-content>