
.new-background-color{
  --background: white !important;
}

.loginr{
  color: #333;
  font-size: 18px;
  margin-left: -20px;
  margin-top: 9px;
  justify-content: flex-start;
  display: flex;
  margin-bottom: 11px;
  // justify-content: start

// font-weight: bold;
}
.back{
margin-top: -3px;
color: black;
}

.new-background-color1{
--background: #ececec !important;
height: 40px;
}
.cprocess{font-size: 14px;color: black;margin-top:10px;margin-left:5px;}
.home{margin-left:12px;margin-top:12px;}
.forward{margin-left: 15px;margin-top:12px;}
.loginred{
  // color: #EF3926;
  // font-size: 19px;
  // margin: 10px 0 0;
  // font-weight: 400;
  color: #EF3926;
  font-size: 16px;
  margin: 10px 0px 2px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.lock{
color: #EF3B26;
font-weight: 600;
}
.lock1{
color: #EF3B26;
margin-left: 10px;
}
.btn{
--background: red;
    height: 60px;
    width: 353px;
    color: white;
}

ion-content{
  --background: #F7F5F5;
}
a{
  color: red;
  text-decoration: none;
}

.login_number{
  margin-top: 32px;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: ui-serif;
}
