<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">
  
    
    <ion-buttons slot="start">
     <ion-back-button routerLink="/tabs/tab4" class="back"></ion-back-button><br>
      <ion-title class="loginr">Login / Register</ion-title>
    </ion-buttons>
  
    
  </ion-toolbar>
</ion-header>

<ion-content ><br>
  <!-- <ion-header class="new-background-color1" style="background-color:#ececec;margin-top: -16px;">
    
      <ion-label><ion-icon name="home" class="home"></ion-icon></ion-label>
      <ion-label><ion-icon name="chevron-forward" class="forward"></ion-icon></ion-label>
      <label class="cprocess">Checkout Process</label>
    </ion-header> -->
  <!-- <img src="./assets/login.jpg"> -->

  <ion-title class="loginred">Login / Register</ion-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
      
      <ion-item  style="--background: #F7F5F5">
        <!-- <div *ngIf="!inValidLogin"> -->
       

          <ion-label position="floating"  style="font-size: 18px; margin-top: 15px; margin-bottom: 5px" >Please Enter Your Mobile Number </ion-label>
        
          <ion-input formControlName="moNumber" minlength="10"></ion-input>
        </ion-item><br>
          <div style="margin-bottom: 16px; margin-left: 15px;" *ngIf="submitted && f('moNumber').hasError('required')" >
            <span [style.color]="'red'" *ngIf="f('moNumber').hasError('required')">Can't be empty</span>
          </div>
          
           <div *ngIf="form.get('moNumber').touched && form.get('moNumber').invalid">
                         <div  style="color: red;
                         margin-top: -17px;
                         margin-bottom: 20px;
                         margin-left: 18px;"  *ngIf="form.get('moNumber').errors.minlength">
                            Must be 10 characters long!
                        </div>
                  </div> 
   
        
        
        <!-- <div style="margin-top: 16px;margin-left: 5px;font-size: 18px;" *ngIf="inValidLogin">
         
          {{userMoNumber}}
        </div> -->
        <!-- <div class="alert alert-danger" style="color: red;"
            *ngIf="form.get('moNumber').touched && form.get('moNumber').invalid">
                Can't be empty
        </div>  -->
     
      

      <!-- <div class="margin-left: 20px; margin-bottom: 25px;" >
        {{userMoNumber}}
      </div> -->
      
      <ion-button expand="block" type="submit" style="    --background: red;
      height: 51px;
      width: 322px;
      color: white;
      margin-left: 19px;" >Continue</ion-button>
    </form>
  
   
  <ion-item style="--background: #F7F5F5" line="none">
    <ion-icon name="lock-closed" size="small" class="lock"></ion-icon>
    <ion-label class="lock1"  routerLink="/forget-password" ><a >Forget Password?</a></ion-label>
  </ion-item>

 </ion-content>