<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">
  
    
    <ion-buttons slot="start">
     <ion-back-button routerLink="/tabs/tab3" class="back"></ion-back-button><br>
      <ion-title class="loginr">Login / Register</ion-title>
    </ion-buttons>
  
    
  </ion-toolbar>
</ion-header>

<ion-content><br>
  <!-- <ion-header class="new-background-color1" style="background-color:#ececec;margin-top: -16px;">
    
      <ion-label><ion-icon name="home" class="home"></ion-icon></ion-label>
      <ion-label><ion-icon name="chevron-forward" class="forward"></ion-icon></ion-label>
      <label class="cprocess">Checkout Process</label>
    </ion-header> -->
  
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none" style="--background: #F7F5F5;">
            <ion-label style="color: red;    font-size: 18px;">Enter Password</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-item lines="inset" id="ite_cl">
              <ion-label position="floating"  position="floating" class="passwordconfirm"> Password</ion-label>
              <ion-input (ionFocus)="removeError()" name="password" type="password" formControlName="password" ></ion-input>
            </ion-item>
        
            <div  style="margin-bottom: 16px; margin-left: 15px;font-size: 14px;"  *ngIf="submitted  && f('password').hasError('required')" [style.color]="'red'">
              <span *ngIf="f('password').hasError('required')">Can't be empty</span>
            </div>
        
            <div  style="margin-bottom: 16px; margin-left: 15px;font-size: 14px;"  *ngIf="submitted  && form.get('password').touched " [style.color]="'red'">
              <div *ngIf="showError" [style.color]="'red'">Invalid Password!!</div>
            </div>
        
          
        
            <!-- <ion-button expand="block" class="btn" type="submit">Login</ion-button> -->
            <ion-button expand="block" type="submit" id="bac_log" >Login</ion-button>
          <!-- <ion-button expand="block" class="btn" (click)="login()" [disabled]='!form.valid'>Login</ion-button> -->
           
        </form>
        
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- <ion-title class="loginred">Login / Register</ion-title> -->



  
 </ion-content>