.new-background-color{
  height: 46px;
    --backgroun: white !important;
  }
.loginr{
    color: black;
    font-size: 16px;
    margin-left: -23px;
    margin-bottom: 11px;


  }
.back{
  margin-top: -10px;
  color: black;
  }

.new-background-color1{
--background: #ececec !important;
height: 40px;
}
.cprocess{
    font-size: 14px;
    margin-top: -19px;
    margin-left: 58px;
    display: block;
    padding: 0;
    color: #222222;
    text-decoration: none;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 500;
}
.home{margin-left:12px;margin-top:12px;color:#999;font-size: small;}
.forward{margin-left: 15px;margin-top:12px;color: #999;}
.loginred{
  color: red;
  font-size: 16px;
  margin: 10px 0 0;
  font-weight: 600;
  margin-left: -6px;
  // margin-top: -5px;
}
.lock{
  color: #EF3B26;
  font-weight: 600;
}
.lock1{
  color: #EF3B26;
}
.btn{
  --background: red;
  height: 60px;
  margin-top: 24px;
  width: -webkit-fill-available;
  color: white;
 }
 .passwordconfirm{
   font-size: 14px;
 }

 ion-content{
  --background: #F7F5F5 
 }

 #ite_cl{
  // margin-top: 14px;
  margin-left: -3px;
  width: 310px;
  --background: #F7F5F5 !important
 }

 #bac_log{
  --background: red;
    height: 42px;
    width: 95%;
    color: white;
    margin-left: 12px;
    margin-top: 32px;
 }