/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~animate.css/animate.min.css';
 
.cart-modal {
  --height: 50%;
  --border-radius: 10px;
  padding: 25px;
}
.my-custom-class {
  --background: white;
  --width:600px;
  --min-width:100%;
  --min-height:70%;
  
}
.alert-wrapper.sc-ion-alert-md {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  height: var(--height);
  min-height: var(--min-height);
  max-height: var(--max-height);
  background: var(--background);
  contain: content;
  opacity: 0;
  z-index: 10;
  // margin-top: 190px;s
}
.alert-radio-icon.sc-ion-alert-md {
  left: 324px;
  top: 0;
  border-radius: 50%;
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--ion-color-step-550, #737373);
}
.alert-radio-label.sc-ion-alert-md {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 52px;
  padding-inline-start: 52px;
  -webkit-padding-end: 26px;
  padding-inline-end: 26px;
  margin-left: -50px;
}


.my-custom-modal-css .modal-wrapper {
  height: 50%;
  width: 80%;
  position: absolute; 
}

.modal-shadow{
  display: none;
}

// ion-searchbar{
//   .searchbar-input-container{
//       .searchbar-input{
//           border-radius: 13px !important;
//       }
//   }

.my-modal-css .modal-wrapper{
  --height:72%;
  margin-top: 56%;
}

.my-Edit_AddOns_modal-css .modal-wrapper{
  --height: 72%;
  margin-top: 70%;
}

.my-custom-class1{
  // --background: transparent !important;
  --spinner-color: red;
}
.ion-img-viewer .modal-wrapper{
  width: 90%;
  border-radius: 5px;
  height: 33%;
  margin-top: 20%;
}

.modal-wrapper{
  background: transparent !important;
}

.md ion-searchbar{
  margin: 0;
}

.popover-content {
  --min-height: 100%;
}

.popover-wrapper .popover-content{
  // position: relative !important;
  margin: 0 auto !important;
  // left: auto !important;
  top: auto !important;
}