<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color" >

    <div style="display: flex;
    margin-top: 5px;">
      <a (click)="gotoTab3()"><ion-icon (click)="gotoTab3()" name="chevron-back" class="backbutton"></ion-icon></a>
      <ion-label >Back</ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-header class="new-background-color1" style="background-color:#ececec;">
  <!-- <ion-label><ion-icon name="home" class="home"></ion-icon></ion-label>
  <ion-label><ion-icon name="chevron-forward" class="forward"></ion-icon></ion-label>
  <label class="cprocess">Order Details</label> -->
</ion-header>
<ion-content>
<ion-header class="new-background-color1" style="background-color:#ececec;">
  <!-- <ion-label><ion-icon name="home" class="home"></ion-icon></ion-label>
  <ion-label><ion-icon name="chevron-forward" class="forward"></ion-icon></ion-label>
  <label class="cprocess">Order Details</label> -->
</ion-header>

 <!-- <div>
    <img ion-center src="./assets/five-star-images/logo.png" id="mipics" routerLink='/tabs/tab1'>
  </div> -->

  <ion-list id="skeleton" *ngIf="spinner" >
    <ion-list-header>
      <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  
  </ion-list>

  <ng-container *ngIf="!spinner">
    <div *ngFor="let i of orderData" >
      <div  >
        <ion-card class="card1" >
          <ion-row>
          <div class="order">Order-id:  {{i.id}}</div>
          <!-- <ng-container  >
            <div class="order"> ({{p.quantity}} item) </div>
          </ng-container > -->
          
          <!-- <div class="cardid">{{}}</div> -->
          </ion-row>
          <ion-row class="placed">Placed On : {{i.currentDate | date : 'd MMMM, y h:mm a'}}</ion-row>
        
          <ion-card class="card2">
            <ion-row style="margin-left: 15px;margin-top: 10px;">
              <ion-icon name="bus" class="imgicon"></ion-icon>
            <!-- <img src="./assets/newtruck.png" class="imgicont"> -->
            <div class="aboutorder">Track</div>
            <ion-icon name="clipboard" class="imgicon"></ion-icon>
            <div class="aboutorder">Cancel</div>
            <ion-icon name="cart" class="imgicon"></ion-icon>
            <div class="aboutorder">Return/Replace</div>
            </ion-row>
            <ion-row >
              <ng-container  >
                <ion-button class="gotoorder" [routerLink]="['/order-details/', i.id]">Go to my orders</ion-button>
              </ng-container >
            </ion-row>
            
            <!-- <ion-row><ion-label class="expecteddel">Expected Delivery Date: {{orderDate}}</ion-label></ion-row> -->
            <!-- <ion-row><ion-label class="expecteddel">Expected Delivery Time: 7 AM-9 PM</ion-label></ion-row> -->
          </ion-card>
        
           <div class="borderb"></div>
           <!-- <ion-img src="{{p.base64Image}}" class="kiranashop"></ion-img> -->
           <ion-row *ngFor="let products of i.items"  style="margin-top: 5px;">
            <!-- <ion-col size="4" class="grandtotl"><ion-img src="{{products.base64Image}}" class="pimage"></ion-img></ion-col> -->
             <ion-col size="4" class="grandtotl"> <img class="order_img" src="{{products.base64Image}}"  onError="this.src='assets/default-grey.jpg'"></ion-col>
           
            <ion-col size="8" class="cutomerdetails1">
             <ion-row class="pname">{{products.name}}</ion-row>
              <ion-row class="item">{{products.quantity}} item</ion-row>
              <ion-row *ngFor="let addOns of products.options_to_add" class="item">{{addOns.title}} <span class="ion-margin-start" style="font-style: italic;color: purple;" *ngIf="addOns.quantity != null"> ( Qty - {{addOns.quantity}} ) </span></ion-row>
            </ion-col>
          </ion-row>
        
            <ion-row  *ngIf="i.orderStates.length === 0" class="item2 ion-margin-start" style="color: green;"><span style="font-size: 13px;"> Status: </span><span style="color: red;margin-left: 3%;">{{i.currentState}}</span> </ion-row>
            <ion-row class="botmrow" *ngIf="i.orderStates.length != 0">
              <div >
                
                <div class="processing">
                  <p class="cer_name">{{i.previousState}}</p>
                </div>

              </div>
              <div *ngFor="let state of i.orderStates | unique">
                <ion-button class="proborder"></ion-button>
                <div class="processing">
                  <p class="cer_name">{{state.status}}</p>
                </div>
              </div>
          
            </ion-row>

            <ion-row>
              <div >
                <p class="cer_name2">{{i.currentDate | date : 'h:mm a'}}</p>
              </div>
              <div *ngFor="let state of i.orderStates | unique">
                <!-- <ion-button  class="proborder"></ion-button> -->
                <div >
                  <p class="cer_name2">{{state.date | date : 'h:mm a'}}</p>
                </div>
                <!-- <ion-row>
                  <ion-col>{{state.date | date : 'h:mm a'}}</ion-col>
                </ion-row>
              -->
              </div>
            </ion-row>

            <h5 style="color: black;" class="ion-margin-start ion-margin-bottom" *ngIf="i.currentState === 'Dispatch'">Delivery Details</h5>

              <ion-row class="ion-margin-start" *ngIf="i.currentState === 'Dispatch'">
               
                <ion-col size="2" class="ion-no-padding">
                  <img src="./assets/five-star-images/deliveryBoy.png" alt="">
                </ion-col>
                <ion-col size="10">
                  <div class="ion-margin-start">
                    <div style="color: black;" class="styDelivery">Name: {{i.riderDetails.deliveryPerson.name}}</div>
                    <div style="color: black;" class="styDelivery">Phone: {{i.riderDetails.deliveryPerson.phone}}</div>
                  </div>
                 
                </ion-col>
              </ion-row>
          <div class="borderb"></div>
        </ion-card><br>
        
      
      </div>
      <!-- <ion-row>
        <ion-button class="bbutton1" routerLink='/my-order'><span class="s-f">My Orders</span></ion-button>
        <ion-button class="bbutton2" routerLink='/change-password'><span class="s-f">Change Password</span></ion-button>
        <ion-button class="bbutton3" routerLink="/save-address"><span class="s-f">Delivery address</span></ion-button>
      </ion-row> -->
    </div>
  </ng-container>
 
  

</ion-content>

<ion-footer class="pos">
  <ion-toolbar style="--background: black;">
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col size="3"  (click)="gotoMyOrder()">
          <ion-label ><span style="font-size: 12px;color: white;">My Orders</span></ion-label>
          
          
        </ion-col>
        
        <ion-col size="5"  (click)="gotoChangePassword()">
          <ion-label><span style="font-size: 12px;color: white">Change Password</span></ion-label>
           
         
        </ion-col>
        <ion-col size="4"  (click)="gotoAddress()">
       
          <ion-label><span style="font-size: 12px;color: white">Delivery address</span></ion-label>
         
        </ion-col>
      </ion-row>
    </ion-grid>
   
    
    <!-- <ion-title>Footer - No Border</ion-title> -->
  </ion-toolbar>
</ion-footer>