.new-background-color{
    // height: 65px;
  }
  .ssearch{
    --border-radius: 6px !important;
    width: 110%;
    margin-left: -46px;
    margin-top: -8px;
  }
  .backbutton{
    color: black;
    margin-left: 13px;
  
    font-size: x-large;
  }

  .styDelivery{
    // color: #8A8989;
    margin-bottom: 2%;
    font-size: 14px;
}

  .cer_name2{
   
    margin: 0;
    padding: 0;
    display: block;
    width: 106%;
    line-height: 70px;
    color: black;
    font-weight: 400;
    /* margin-left: -34px; */
    font-size: 12px;
    /* margin: 42px; */
    margin-left: 17%;
    margin-right: 42px;

}
  .s-f{
    font-size: 11px;
  }
  #mipics{
    z-index: 9999;
    left: 37%;
    position: fixed;
    top: 2px;
    // height: 14%;
}
.new-background-color1{
    --background: #ececec !important;
    height: 29px;
    margin-bottom: -20px;
    }
.cprocess{font-size: 14px;color:#222222;margin-top:5px;margin-left:5px;font-weight: 600;}
.home{margin-left: 22px;
        margin-top: 6px;
        font-size: small;
        color: grey;}
.forward{margin-left: 5px;
        margin-top: 10px;
        color: black;}
.loginred{
        color: #EF3926;
        font-size: 22px;
        margin: 10px 0 0;
        font-weight: 400;
        margin-top: 30px;
}
.header2{
    height:85px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.thankyou{
    color: #3c763d;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    margin-left: 10px;
}
.orderplace{
    color: #3c763d;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-left: 11px;
}
.card1{
    background: #FFFFFF;
    box-shadow: 0 0 10px #E0E0E0;
    border-color: #e1e1e1;
    width: 100%;
    margin-left: 2px;
    margin-bottom: -25px;
    margin-top: 21px;
}
.order{
      
       line-height: 1.1;
    //    color: #555;
        color: black;
       font-size: 16px;
       line-height: 22px;
       margin: 12px 0px 0px 16px;
}
.placed{
    font-size: 14px;
    color: #f05a25;
    font-weight: 500;
    display: block;
    margin: 5px 0px 0px 16px;
}
.card2{
    background: #f1f1f1;
    height: 107px;
    text-align: center;
    width: 90%;
    margin-left: 16px;
    border-radius: 0 !important;
}

.imgicont{
    width: 23px;
    height: 27px;
    color: black;
}
.aboutorder{
    display: inline-block;
    color: #383838;
    font-size: 13px;
    font-weight: 500;
    margin: 9px;
}

.gotoorder{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    --background: red;
   
    margin-left: 12px;
}
.expecteddel{
    font-size: 14px;
    margin-left:9px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;
}
.kiranashop{
    width: 92px;
    /* height: 135px; */
    margin-left: 13px;
    padding: 4px;
    margin-bottom: 6px;
    margin-top: 14px;
}

.borderb{
    border-bottom: 1px solid #F5F5F5;
    margin-top: 15px;
}
.productname{
    font-size: 15px;
    color: #383838;
    font-weight: 600;
    width: 100%;
    margin-left: 19px;
    text-transform: uppercase;
}
.item{
    font-size: 13px;
    font-weight: 400;
    color: #545454;
    margin-left: 19px;
    margin-top: 6px;
}
.status{
    font-size: 13px;
    color: #69CC11;
    font-weight: 600;
    line-height: 1.1;
    margin-left: 18px;
    margin-top: 9px;
}
.processing{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    color: #a9a9a9;
    background-color: #92cf5c;
    border: 1px solid #d9d9d9;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    // --background:#92cf5c;
    // --border-radius: 50px;
    // height: 29px;
}
.cancelled{
   --background: #fb6b5b;
    --border-radius: 50px;
    height: 29px;
    margin-left: 5px;
}
.proborder{
    border: 1px solid #FB6B5B;
    --background: #FB6B5B;
    height: 3px;
    width: 70px;
    margin-top: -49px;
}
.botmrow{
    margin-left: 16px;
    margin-top: 7px;
}
.process{
    font-size: 12px;
    color: #464646;
    line-height: 1.65em;
    font-weight: 400;
    margin-left: 10px;
}

.process1{
    font-size: 12px;
    color: #464646;
    line-height: 1.65em;
    font-weight: 400;
    margin-left: 100px;
}
.bbutton1{
    border-left: 0;
    --border-right: 0;
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: -1px;
    right: 0;
    font-size: 14px;
    color: #fff;
    --background: black;
    width: 28%;
    height: 48px;
    --border-radius: none;
    text-transform: capitalize;
}
.bbutton2{
    border-left: 0;
    --border-right: 0;
    display: inline-block;
    position: fixed;
    left: 95px;
    bottom: -1px;
    right: 0;
    font-size: 14px;
    --background: black;
    width: 37%;
    height: 48px;
    --border-radius: none;
    color: #fff;
    text-transform: capitalize;
    border-left: 1px solid#fff;
}
.bbutton3{
    border-left: 0;
    --border-right: 0;
    display: inline-block;
    position: fixed;
    left: 244;
    bottom: -1px;
    right: 0;
    --border-radius: none;
    font-size: 14px;
    --background: black;
    color: #fff;
    width: 34%;
    height: 48px;
    --border-radius: none;
    text-transform: capitalize;
}
.imgicon{
    width: 23px;
    height: 27px;
    color: black;
}

ion-img::part(image){
    border-radius: 10%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: inherit;
    object-position: inherit;
 }

 .pos{
    position: fixed;
      bottom: 0;
  }

  .order_img{

    margin-left: 19px;
    display: block;
    width: 79%;
    border-radius: 8px;
    margin-bottom: 8px;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: inherit;
    object-position: inherit;
    // margin-left: 19px;
    // display: block;
    // width: 24%;
    // border-radius: 8px;
    // margin-bottom: 8px;
    // -o-object-fit: fill;
    // object-fit: fill;
    // -o-object-position: inherit;
    // object-position: inherit;
  }

  
  .pname{
    // margin: 5px 0;
    color: black;
    font-size: 14px;
    font-weight: 600;
    // color: #353535;
}

.item{
    margin: 2px 0px 0px 0px;
    font-size: 12px;
    // color: #8A8989;
    // color: #564141;
}

.item2{
    font-size: 12px;
    color: #8A8989;
}

.status{
    font-size: 13px;
    color: #69CC11;
    font-weight: 600;
    line-height: 1.1;
    margin-left: 18px;
    margin-top: 9px;
}

.cer_name{
    margin: 0;
    padding: 0;
    display: block;
    width: 100px;
    line-height: 70px;
    /* margin-top: 26px; */
    color: black;
    font-weight: 400;
    // padding-left: 0;
    margin-left: -34px;
    font-size: 12px;
}