<ion-header  class="headers">
  <ion-toolbar >
  
    <ion-back-button style="    margin-left: 5px;
    margin-top: 10px;color: black;" slot="start"  (click)="gotoTab2()" text="Item Detail" class="forward"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content >
<div *ngFor='let item of items'>
  

  <div *ngIf="item.itemImages.length != 0" class="marTop">
    <!-- <img *ngFor="let img of item.itemImages | slice:0:1" [src]="'https://www.ere4u.in/thirdparty/uploads/'+img.img_name" class="itemimage" onError="this.src='assets/default-grey.jpg'"> -->

    <!-- <ion-img 
    style="    width: 80%;"
  ionImgViewer 
  title="Demo"
  class="itemimage ion-margin-start"
  *ngFor="let img of item.itemImages | slice:0:1"
  text="Directive" 
  (click)="openViewer(img.img_name)"
  scheme="dark" 
  [src]="'https://www.ere4u.in/thirdparty/uploads/'+img.img_name">
</ion-img> -->
 </div>
 <div *ngIf="item.itemImages.length == 0" style="text-align: center;" class="marTop2" >
  <img src="./assets/default-grey.jpg" class="itemimageError">
</div>

  <ion-slides  [options]="slideOptions" class="ion-margin-vertical" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
    <ion-slide *ngFor="let img of item.itemImages">
        <!-- <img [src]="'https://www.ere4u.in/thirdparty/uploads/'+img.img_name" class="itemimageslider" > -->
        <ion-img 
        style="    width: 80%;"
      ionImgViewer 
      title="Demo"
      class="itemimage"
      *ngFor="let img of item.itemImages | slice:0:1"
      text="Directive" 
      (click)="openViewer(img.img_name)"
      scheme="dark" 
      [src]="'https://www.ere4u.in/thirdparty/uploads/'+img.img_name">
    </ion-img>
     </ion-slide>
  <!-- <ion-slide >
      <img [src]="item.base64Image" class="itemimageslider">
      </ion-slide>
    <ion-slide>
       <img [src]="item.base64Image" class="itemimageslider">
     </ion-slide> -->
 </ion-slides>
 
<div class="aboutitem"><br>
  <div class="itemname">{{item.name}}</div>

<ion-row style="margin-top:20px;"> 
  <i class="fa fa-rupee" style="display: flex;">
    <span class="newprice" *ngIf="item.price != 0 && item.optionGroup.length === 0">{{item.price - item.discountPrice}}</span>
    <span class="newprice" *ngIf="item.price != 0 && item.optionGroup.length != 0">{{item.price - item.discountPrice}}</span>
    <ng-container *ngIf="item.optionGroup.length != 0">
      <div *ngFor="let og of item.optionGroup ">
        <div *ngFor="let varPrice of og.options | slice:0:1"> 
          <!-- <h2 *ngIf='varPrice.ref_id.includes("VO")' class="pad-both-7 dis-in" style="font-size: 15px;color: #8A8989;"> <i class="fa fa-rupee"></i>
            {{ varPrice.price - p.discountPrice }}</h2> -->
            <!-- <span class="newprice" *ngIf="item.price != 0 && item.optionGroup.length != 0 && og.refId.includes('OG')">{{item.price - item.discountPrice}}</span>
            <span class="priceold" *ngIf="item.discountPrice != 0 && item.price != 0 && item.optionGroup.length != 0 && og.refId.includes('OG')">{{item.price}}.00</span> -->
            <!-- when you have only Variations -->
            <span class="newprice"  *ngIf='varPrice.ref_id.includes("VO")'>{{ varPrice.price - item.discountPrice }}</span>
            <span class="priceold" *ngIf="item.discountPrice != 0 && item.optionGroup.length != 0 && varPrice.ref_id.includes('VO')">{{varPrice.price }}.00</span>

            <!-- when you have only addOns -->
            <!-- <span class="newprice"  *ngIf='varPrice.ref_id.includes("OG")'>{{ item.price - item.discountPrice }}</span>
            <span class="priceold" *ngIf="item.discountPrice != 0 && item.optionGroup.length != 0 && varPrice.ref_id.includes('OG')">{{varPrice.price }}.00</span> -->

            <!-- when you have both addOns and Variations -->
            <!-- <span class="newprice"  *ngIf='og.refId.includes("VOG")'>{{  varPrice.price - item.discountPrice }}</span>
            <span class="priceold" *ngIf="item.discountPrice != 0 && item.optionGroup.length != 0 && varPrice.ref_id.includes('OG')">{{ varPrice.price }}.00</span>   -->
      </div>
      </div>
    </ng-container>
    <span class="priceold" *ngIf="item.discountPrice != 0 && item.optionGroup.length === 0">{{item.price}}.00</span>
    <span class="priceold" *ngIf="item.discountPrice != 0 && item.optionGroup.length != 0 && item.price != 0">{{item.price}}.00</span>
    <span class="off" *ngIf="item.discountPrice != 0">{{item.discountPercentage}}% OFF</span>
  </i>
</ion-row>

<ion-label class="tax-gstInfo">inclusive of all taxes</ion-label>
<!-- <ion-label class="availablesize">Available In Size</ion-label>
<ion-row><ion-button class="button1">200GM</ion-button></ion-row> -->
<ion-label class="availabelincat">Available in category</ion-label>
<ion-row *ngFor="let c of item.categories"><ion-button class="button1">{{c.name}}</ion-button></ion-row>
<ion-row><ion-label class="product-description">Product Details</ion-label></ion-row>

<!-- <ion-row><img src="./assets/tag.png" class="tagimage">
  <ion-label class="aboutitm"> 100% Original Products</ion-label>
</ion-row> -->
<!-- <ion-row>
  <ion-col size="10">
    <ion-label class="ion-margin-start aboutitm">{{item.shortDescription}}</ion-label>
  </ion-col>
</ion-row>

<ion-row>
  <ion-label class="ion-margin-start aboutitm"> Cash on delivery available </ion-label>
</ion-row>
<ion-row>
  <ion-col>
    <div class="ion-margin-start aboutitm"><ion-label > Pay by <span >Paytm, GPAY, Debit Card or Credit Card</span>
      <span >on Delivery</span>  </ion-label></div>
  </ion-col>
</ion-row> -->

<ion-row *ngIf="item.shortDescription != null && item.shortDescription != ''">
  <ion-col size="2">
    <img src="./assets/five-star-images/tag.png" class="tagimage ion-margin-start">
  </ion-col>
  <ion-col>
    <ion-label class="aboutitm1">{{item.shortDescription}}</ion-label>
  </ion-col>
 
</ion-row>
<ion-row class="ion-margin-vertical">
  <ion-col size="2">
    <img src="./assets/five-star-images/tag.png" class="tagimage ion-margin-start">
  </ion-col>
  <ion-col>
    <ion-label class="aboutitm1"> Cash on delivery available </ion-label>
  </ion-col>
  
</ion-row>
<ion-row style="    margin-left: 1%;">
  <img src="./assets/five-star-images/tag.png" class="tagimage ion-margin-start">
  <div class="paymentrow"><ion-label class="aboutitm"> Pay by <span class="aboutpay">Paytm, GPAY, Debit Card or Credit Card</span>
  <span class="aboutitm">on Delivery</span>  </ion-label></div>
</ion-row>

<ion-row style="margin-top: 10px;">
  <ion-button class="buynow" (click)="goToBuy(item)" ><ion-icon name="card"  ></ion-icon>BUY NOW</ion-button>
  <ion-button class="addtocart"  (click)="addToCart(item)"><ion-icon name="cart" ></ion-icon>ADD TO CART</ion-button>
</ion-row>

</div>
</div>
</ion-content>