.myapp-no-padding-dialog .mat-dialog-container {
     background-color: #ececec;
     width: 150px
}
  #mipics{
    z-index: 9999;
    left: 37%;
    position: fixed;
    top: 2px;
  }
.headers{
    position: none !important;
}
ion-menu-button {
    font-size: 50px !important;
}
.menubutton{
--width: 60px!important;
 --height: 60px;
color: green;
}
.searchbar{
    margin-top: -10px;
    width: 347px;
    margin-left: -46px;
}
.new-background-color1{
    height: 40px;
    background-color: #ececec;
    margin-top: 3px;
    }
    .cprocess{ font-family: 'Be Vietnam', sans-serif;
        font-size: 14px;color: #222222;}
    .home{margin-left: 23px;
        margin-top: 7px;
        color: #999;
        font-size: small;}
    .forward{margin-left: 10px;
        margin-top: 12px;
        color: #999;
        font-size: small;
    
    }
    .itemimage{
        // width: 87%;
        height: 226px;
        // margin-left: 10%;
        border: 1px solid #ddd;
        padding: 18px;
    }

    .itemimageError{
        // width: 87%;
        height: 226px;
        border: 1px solid #ddd;
        padding: 18px;
    }
    .itemimageslider{
        width: 55px;
        height: 66px;
        padding: 8px;
        border: 1px solid #ddd;
    }
    .aboutitem{
        background: #f5f5f5;
        height: 600px;
        margin-top: 5%px;
    }
    .itemname{
        text-align: center;
        // margin-top: 20px;
        border-bottom: 1px solid #D4D5D9;
        font-weight: bold;
        color: #282C3F;
        font-size: 20px;
        // line-height: 1;
        text-transform: capitalize;
        padding-bottom: 15px;
        --border-width-bottom: 10px;
    }
 .newprice{
    font-weight: 600;
    font-size: 18px;
    color: #282C3F;
    margin-left: 8px;
    }
.priceold{
    color: #1b1a1a;
    text-decoration: line-through;
     font-size: 18px;
     line-height: 20px;
     padding: 0 5px;
    display: inline-block;
    margin-left: 6px;
}
.rupeeicon{
    color: #282C3F;
}
.off{
    margin-left: 5px;
    color: #f9571e;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.tax-gstInfo {
    color: #7E808C;
    font-size: 12px;
    display: block;
    margin: 8px 15px 3px 28px;
}
.availablesize {
    font-size: 16px;
    display: block;
    margin: 15px 0px 0px 27px;
    font-weight: 600;
    line-height: 16px;
    color: #464646;
}
.button1{
    font-size: 15px;
    --color: #fff;
    font-weight: 500;
    --background: #535766;
    --border-radius: 4px;
    padding: 5px 10px;
    // width: 105px;    
    margin: 10px 0px 0px 20px;
    height: 41px;
}
.product-description{
    color: #555;
    font-weight: 700;
    line-height: 22px;
    font-size: 16px;
    margin: 17px 0px 12px 28px;
}
.fa-rupee{
margin-left: 25px;
}
.availabelincat{
    font-size: 16px;
    display: block;
    margin: 15px 0px 0px 27px;
    font-weight: 600;
    line-height: 16px;
    color: #464646;
}
.tagimage{
    width: 18px;
    height: 15px;
    // margin: 2px 0px 10px 28px;
}
.aboutitemdetails{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}
.aboutitm{
  color: #555;
    font-size: 14px;
    // margin-left: 7%;
    line-height: 22px;
    margin: 0px 0px 0px 16px;

}
.aboutitm1{
    color: #555;
      font-size: 14px;
      // margin-left: 7%;
      line-height: 22px;
    //   margin: 0px 0px 0px 16px;
  
  }
.aboutpay{
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
.paymentrow{
    margin-left: 46px;
    margin-top: -24px;
    display: flex;
}
.buynow{
    height: 50px;
    --color: #fff;
    font-weight: 600;
    line-height: 1.3333333;
    --background: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 50%;
    --border-radius:none;
    margin: -2px;
    position: fixed;
    left: 0;
    bottom: -1px;
    right: 0;
}
.addtocart{
   height: 48px;
    font-weight: 600;
    line-height: 1.3333333;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 50%;
    --border-radius:none;
    --background: #e6e6e6;
    --color: #000;
    margin: -2px 0px 0px 178px;
    position: fixed;
    left: 0;
    bottom: -1px;
    right: 0;
}

.marTop{
    margin-top: 5%;
}

.marTop2{
    margin-top: 10%;
}