#mipics{
  // width: 102px;
  // height: 88px;
  // margin-left: 69px;
    height: 94px;
    margin-left: 77px;
  }
.new-background-color{
  --background: white !important;
}
ion-menu-button{
font-size: xx-large;
color: red;
margin-top: -12px;
}
.heading1{
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 18px;
  font-weight: 600;
  color: #555;
}
#fonticc{
  font-size: x-large;
  color: blue;
}
ion-footer{
  height: 100px;
  background-color: #37474f;
  padding: 10px 20px;
  margin-top: 150px;
  position: fixed;
}
.buttons{
  width: 130px;
  height: 40px;
  --border-radius: 3px;
  --background: #e95f62;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: 0;
  margin-left: 160PX;
  margin-top: -39px;
}
.first{
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}
.seccd{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.bgcolor {
  background: #cdcfd6;
}

ion-col {
  
  color: #555;
  font-size: 14px;
  padding: 8px;
  line-height: 1.42857143;
}
ion-grid{
  padding: 20px;
}
ion-tab-bar{
  display: none;
}
.segbuton{
  color: #555 !important;
  display: inline-block;
    padding: 5px 10px;
    margin: 0;
    position: sticky !important;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 15px;
    letter-spacing: .08em;
    min-height: 45px;
    }
    .btm{
      border: 1px solid #555;
      font-size: 10px;
      --background:lightgrey;
      width:70px;
      height: 30px;
      color: #000;
      
    }
    .sort{
      text-transform: uppercase;
      font-size: 15px;
      color: #10739A;
      font-family: 'Be Vietnam', sans-serif;
      margin-top: 0;
      text-align: center;
    }
.labelc{
  color: #555 !important;
}
.allitem{
  text-transform: uppercase;
    color: #222;
    border-bottom: 2px solid rgb(228, 10, 10);
    display: inline-block;
    position: relative;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom-width: thin;
}
.new-background-color{
  
  --background: linear-gradient(222deg, #689f39 83%, #689f39 83.11%);
}
.addtocarts{
  font-size: 11px;
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 25px;
    margin-top: -34px;
}
.slabel{
  color: #c8ffca;
}
.addname{
  color:white;
  margin-top: -24px;
}

.serchb{
  margin-top: -27px;
  float: right;
  margin-right: 10px;
}
.menus{
  color: white;
  margin-top: -4px;
  font-size: 36px;
}

  .sbtn{
    margin-left: 51px;
    margin-top: -91px;
    --background: white;
    font-size: larger;
    outline: none !important;
    --box-shadow: none !important;
    }
.loc{
  margin-top:22px;
  color: white;
}
.aadds{
  margin-top: -19px;
  color: white;
  font-size: 17px;
  margin-left: -15px;

}
ion-segment-button{
  font-size: 15px !important;
  color: #e7003e;
  text-transform: capitalize;
  
}
ion-segment-button {
  min-width: auto !important;
}
.cards{
  box-shadow: none !important;
    border-color: none !important;
    // margin-left: -40px !important;
    // width: 366px !important;
}
.twosegdiv{
  position: sticky !important;

top: 0;

left: 0;

right: 0;

z-index: 9999;
background-color: #55555545 !important;color:#555 !important;
}
.segf{
  position: sticky !important;

top: 0;

left: 0;

right: 0;

z-index: 9999;
}
ion-thumbnail{
  width: 80px;
  height: 60px;
}
.alllbs{
  font-size: 20px;
  text-transform: uppercase;
    color: #222;
    border-bottom: 2px solid #eee;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 0;
    padding-bottom: 10px;
}
.iiconss{
  color: white;
  background-color: #f7676e;
}
.box{
  width: 33px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    margin-top: 53px;
}
.showme{
  font-size: 20px;
    margin-left: 8px;
    margin-top: 41px;
}



#bor{
  border-bottom: 1px dotted rgb(204, 196, 196);
}
h5{
padding: 0px;
}
h6{
  padding: 0px;
}
p{
  padding: 0px;
  margin:0px;
}
#abc{
  display: inline-block;
}
#ab{
  font-size: 10px;
  color:rgb(126, 121, 121);
}
#abd{
  height: 10px;
}
#tool{
  height: 20px;
}
#bor2{
  border-bottom: 10px solid  rgb(245, 236, 236);
}
#off{
  font-size: 12px;
  color: rgb(126, 121, 121);
}
#add{
  color: rgb(126, 121, 121); 
}
#bor3{
  border-bottom: 2px dotted rgb(204, 196, 196);

}
ion-card-header{
  padding: 0px;
}
#img{
  height:90px;
}
#iobutton{
  --background: #FF0909;
  box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);


  width:50px;
  height:20px;
  font-size: 10px;
     
}
#iobuttonc{
  background: #FF0909;
  box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);
  color: white;


  width:50px;
  height:20px;
  font-size: 11px;
  border-radius: 4px;
     
}

ion-col{
  padding: 0px;
}
#clr{
  color: black;
}
#back{
margin-bottom:11px;
}
.myrows{
  width: 360px;
  height: 48px;
  background: #FF0909;
  position: fixed;
  left: 0;
  bottom: 0px;
  right: 0;
 margin-top:10px;
}
.Rs234{
  font-family:'Muli' ;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
margin-top: 5px;
margin-left: 20px;
color: #FFFFFF;

}
.Checkouts{
font-family: 'Muli';
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-align: center;
margin-top: 5px;

color: #FFFFFF;

}
.Item{
margin-top: 5px;
font-family: 'Muli';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
margin-left: 50px;
color: #FFFFFF;
}
ion-toolbar{
  --background: white;
  --color:white;
}
.input{
  width: 36%;
  margin-left: 5px;
  height: 20px;
  color:black !important;
  text-align: center;
 
  border: 1px dotted #FF0909;
}

ion-fab-button {
  height: 70px;
  width: 70px;
  margin-top: 92px;
}
 
.cart-icon {
  font-size: 50px;
}
 
.cart-length {
  color: var(--ion-color-primary);
  position: absolute;
  top: 22px;
  left: 25px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}

#allborder{
  border: 1px solid grey;
  margin-bottom: 10px;
}
.allname{
  font-family: 'Be Vietnam',sans-serif;
  display: flex;
  font-size: 14px;
  color: #333;
}

.kiranashop{
  // width: 62px;
  // height: 58px;
  // border: 1px solid #ddd;
  // padding: 4px;
    width: 68px;
    height: 63px;
  
  
}
#head{
  margin-left: 120px;
  margin-top: -101px;
    font-size: 14px;
}
// .myrow{
//   // margin-left: 110px;
// }

.allcard{
  width: 100%;
    margin-left: 0px;
    border-top: black;
    box-shadow: none;
    border-bottom: 2px solid #d0cdcd;
    border-radius: inherit;

}
.add{
 margin-top: -69px;
margin-left: 30px;
}

ion-segment-button {
  // --indicator-color: transparent !important;
  --indicator-color-checked: transparent !important;
}
.minus{
  color: #e95f62;
  font-size: 18px;
  width: 31px;
  height: 25px;
  border: 1px solid #e95f62;
  border-radius: 3px !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  margin-left: 49px;
  
}
.adds1{
  font-size: 12px;
  font-weight: bolder;
}
.prices{
  color: black;
  font-size: 15px;
  margin-left: 128px;
}
.newrow{
  margin-left: 94px;
  margin-top: 22px;
}
#quant{
  margin-left: 9px;
  margin-right: 8px;
  text-align: center;
  height: 31px;
  margin-top: 6px;
  font-size: 19px;
}
#adds{ 
  margin-left: 52px;
  margin-top: -44px;
}
.plus{
  font-weight: bolder;
    color: #e95f62;
    font-size: 18px;
    width: 31px;
  height: 25px;
    border: 1px solid #e95f62;
    border-radius: 3px!important;
  border-top-left-radius: 3px!important;
  border-bottom-left-radius: 3px!important;
  }
.amount{
  border: 1px solid black;
  text-align: center;
}
.rion{
margin-left: 110px !important;
}
.price{
  line-height: 24px;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  margin-left: 122px;
  margin-top: -23px;
}
.save{
  color: #64a942;
  margin-left: 5px;
  font-family: 'Be Vietnam',sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.closeb{
 
  color: #f5f6f9;
  background-color: #d9534f;
  border-color: #d43f3a;
  font-size: 8px;
  margin-left: 132px;
  margin-top: -105px;
  width: 38px;
  height: 30px;
}
.ion-color-medium {
  --ion-color-base: #f5f6f9 !important;
  --ion-color-base-rgb: var(--ion-color-medium-rgb, 146, 148, 156) !important;
  --ion-color-contrast: #3dc2ff !important;
  --ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: #5260ff !important;
  --ion-color-tint: #3880ff !important;

}
.cart-length {
color: var(--ion-color-primary);
position: absolute;
top: 22px;
left: 25px;
font-weight: 600;
font-size: 1em;
min-width: 25px;
z-index: 10;
}
.dcharges{
color: #555;
  font-size: 14px;
}
.gtotal{
font-weight: 600;
    color: #0f6fb6;
  font-size: 24px;
}
.checkb{
width: 160px;
height: 40px;
--border-radius: 3px;
--background: #e95f62;
font-size: 18px;
font-weight: 600;
color: #fff;
border: 0;
margin-left: 158px;
margin-top: -32px;
}
.bottomfixbutton{
background-color: #37474f;
padding: 10px 20px;
position: fixed;
bottom: 0px;
height: 60px;
width: 100%;
margin-left: -16px;
}
.gtotl{
font-size: 17px;
  font-weight: 600;
  color: #fff;
}
.gtsave{
font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.clotab {
padding: 5px;
border: 1px solid #ddd;
}
.totaltable{
padding: 3px;
}

.adds7788{
  --ripple-color: transparent;
}

.for_button{
  // display: flex;
  // margin-left: 71px;
    display: flex;
    margin-left: 74px;
    width: 121px;
}

ion-img::part(image){
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  
  margin-left: -7px;
  margin-top: -3px;
  padding: 17px;
  -o-object-position: inherit;
  object-position: inherit;
}

.qty1{
  margin-left: 15px;
    margin-right: -109px;
    font-size: 15px;
}

.list_label{
  font-size: 14px;
}

.myrow{
    margin-top: 27px;
    margin-bottom: -23px;
    margin-left: 13px;
}

.unit_price{
  margin-left: -12px;
  margin-top: -42px;
  margin-bottom: 40px;
}

.item_count{
  margin-left: 171px;
  margin-top: -80px;
  margin-bottom: 62px;
}