<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">
  <ion-buttons slot="start" >
      <ion-menu-button size="large" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <img src="./assets/five-star-images/logo.png" id="mipics" routerLink='../../tab1'>
   
      <a ><ion-button  (click)="openmodal()" class="sbtn" ><ion-icon style="height: 35px; width: 41px;color: black;" name="search"></ion-icon></ion-button></a>
  
  </ion-toolbar>

  
 
</ion-header>

<ion-content>
<div class="heading1"><h4>ITEM CART</h4></div>

<!-- <div class="ion-padding" style="margin-top: -20px;">
  <div class="ion-margin-setting">
    <ion-list>
      <ion-item *ngFor="let p of cart" class="ion-text-wrap" id="allborder">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
            <ion-label class="allname" style="margin-top: 29px;">Image</ion-label></ion-col>
            <ion-col size="6"> <ion-img [src]="p.base64Image" class="kiranashop"></ion-img></ion-col>
            
            <ion-col size="2" offset="5">
              <ion-button color="medium" fill="clear" class="closeb" (click)="removeCartItem(p)">
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>

           <ion-row>
            <ion-col size="6">
              <ion-label  class="allname">Product Name</ion-label></ion-col>
              <ion-col style="flex: auto;margin-bottom: 15px;
              margin-top: -19px;
              margin-left: 124px;font-size: inherit" size="6">
              {{ p.name }}
            </ion-col></ion-row>

            <ion-row style="margin-bottom: 9px;">
              <ion-col size="8"><ion-label  class="allname">Unit Price</ion-label></ion-col>
              <ion-col size="4" style="margin-left:126px;margin-top:-26px;">
                 <ion-label style="font-size: 20px;"><i class="fa fa-rupee"> {{ p.price }}</i></ion-label>
               </ion-col>
             </ion-row>

          <ion-row>
          <label  class="allname" style="margin-top: 10px;">Quantity</label>
          <div class="for_button">
            <ion-button color="red" fill="outline" size="small" color="danger" (click)="decreaseCartItem(p)" >
              <ion-icon name="remove" ></ion-icon>
              </ion-button>
               <div id="quant">
                  {{  p.discountPrice }}
                </div>
                
               <ion-button color="danger" fill="outline" size="small" color="danger" (click)="increaseCartItem(p)" >
                    <ion-icon name="add"></ion-icon>
                </ion-button>
          </div>
         

           </ion-row>
           <ion-row style="    margin-top: 13px">
          <ion-label  class="allname">Total</ion-label>
            <div style="margin-left: 92px;">
               <ion-label><i class="fa fa-rupee"> {{ p.discountPrice * p.price }}<label class="save">you save 
                <i class="fa fa-rupee">0</i>
               </label></i></ion-label></div>
              </ion-row>
            </ion-row>
         </ion-grid>
      </ion-item>
      </ion-list>




<div class="setting-setting">
  <ion-grid class="totaltable">
    <ion-row>
     <ion-col style="font-size: 16px;" col-sm-12 col-xl-12 col-md-6 col-lg-6 class="clotab"> Total Qty</ion-col>
     <ion-col style="font-size: 16px;" col-sm-12 col-xl-12 col-md-6 col-lg-6 class="clotab">{{ cartItemCount | async }}</ion-col>
   </ion-row>
    <ion-row>
      <ion-col style="font-size: 16px;" col-sm-12 col-xl-12 col-md-6 col-lg-6 class="clotab"> Subtotal </ion-col>
      <ion-col style="font-size: 16px;" col-sm-12 col-xl-12 col-md-6 col-lg-6 class="clotab"> {{ getTotal() }}</ion-col>
     </ion-row>
  <ion-row>
   <ion-col style="font-size: 16px;" col-sm-12 col-xl-12 col-md-6 col-lg-6 class="clotab"> Delivery Charges</ion-col>
    <ion-col style="font-size: 16px;" col-sm-12 col-xl-12 col-md-6 col-lg-6  class="clotab"> <div class="dcharges">0</div></ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="font-size: 16px;" col-sm-12 col-xl-12 col-md-6 col-lg-6 class="clotab"> <b>Grand Total</b> </ion-col>
     <ion-col style="font-size: 16px;" col-sm-12 col-xl-12 col-md-6 col-lg-6 class="clotab"><div class="gtotal"><i class="fa fa-rupee" > {{ getTotal() }}</i></div></ion-col>
   </ion-row>
    </ion-grid> 
</div>
    

      
  </div>
  


 <div style="margin-top:30px;">
    <div class="bottomfixbutton">
      <ion-row class="gtotl">Rs {{ getTotal() }}/-</ion-row>

      <ion-row class="gtsave">You save Rs 51/-</ion-row>
    <ion-button expand="full" (click)="checkout()" class="checkb">
      Checkout
    </ion-button>
    </div>
</div>


</div> -->
<div>
 
  
 

    <ion-card *ngFor="let p of cart">
      <ion-card-header>
        <ion-col>
          <ion-img  [src]="p.base64Image" class="kiranashop"></ion-img>
        </ion-col>
        
       
       <ion-col>
         <ion-card-subtitle style="margin-left: 96px; margin-top: -53px;margin-bottom: 48px;font-size: 16px;">{{p.name}}</ion-card-subtitle>
       </ion-col>

       <!-- <ion-row style="margin-left: 162px;
       margin-top: -67px;
       margin-bottom: 43px;">
        <ion-label class="myrow" style="margin-top: 28px; margin-bottom: -23px; margin-left: 12px;">
          <i class="fa fa-rupee" style="margin-left:110px;color:black;font-size:15px;margin-top:2px;"></i>
          <div class="price">{{ p.price }}</div>
        </ion-label>
       </ion-row> -->

       <div class="unit_price">
        <ion-row>
         <ion-label >
           <i class="fa fa-rupee" style="margin-left: 112px;"></i>
           <div class="price">{{ p.price }}</div>
         </ion-label>
        </ion-row>
       </div>

       <div class="item_count">
        <ion-row>
         <ion-label >
           <i class="fa fa-rupee" style="margin-left: 112px;"></i>
           <div class="price">{{ p.price * p.quantity }}</div>
         </ion-label>
        </ion-row>
       </div>

      
      

       <ion-row style="display: flex;
       margin-left: 95px;
       margin-top: -39px;">
        <ion-button  color="danger"    fill="solid" size='small'  [attr.disabled]="p.quantity<1 ? 'disabled ' : null"  >
          <div>-</div>
        </ion-button>

        <ion-col size="2" class="ion-align-self-center" id="quant" >
          {{ p.quantity }}
        </ion-col>

        <ion-button  color="danger" fill="solid" size='small'  (click)="increaseCartItem(p)">
          <div  >+</div>
        </ion-button>
       </ion-row>
      </ion-card-header>
    
    </ion-card>
      
    <ion-card style="height: 247px;">
      <ion-list lines="inset">
       <ion-item>
         <ion-label style="font-size: 15px;">BILL DETAILS</ion-label>
       </ion-item>

   
       
        <ion-item>
          <ion-label class="list_label">Toal Qty</ion-label>
          <i class="fa fa-rupee" style="margin-left:110px;color:black;font-size:15px;margin-right: -6px;"></i>
          <ion-label class="qty1">{{ cartItemCount | async }}</ion-label>
        </ion-item>
       
    

      
        <ion-item>
          <ion-label class="list_label">Sub Total</ion-label>
          <i class="fa fa-rupee" style="margin-left:110px;color:black;font-size:15px;margin-right: -6px;"></i>
          <ion-label class="qty1">{{ getTotal() }}</ion-label>
        </ion-item>
        
    
       

      
        <ion-item>
          <ion-label class="list_label">Delivery Charges</ion-label>
          <i class="fa fa-rupee" style="margin-left:110px;color:black;font-size:15px;margin-right: -6px;"></i>
          <ion-label class="qty1">0</ion-label>
        </ion-item>
        
       

      
        <ion-item>
          <ion-label class="list_label">To Pay</ion-label>
          <i class="fa fa-rupee" style="margin-left:110px;color:black;font-size:15px;margin-right: -6px;"></i>
          <ion-label class="qty1">{{ getTotal() }}</ion-label>
        </ion-item>
       
        
    
     </ion-list>
    </ion-card>
    
      <div style="margin-top: 68px;
      margin-left: 16px;">
        <div class="bottomfixbutton">
          <ion-row class="gtotl">Rs {{ getTotal() }}/-</ion-row>
    
          <ion-row class="gtsave">You save Rs 51/-</ion-row>
        <ion-button expand="full" (click)="checkout()" class="checkb">
          Checkout
        </ion-button>
        </div>
    </div>
  
    
  

</div>

</ion-content>