.new-background-color{
    // height: 66px;
  }
  .ssearch{
    --border-radius: 6px !important;
    width: 110%;
    margin-left: -46px;
    margin-top: -8px;
  }
  #mipics{
    z-index: 9999;
    left: 37%;
    position: fixed;
    top: 2px;
    // height: 15%;
  }
.sbtn{
    margin-left: 250px;
    color: black !important;
    --background: white;
    margin-top: 29px;
    font-size: x-large;
    outline: none !important;
    --box-shadow: none !important;
    }
.new-background-color1{
    --background: #ececec !important;
    height: 40px;
    }
.cprocess{font-size: 14px;color:#222222;margin-top:5px;margin-left:5px;font-weight: 600;}
.home{margin-left: 22px;
        margin-top: 6px;
        font-size: small;
        color: grey;}
.forward{margin-left: 5px;
        margin-top: 10px;
        color: grey;}
.orderdils{
    margin-bottom: -7px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 19px;
    margin-left: 10px;
    text-transform: uppercase;
}
.itemicon1{
color: #E83E74;
margin-left: 15px;
}
.itemicon2{
margin-left: 15px;
color: #E83E74;

}
.orderid{
    font-size: 12px;
    color: #424242;
    margin-left: 9px;
    margin-top: 2px;
}
    

.placed{
    font-size: 12px;
    color: #424242;
    margin-left: 9px;
    margin-top: 2px;
}
    

.border{
    border-bottom: 1px solid #E2E2E2;
    margin-top: 15px;
}
.cutomerdetails{
    font-size: 14px;
    font-weight: 500;
    color: #313131;
    line-height: 1.1;

}
.cutomerdetails1{
// font-size: 13px;
//     color: #7B7B7B;
}
.aboutmrp{
    border-bottom: 1px dotted #d2cece;
    padding-bottom: 5px;
}
.price{
    color: #565656;
    font-size: 14px;
}
.deliverycharges{
    font-size: 13px !important;
    color: #525252 !important;
}
.grandtotl{
    // font-size: 20px;
    // margin: 10px 0;
    // padding: 5px 0;
    // color: #434343;
    // font-weight: 700;
}
.pimage{
    // width: 118px;
    // height: 100px;
    // border: 1px solid #ddd;
    // margin: -13px 0px 0px 10px;
    
}
.bbutton1{
    border-left: 0;
    --border-right: 0;
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: -1px;
    right: 0;
    font-size: 14px;
    color: #fff;
    --background: black;
    width: 28%;
    height: 48px;
    --border-radius: none;
    text-transform: capitalize;
}
.bbutton2 {
    border-left: 0;
    --border-right: 0;
    display: inline-block;
    position: fixed;
    left: 94px;
    bottom: -1px;
    right: 0;
    font-size: 14px;
    --background: black;
    width: 37%;
    height: 48px;
    --border-radius: none;
    color: #fff;
    text-transform: capitalize;
    border-left: 1px solid #fff;
}
.bbutton3{
    border-left: 0;
    --border-right: 0;
    display: inline-block;
    position: fixed;
    left: 244;
    bottom: -1px;
    right: 0;
    --border-radius: none;
    font-size: 14px;
    --background: black;
    color: #fff;
    width: 35%;
    height: 48px;
    --border-radius: none;
    text-transform: capitalize;
}
.ordercancel{
    --background: #EE3826;
    color: #fff;
    padding: 10px;
    position: relative;
    text-align: center;
    display: block;
    text-transform: uppercase;
    height: 60px;
    --border-radius: 0;
}
.botmrow{
    margin-left: 16px;
    margin-top: 7px;
}
.process{
    font-size: 12px;
    color: #464646;
    line-height: 1.65em;
    font-weight: 400;
    margin-left: 10px;
}

.process1{
    font-size: 12px;
    color: #464646;
    line-height: 1.65em;
    font-weight: 400;
    margin-left: 100px;
}
.processing{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    color: #a9a9a9;
    background-color: #92cf5c;
    border: 1px solid #d9d9d9;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    // --background:#92cf5c;
    // --border-radius: 50px;
    // height: 29px;
}
.cancelled{
   --background: #fb6b5b;
    --border-radius: 50px;
    height: 29px;
    margin-left: 5px;
}
.proborder{
    border: 1px solid #FB6B5B;
    --background: #FB6B5B;
    height: 3px;
    width: 70px;
    margin-top: -49px;
}
.shipping{
    --background: #F9F9F9;
    padding: 20px !important;
    margin-bottom: 85px;
    height: 180px;
    border: 1px solid #FFF;
    box-shadow: 0 0 15px #E6E6E6;
    display: block;
    overflow: hidden;
    width: 90%;
    margin-left: 18px;
    margin-top: 37px;
}
.shippinginfo{
    font-size: 18px;
    color: #313131;
    font-weight: 400;
    margin: 9px 0px 0px 0px;
}
.name{
    font-size: 14px;
    color: #313131;
    margin: 9px 0px 0px 0px;
}
.address{
    font-size: 14px;
    color: #636363;
    margin: 9px 0px 0px 0px;
}
.mobileno{
    font-size: 14px;
    color: #636363;
    margin: 9px 0px 0px 0px;
}
.pname{
    // margin: 5px 0;
    font-size: 14px;
    // color: #353535;
}
.item{
    margin: 2px 0px 0px 0px;
    font-size: 12px;
    // color: #564141;
    // color: #8A8989;
    color: #545454
}
.amount{
    // color: #353535;
    font-size: 14px;
    margin: 7px 0px 0px 0px;
}
.dcharges{
    // color: #35C6B7;
    // font-size: 13px;
    font-weight: 400;
}

.manu_button{
    font-size: 250%;
    color: red;
    margin-top: 30px;
    margin-left: -4px;
    width: 61px !important;
  }

  .s-f{
    font-size: 11px;
  }

  ion-img::part(image){
    display: block;
    width: 100%;
    border-radius: 22%;
    height: 92px;
 }

 .pos{
    position: fixed;
      bottom: 0;
  }

  .order_img{

    margin-left: 19px;
    display: block;
    height: 107%;
    width: 79%;
    border-radius: 8px;
    margin-bottom: 8px;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: inherit;
    object-position: inherit;
    // margin-left: 19px;
    // display: block;
    // width: 24%;
    // border-radius: 8px;
    // margin-bottom: 8px;
    // -o-object-fit: fill;
    // object-fit: fill;
    // -o-object-position: inherit;
    // object-position: inherit;
  }

  .item2{
    font-size: 12px;
    color: #8A8989;
}
.cer_name2{
   
    margin: 0;
    padding: 0;
    display: block;
    width: 106%;
    line-height: 70px;
    color: black;
    font-weight: 400;
    /* margin-left: -34px; */
    font-size: 12px;
    /* margin: 42px; */
    margin-left: 17%;
    margin-right: 42px;

}

.cer_name{
    margin: 0;
    padding: 0;
    display: block;
    width: 100px;
    line-height: 70px;
    /* margin-top: 26px; */
    color: black;
    font-weight: 400;
    // padding-left: 0;
    margin-left: -34px;
    font-size: 12px;
}

.borderb{
    border-bottom: 1px solid #F5F5F5;
    margin-top: 15px;
}

.styDelivery{
    // color: #8A8989;
    margin-bottom: 2%;
    font-size: 14px;
}