<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color" >

    <ion-buttons slot="start" >
      <ion-menu-button menu="main-menu" style="color: red;    width: 61px;font-size: xxx-large;"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" style="--background: white;--box-shadow: none;" (click)="openmodal()"  ><ion-icon style="color: black;height: 54px;width: 36px;" name="search"></ion-icon></ion-button>

  </ion-toolbar>
</ion-header>
<ion-content>
<ion-header class="new-background-color1" style="background-color:#ececec;">
  <!-- <ion-label><ion-icon name="home" class="home"></ion-icon></ion-label>
  <ion-label><ion-icon name="chevron-forward" class="forward"></ion-icon></ion-label>
  <label class="cprocess">Order Details</label> -->
</ion-header>
 
    <ion-content >
      <div style="padding-top: 6px;">
        <img ion-center src="./assets/five-star-images/logo.png" id="mipics" (click)="commonService.gotoHome()">
      </div>

      <ion-list id="skeleton" *ngIf="spinner" >
        <ion-list-header>
          <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
        </ion-list-header>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      
      </ion-list>

      <ng-container *ngIf="!spinner">
  
        <ion-row>
          <ion-col size="12"   class="orderdils">Order Details
            </ion-col>
          </ion-row>
          
          
          
            <ion-col size="12"><ion-row>
            <ion-icon name="cart" class="itemicon1"></ion-icon>
            <div class="orderid">Order ID : {{orderItem.id}} &nbsp;({{getTotalQuantity()}} Item) </div></ion-row>
            </ion-col>
          
          
          
            <ion-col size="12">
            <ion-row>
            <ion-icon name="calendar" class="itemicon2"></ion-icon>
            <div class="placed">Placed On : {{orderItem.currentDate | date : 'd MMMM, y  h:mm a'}}</div>
            </ion-row>
            </ion-col>
          
          
          <div class="border"></div>
          
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="cutomerdetails">Customer Information</ion-col>
              <ion-col size="12" style="font-size: 14px;color: #8A8989;" class="cutomerdetails1">   Mobile No./Email : {{saveUser.mobileNo}}</ion-col>
            </ion-row>
          </ion-grid>
          
          
          <ion-grid>
            <ion-row>
              <ion-col size="10" class="cutomerdetails">Payment Method</ion-col>
              <ion-col size="12" style="font-size: 14px;color: #8A8989;" class="cutomerdetails1"> {{orderItem.extChannel.deliveryType}} </ion-col>
            </ion-row>
          </ion-grid>
          
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="cutomerdetails">Payment Status</ion-col>
              <ion-col size="12" style="font-size: 14px;color: #565656;" class="cutomerdetails1">Pending</ion-col>
            </ion-row>
          </ion-grid>
          
          
          
          <ion-grid >
            <ion-row class="aboutmrp">
              <ion-col size="10" class="price">Total-Mrp :</ion-col>
              <ion-col size="2" style="font-size: 14px;" class="totalmrp"><i class="fa fa-rupee">{{orderDetails.total}}</i></ion-col>
            </ion-row>
            <ion-row class="aboutmrp">
              <ion-col size="10" class="price">You Save :</ion-col>
              <ion-col size="2"  style="font-size: 14px;" class="save"><i class="fa fa-rupee">{{orderDetails.discount}}</i></ion-col>
            </ion-row>
            <ion-row class="aboutmrp">
              <ion-col size="10" class="price">Sub-Total :</ion-col>
              <ion-col size="2" style="font-size: 14px;" class="subtotal"><i class="fa fa-rupee">{{orderDetails.subtotal}}</i></ion-col>
            </ion-row>

            <ion-row class="aboutmrp">
              <ion-col size="10" class="deliverycharges">Total Taxes</ion-col>
              <ion-col size="2" style="font-size: 14px;" class="dcharges"><i class="fa fa-rupee">{{totalTaxAmount}}</i></ion-col>
            </ion-row>

            <!-- <ion-row class="aboutmrp" *ngFor="">
              <ion-col size="10" class="deliverycharges">Delivery Charges</ion-col>
              <ion-col size="2" style="font-size: 14px;" class="dcharges"><i class="fa fa-rupee">0</i></ion-col>
            </ion-row> -->

            <ion-row class="aboutmrp" *ngFor="let charges of orderDetails.charges  | slice:0:1;">
              <ion-col size="10" class="deliverycharges">Delivery Charges</ion-col>
              <ion-col size="2" style="font-size: 14px;" class="dcharges"><i class="fa fa-rupee">{{charges.deliveryCharge}}</i></ion-col>
            </ion-row>
          
            <ion-row style="margin-bottom: 15px;">
              <ion-col size="10" class="grandtotl" style="font-size: 18px">Grand Total :</ion-col>
              <ion-col size="2" class="granstotal" style="font-size: 18px;
              color: #0f6fb6;"><i class="fa fa-rupee">{{orderDetails.totalChargesAmount}}</i></ion-col>
            </ion-row>
          
            <ion-row *ngFor="let products of orderProduct" style="margin-top: 5px;">
              <!-- <ion-col size="4" class="grandtotl"><ion-img src="{{products.base64Image}}" class="pimage"></ion-img></ion-col> -->
              <ion-col size="4"  *ngFor="let item of products.item" class="grandtotl"> <img *ngFor="let img of item.itemImages" class="order_img" [src]="'https://www.ere4u.in/thirdparty/uploads/'+img.img_name"  onError="this.src='assets/default-grey.jpg'"></ion-col>
              <ion-col size="8" class="cutomerdetails1">
               <ion-row class="pname">{{products.name}}</ion-row>
                <ion-row class="item">{{products.quantity}} item</ion-row>
                <ion-row *ngFor="let addOns of products.options_to_add" class="item">{{addOns.title}} <span class="ion-margin-start" style="font-style: italic;color: purple;" *ngIf="addOns.quantity != null"> ( Qty - {{addOns.quantity}} ) </span></ion-row>
                <ion-row class="amount ion-margin-top">Amount : Rs.{{products.price}}</ion-row>

              </ion-col>
            </ion-row>
          
            <ion-button class="ordercancel" [attr.disabled]="orderItem.currentState != 'Placed' && orderItem.currentState != 'Acknowledged' ? 'disabled' : null" (click)="orderCancle()">Order Cancel</ion-button>
            <ion-row  *ngIf="orderItem.orderStates.length === 0" class="item2 ion-margin-start" style="color: green;"><span style="font-size: 13px;"> Status: </span><span style="color: red;margin-left: 3%;">{{orderItem.currentState}}</span> </ion-row>
              <ion-row class="botmrow" *ngIf="orderItem.orderStates.length != 0">
                <div >
                  
                  <div class="processing">
                    <p class="cer_name">{{orderItem.previousState}}</p>
                  </div>
                
                <!-- <ion-button class="proborder"></ion-button> -->
                </div>
                <div *ngFor="let state of orderItem.orderStates | unique">
                  <ion-button class="proborder"></ion-button>
                  <div class="processing">
                    <p class="cer_name">{{state.status}}</p>
                  </div>

                 
               
                </div>
            
              </ion-row>

              <ion-row>
                <div >
                  <p class="cer_name2">{{orderItem.currentDate | date : 'h:mm a'}}</p>
                </div>
                <div *ngFor="let state of orderItem.orderStates | unique">
                  <div >
                    <p class="cer_name2">{{state.date | date : 'h:mm a'}}</p>
                  </div>
                </div>
              </ion-row>
              
              <h5 class="ion-margin-start ion-margin-bottom" *ngIf="orderItem.currentState === 'Dispatch'">Delivery Details</h5>

              <ion-row class="ion-margin-start" *ngIf="orderItem.currentState === 'Dispatch'">
               
                <ion-col size="2" class="ion-no-padding">
                  <img src="./assets/five-star-images/deliveryBoy.png" alt="">
                </ion-col>
                <ion-col size="10">
                  <div class="ion-margin-start">
                    <div class="styDelivery">Name: {{orderItem.riderDetails.deliveryPerson.name}}</div>
                    <div class="styDelivery">Phone: {{orderItem.riderDetails.deliveryPerson.phone}}</div>
                  </div>
                 
                </ion-col>
              </ion-row>
          </ion-grid>
          
          <ion-grid class="ion-no-padding ion-margin-bottom">
            <ion-row>
              <ion-col>
                <ion-card class="shipping"> 
                  <ion-row class="shippinginfo">Shipping Information</ion-row>
                  <ion-row class="name">{{saveUser.fristName}} {{saveUser.lastName}},</ion-row>
                  <div *ngFor="let add of saveUser.addressUser">
                    <ion-row class="addres">{{add.street1}} {{saveUser.pincode}}</ion-row>
                  </div>
                  <!-- <ion-row class="address">Akriti Garden ,2145 - 462016</ion-row> -->
                  <ion-row class="mobileno">Mobile No: {{saveUser.mobileNo}}</ion-row>
                  </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
          
          
          <!-- <ion-row style="margin-top: 2px;">
            <ion-button class="bbutton1" routerLink='/my-order'><span class="s-f">My Orders</span></ion-button>
            <ion-button class="bbutton2" routerLink='/change-password'><span class="s-f">Change Password</span></ion-button>
            <ion-button class="bbutton3" routerLink="/save-address"><span class="s-f">Delivery address</span></ion-button>
          </ion-row> -->
      </ng-container>

  
      <!-- <ion-header class="new-background-color1" style="background-color:#ececec;">
        <ion-label><ion-icon name="home" class="home"></ion-icon></ion-label>
        <ion-label><ion-icon name="chevron-forward" class="forward"></ion-icon></ion-label>
        <label class="cprocess">Order Details</label>
      </ion-header> -->
    
      
      </ion-content>
  
      <ion-footer class="pos">
        <ion-toolbar style="--background: black;">
          <ion-grid>
            <ion-row style="text-align: center;">
              <ion-col size="3"  (click)="gotoMyOrder()">
                <ion-label ><span style="font-size: 12px;color: white;">My Orders</span></ion-label>
                
                
              </ion-col>
              
              <ion-col size="5"  (click)="gotoChangePassword()">
                <ion-label><span style="font-size: 12px;color: white">Change Password</span></ion-label>
                 
               
              </ion-col>
        
              <ion-col size="4"  (click)="gotoAddress()">
             
                <ion-label><span style="font-size: 12px;color: white">Delivery address</span></ion-label>
               
              </ion-col>
            </ion-row>
          </ion-grid>
         
          
          <!-- <ion-title>Footer - No Border</ion-title> -->
        </ion-toolbar>
      </ion-footer>

