<ion-header [translucent]="true" class="headers">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
     <ion-back-button (click)="gotoLogIn()" class="back"></ion-back-button><br>
      <ion-title (click)="gotoLogIn()" class="loginr">Login/Register</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #F7F5F5"><br>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" style="--background: #F7F5F5;">
          <ion-label style="color: red;font-size: 16px;">Forget/Password</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item lines="none" style="--background: #F7F5F5;">
          <ion-label style="color: red;font-size: 16px;">We will Send your Password</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item style="--background: #F7F5F5;width: 318px" slot="start" lines="inset">
            <ion-label position="stacked" position="floating"  class="enter">Please Enter Your Mobile Number </ion-label>
            <ion-input required  minlength="10" maxlength="10" type="tel" name="typeValue"  formControlName="typeValue" style="font-size: 14px;"></ion-input>
          </ion-item>
      
          <br>
      
          <div style="margin-bottom: 16px; margin-left: 15px;margin-top: -20px;font-size: 12px;" *ngIf="submitted && f('typeValue').hasError('required')" >
            <span [style.color]="'red'" *ngIf="f('typeValue').hasError('required')">Can't be empty</span>
          </div>
      
          <div *ngIf="form.get('typeValue').touched && form.get('typeValue').invalid">
            <div  style="color: red;
            margin-top: -17px;
            font-size: 12px;
            margin-bottom: 20px;
            margin-left: 18px;"  *ngIf="form.get('typeValue').errors.maxlength">
                  Must be 10 characters long!
           </div>
      </div> 
         
          <div  style="color: red;
                      margin-top: -17px;
                      margin-bottom: 20px;
                      margin-left: 18px;font-size: 12px;" *ngIf="f('typeValue').hasError('pattern')" >
                         Input must be a number!
                     </div>
      
                     
      
          <div  *ngIf="form.get('typeValue').touched && form.get('typeValue').invalid">
            <div [style.color]="'red'" style="margin-left: 15px;margin-top: -20px;font-size: 12px; margin-bottom: 18px;font-size: 12px;" *ngIf="form.get('typeValue').errors.minlength">
               Must be 10 characters long!
           </div>
      </div>
      
      <ion-button type="submit" style="--background: red;" expand="block" strong="true" >Get Password</ion-button>
      
        </form>
      
      </ion-col>
    </ion-row>
      
  </ion-grid>
  

  <!-- <ion-label position="stacked" class="forget">We will Send your Password</ion-label> -->
  
  
    <ion-back-button defaultHref="/tabs/tab3" text="Back" class="forward"></ion-back-button>
    
 </ion-content>
