
    

.new-background-color{
  height: 47px;
    --background: white;
  }
.loginr{
  color: black;
  font-size: 16px;
  margin-left: -22px;
  margin-top: 3px;
  margin-bottom: 11px;
  }
.back{
    color: black;
  }

.new-background-color1{
--background: #ececec !important;
height: 40px;
}
.cprocess{font-size: 14px;color: black;margin-top:10px;margin-left:5px;}
.home{margin-left:12px;margin-top:12px;}
// .forward{margin-left: 15px;margin-top:-41px;}
.loginred{
  color: #EF3926;
  font-size: 16px;
  margin-left: -5px;
  margin-bottom: 6px;
  font-weight: 600;
  }
.lock{
  color: #EF3B26;
  font-weight: 600;
}
.lock1{
  color: #EF3B26;
}
.btn{
  --background: red;
  height: 46px;
  width: 331px;
  margin-left: 14px;
  font-size: 15px;
  margin-bottom: 21px;
}
.forget{
  font-size: 15px;
  margin-left: 16px;
}
.enter{
    font-size: 14px;
}
.cprocess{
    color: #EF3B26;
    margin-left: 32px;
    
}
.forward{
  color: #EF3B26;
  margin-left: -269px;
  --ripple-color: transparent !important;
  margin-top: 0px;
}

.chev{margin-left: 10px;}
.cpp{color: black;font-size:12px;margin-top: 5px !important;}