<ion-header *ngIf="!spinner" >
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons slot="end" class="btn-close" >
        <ion-button style="font-size: larger;" class="btn-close"  (click)="dismissModal()"> <div><ion-icon style="font-size: 148%;margin-right: -12px;" name="close-outline"></ion-icon></div> </ion-button>
      </ion-buttons>
      <h4>{{headerName}}</h4>
    </ion-item>
    
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list id="skeleton" *ngIf="spinner" >
    <ion-list-header>
      <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  
  </ion-list>

  <div *ngIf="!spinner">
    <ion-list *ngFor="let p of addOnsCart" lines="none" >
      <!-- <ion-card-content class="ion-no-padding"> -->
  
       
          <ion-grid>   
           
             
                <div *ngIf="p.base64Image">
                  <!-- <ion-badge *ngIf="p.foodType === '1'" class="food_veg"  color="success" ><span>o</span></ion-badge> -->
                    <!-- <span *ngIf="p.foodType === '1'"  class="veg-indian-vegetarian"></span> -->
                    <img class="veg_img" *ngIf="p.foodType === '1'" src="assets/five-star-images/veg.png" alt="">
                    <img class="veg_img" *ngIf="p.foodType === '4'" src="assets/five-star-images/non-veg.png" alt="">
                  <!-- <ion-badge *ngIf="p.foodType === '4'"  class="food_veg" color="danger"><span>o</span></ion-badge> -->
                </div>
             
         

          <ion-row style="margin-top: -26px;">
              <!-- <ion-img style="height: 85px;"  [src]="p.base64Image" ></ion-img> -->
            <ion-col  size="8" style="padding-left: 16px;">
              <div style="margin-left: 6px;">
                
                  <h4 style="font-size: 17px;" class="font-18" style="font-size: 16px">{{ p.name }}</h4>
                   <h2 style="color: black;margin-top: 7px;font-size: 14px;"  > <i class="fa fa-rupee"></i> {{ p.price - p.discountPrice }} </h2>
                   
                   <div *ngFor="let o of p.optionGroup; last as islast" >
                     <div  *ngIf="islast">
                       <div *ngFor="let b of o">
                        <ion-label style="font-size: 12px;color: #040404a8;"><span *ngIf="b.ref_id.includes('VO')">Size:  </span> <span *ngIf="b.ref_id.includes('OGI')">Extras:  </span> {{b.name}}</ion-label>
                       </div>
                      
                     </div>
              
                   </div>
                 
                </div>
  
            </ion-col>      
          
            <ion-col size="4">
              <ion-row class='ion-margin-top'>
                  <div class="increment">
                    <ion-row style="width: 104px;" >
                      <ion-button size="small" color="red" fill="clear" (click)="decreaseCartItem(p, itemData)">
                                    
                        <ion-icon name="remove" class="minus"></ion-icon>
                    </ion-button>
                    <div   id="quant">
                      {{ p.quantity }}
                    </div>
                    
                    <ion-button size="small" color="red" fill="clear" (click)="increaseCartItem(p)" >
                        <ion-icon name="add" class="plus"></ion-icon>
                    </ion-button>
                    </ion-row>
                    </div>
                <!-- </ion-col> -->
              </ion-row>
              <h6 style="color: black;margin-left: 52%;"> <i class="fa fa-rupee" style="font-size: 16px;"></i> {{(p.price - p.discountPrice) * p.quantity}}</h6>
             
            </ion-col>
            

          </ion-row>
           
              <!-- <img class="item_img" [src]="p.base64Image" onError="this.src='assets/default-grey.jpg'"> -->
            
        </ion-grid>
      <!-- </ion-card-content> -->
    </ion-list>

    
     
    
    <!-- <ion-item lines='none'>
      <ion-button (click)="repeatLastItem(p)" fill='solid' size='default' colo="danger" class="repeat_new">
        Repeat Last
      </ion-button>
    </ion-item> -->

    
  </div>
 
 
  

</ion-content>

<ion-footer *ngIf="!spinner" >
  <ion-toolbar style="margin-bottom: 29px;">
    <ion-row>

    

      <!-- /if quantity button is showing then button col size is 7 -->
      <ion-col>
        <div>
          <ion-item lines='none'>
            <ion-icon style="color: red;" name="add-outline"></ion-icon>
            <ion-button (click)="addNewItem(addProductQuantity)" fill='clear' size='default' colo="danger" class="add_new">
              Add New Customization
            </ion-button>
          </ion-item>
         </div>      
        </ion-col>
    </ion-row>
    
    <!-- <ion-title>Footer - No Border</ion-title> -->
  </ion-toolbar>
</ion-footer>