.super{
    font-family: 'Muli';
font-style: normal;
font-weight: 900;
font-size: 34px;
line-height: 43px;
margin-left: 20px;
color: #222222;
margin-top: 15px;
}

.superp{
    font-family: 'Muli';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
margin-left: 20px;
display: flex;
align-items: center;
color: #222222;
margin-top: 10px;
}
.inptypel{
    width:330px;
    background: #FFFFFF;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top:20px;
    margin-left: 15px;
    text-align: left;
    height: 70px;
}
.superpas{
    font-family: 'Muli';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
margin-left: 18px;
display: flex;
align-items: center;
margin-top: 23px;
color: #222222;
}
.Change{
    
font-family: 'Muli';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
margin-left: 175px;
float: right;
color: #0085FF;
margin-top: 5px;

}