<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="" ></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title class="super">Settings</ion-card-title>
  <ion-card-title class="superp">Personal Information</ion-card-title>
  
  <ion-input type="text" placeholder="Full name" class="inptypel" name="title" required></ion-input>

  <ion-input type="text" placeholder="Date of Birth" class="inptypel" name="title" required></ion-input>
  
  <ion-card-title class="superpas">Password <span class="Change">Change</span></ion-card-title>

  <ion-input type="Password" placeholder="****************" class="inptypel" name="title" required></ion-input>

</ion-content>
